{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<style type="text/css">

.plot_link{
 cursor: pointer;
}
</style>

<!--    <script src="{% static "js/bokeh-0.9.0.min.js"%}"></script>
<link rel="stylesheet" href="{% static "css/bokeh-0.9.0.min.css" %}"/> -->
<script src="{% static "plotly/dependencies/d3.v3.min.js" %}"></script>
 <script src="{% static "plotly_20150819a_basic/plotly.min.js" %}"></script>


{% endblock %}
{% block content %}
<p class="bg-info" style="width:100%;padding-left:20px">Hint: Filtering has been disabled since there's only 1 run in the DB as an example. Also only a few plots are available as tests. Histograms and scatter plots should be implemented in the pax online_monitor branch and, if configured correctly, they should be automatically displayed here. </p>

<div class="col-xs-3" style="padding-top:5px;">
  <div class="panel-group" id="accordion_toplevel" role="tablist"
       aria-multiselectable="false">
    <div class="panel panel-default">	 
      <div class="panel-heading" style="background-color:#5992c2;color:#FFFFFF">
        <h4 style="margin:0">
	  <a role="button" data-toggle="collapse" 
	     data-parent="#accordion_toplevel"
             href="#collapseDataChooser" aria-expanded="true"
             aria-controls="collapseDataChooser" style="color:white">
	    Step 1: Choose your data
	  </a>
	</h4>
      </div>
      <div id="collapseDataChooser" class="panel-collapse collapse in"
           role="tabpanel" aria-labelledby="headingDataChooser">
	<form method="POST" action="" id="filter_form">
          {% csrf_token %}
	  
	  <span class="list-group-item" style="border:0">
	    <strong>Data range </strong>
	    <span><br>
	      <input type="radio" name="runs_sel"  value="all" 
		     checked="checked" /> 
	      All runs </span>	    
	    <span><br>	    
	      <input type="radio" name="runs_sel"  
		     value="current" /> Current run </span>
	    <br>
	    <span><br>
              <input type="radio" name="runs_sel"
                     value="last_n_runs" /> Last&nbsp; <input type="number" id="lastn" name="lastn" style="width:60px" value="5"/>&nbsp; runs </span>
            <br>
	    <span>
	      <input type="radio" name="runs_sel"  value="range" /> Date range
	    </span>	  
	    <br>
	    <div class="row">
	      <div class="col-xs-2 col-xs-offset-1">From </div>
	      <div class="col-xs-8">
		<input type="date" name="start_date">
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-xs-2 col-xs-offset-1">To </div>
	      <div class="col-xs-8">
		<input type="date" name="end_date">
	      </div>
	    </div>
	    
          </span>
	  <span class="list-group-item" style="border:0">
	    <div class="row">
	      <div class="col-xs-3"><strong>Mode:</strong></div>
	      <div class="col-xs-9">
		<select id="run_mode_tpc" name="run_mode_tpc"></select>
	      </div>
	    </div>
	    
	  </span>
	  <span class="list-group-item" style="border:0;padding-bottom:0;padding-top:0">
	    <div class="row">
	      <div class="col-xs-12">
		<button type="submit" 
			class="btn btn-success pull-right">Process</button>
	      </div>
	    </div>
	  </span>
	</form>
      </div>     
    </div>
    <div class="panel panel-default" style="margin-top:0">
      <div class="panel-heading" 
	   style="background-color:#5992c2;color:#FFFFFF">	      
        <h4 style="margin:0">
	  <a role="button" data-toggle="collapse" 
	     data-parent="#accordion_toplevel"
	     href="#collapseSpectrumChooser" aria-expanded="true"
	     aria-controls="collapseSpectrumChooser" style="color:white"
	     id="second_header">
	    Step 2: Choose your spectrum
	  </a>
	</h4>	     
      </div>	  
      <div id="collapseSpectrumChooser" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="headingSpectrumChooser">
	<div class="panel-group" id="accordion" role="tablist" 
	     aria-multiselectable="true" style="margin-bottom:0">
	  <div class="panel panel-default" style="margin:0">
	    <div class="panel-heading" 
		 style="background-color:#4fa783;color:#FFFFFF;"
		 role="tab" id="headingOne">
	      <h4 class="panel-title">
		<a role="button" data-toggle="collapse" 		   
		   href="#collapseOne" aria-expanded="true" 
		   aria-controls="collapseOne">
		  1-D Histograms
		</a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in" 
		 role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body" id="h1">
		List spectra here
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default" style="margin:0">
	    <div class="panel-heading" 
		 style="background-color:#4fa783;color:#FFFFFF;"
		 role="tab" id="headingTwo">
	      <h4 class="panel-title">
		<a role="button" data-toggle="collapse" 
		   href="#collapseTwo" 
		   aria-expanded="true" aria-controls="collapseTwo">
		  2-D Histograms
		</a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" 
		 aria-labelledby="headingTwo">
	      <div class="panel-body" id="h2">
		
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default" style="margin:0">
	    <div class="panel-heading" 
		 style="background-color:#4fa783;color:#FFFFFF;"
		 role="tab" id="headingThree">
	      <h4 class="panel-title">
		<a role="button" data-toggle="collapse" 
		   href="#collapseThree" 
		   aria-expanded="true" aria-controls="collapseThree">
		  Scatter Plots
		</a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" 
		 aria-labelledby="headingThree">
	      <div class="panel-body" id="scatter">
		
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading" style="color:#666666"><!-- style="background-color:#5992c2;font-color:#888888">-->
        <h4 style="margin:0">
          <a role="button" data-toggle="collapse"
             data-parent="#accordion_toplevel"
             href="#runs-div" aria-expanded="true"
             aria-controls="runs-div" style="color:#444444">
            Included Runs
          </a>
        </h4>
      </div>
      <div class="panel-body" id="runs_div">                
      </div>
  </div>
</div>
<div class="col-xs-9">
  <div id="plot_div"></div>
  <br>
  <div class="panel panel-default">
      <div class="panel-heading" style="color:#666666"><!-- style="background-color:#5992c2;font-color:#888888">-->
        <h4 style="margin:0">
          <a role="button" data-toggle="collapse"             
             href="#description-div" aria-expanded="true"
             aria-controls="description-div" style="color:#444444">
            About this plot
          </a>
        </h4>
      </div>
      <div class="panel-body" id="description_div">
      </div>
  </div>
</div>



<script type="text/javascript">
  var run_mode_list_url = "/config/fetch_mode_list";
  //var aggregate_list_url = "/monitor/get_aggregate_list";
  //var aggregate_data_url = "/monitor/get_aggregate_plot/";
  var aggregate_data_url = "/monitor/get_available_plots";
  var plot_data_url="/monitor/get_plot";
  var url_end = "";


function Make1DHistogram(doc, div){
  // Put data in plotly form
  
  var x_bin = (doc['xaxis']['max']-doc['xaxis']['min']) / doc['xaxis']['bins'];
  var x_values = [];
  for(i=doc['xaxis']['min']; i<=doc['xaxis']['max']; i+=x_bin)
        x_values.push(i);
  var data = [
  {
    y: doc['data'],
    x: x_values,
    type: 'bar',
    xbins:{
       start: doc['xaxis']['min'],
       end: doc['xaxis']['max'],
       size: x_bin
    },
    marker: {
      color: 'rgba(55,128,191,0.7)',
      line: {
        color: 'rgba(55,128,191,1.0)',
        width: 2
      }
    }
  }
  ];
  var layout = {
  title: doc['name'],
  xaxis: {
    tickformat: 'f',
    title: doc['xaxis']['label']
  }, 
  yaxis: {
    title: "Counts",
  },
  bargap :0.0,
  }
  console.log(data);
  console.log(layout);
Plotly.newPlot(div, data, layout, {'showLink':false, 'displaylogo':false});
}
function Make2DHistogram(doc, div){

     // Reformat data for plotly
     var x_values = [];
     var y_values = [];
     var x_bin = (doc['xaxis']['max']-doc['xaxis']['min']) / doc['xaxis']['bins'];
     var y_bin = (doc['yaxis']['max']-doc['yaxis']['min'])/doc['yaxis']['bins'];
     for(i=doc['xaxis']['min']; i<=doc['xaxis']['max']; i+=x_bin)
        x_values.push(i);
     for(i=doc['yaxis']['min']; i<=doc['yaxis']['max'];i+=y_bin)	  
	y_values.push(i);
	console.log(y_values);
     var data = [
         { 'z': doc['data'],
           'x': x_values,
           'y': y_values,
           'type':'heatmap',
	   'colorscale': [["0", "rgb(255,255,255"], ["0.0000000001", "rgb(12,51,131)"], ["0.25", "rgb(10,136,186)"], ["0.5", "rgb(242,211,56)"], ["0.75", "rgb(242,143,56)"], ["1", "rgb(217,30,30)"]], 
}];
  var layout = {
  title: doc['name'],
  annotations: [],
  xaxis: {
    tickformat: 'f',
    title: doc['xaxis']['label']
  },
  yaxis: {
    tickformat: 'f',
    ticksuffix: ' ',
    title: doc['yaxis']['label']
  }
};
console.log(data);
Plotly.newPlot(div, data, layout, {'showLink':false, 'displaylogo':false});
}
function MakeScatterPlot(doc, div){
	var data=[{
		x: doc['data']['x'],
	        y: doc['data']['y'],
                type: 'scatter',
                mode: 'markers'
        }];
        var layout = {
                title: doc['name'],
                xaxis: {
		  tickformat: 'f',
                  title: doc['xaxis']['label'],
                },
                yaxis: {
                  tickformat: 'f',
                  title: doc['yaxis']['label'],
                }
         };
Plotly.newPlot(div, data, layout, {'showLink':false, 'displaylogo':false});
}
function FillRunsList(run_data, div){

   document.getElementById(div).innerHTML = "";
   html_string = "<ul>";
   for(x=0;x<run_data.length;x+=1){
	 html_string += "<li style='font-size:10pt'>";
         html_string += run_data[x];
         html_string += "</li>";
   } 
   html_string += "</ul>";                                                
   document.getElementById(div).innerHTML =html_string;
}

  function DrawPlot(name){

  //we needthe same filterthat there was,so keepurl_end
  var url = plot_data_url + url_end;

  //we needto add the actual name of the plot
  url += "name=";
  url += name;
  url += ";";

  //Now get the data from the server
  $.getJSON(url, function(data){

     console.log(data);
     if(data['plot']['type'] == 'h1'){
	Make1DHistogram(data['plot'], 'plot_div');
     }
     else if(data['plot']['type'] == 'h2'){
	Make2DHistogram(data['plot'], 'plot_div');
     }
     else if(data['plot']['type'] == 'scatter'){
	MakeScatterPlot(data['plot'], 'plot_div');
     }
     FillRunsList(data['runs'], 'runs_div');
    document.getElementById("description_div").innerHTML = data['plot']['description'];

  /*document.getElementById("plot_div").innerHTML = "";
  $("#plot_div").append(data['div']);
  $("#plot_div").append(data['script']);
  for(var idex=0; idex<Bokeh.Collections('Plot').length;idex+=1){
			 Bokeh.Collections('Plot').at(idex).set("plot_width", $("#plot_div").width());
			 Bokeh.Collections('Plot').at(idex).set("plot_width", $("#plot_div").width());
			 }*/

  });

  }
  
  $('#filter_form').submit(function(e){
     e.preventDefault();  
     document.getElementById("second_header").click();
     console.log(e);

     // Get value of runs_sel radio
     runs_sel = $('input[name="runs_sel"]:checked').val();
     run_mode = $("#run_mode_tpc").val();

     var start_date = null;
     var end_date = null;

     if(runs_sel == "range"){
       start_date = $("#start_date").val();
       end_date = $("#end_date").val();
     }     
     console.log(start_date);

     // Create a GET request with the data embedded
     url_end = "";
     if(runs_sel == "all")
        url_end += "?selection=all;";
     else if(runs_sel =="current")
        url_end += "?selection=current;";
     else if(runs_sel == "last_n_runs"){
	url_end += "?selection=lastn;nruns=";
        url_end += $("#lastn").val();
        url_end += ";"        
     }
     else {
        url_end += "?selection=range;";
        if(start_date != null)
           url_end += "start_date=" + start_date;
        if(end_date != null)
           url_end += "end_date=" + end_date;
     }
     if(run_mode != "All")
        url_end += "run_mode=" + run_mode;
     console.log(url_end);
     var total_url = aggregate_data_url + url_end;
     $.getJSON(total_url,function(data){
	console.log(data);
         console.log(data);
         for (var key in data) {                        
             if (data.hasOwnProperty(key)) {
                var html_line = "<ul>";
                for(var idex=0; idex<data[key].length; idex+=1){
                    html_line += "<li style='font-size:10pt'><a class='plot_link' onclick='DrawPlot(" + '"' + 
				data[key][idex] + '");' + "'>"+ data[key][idex] + 
                                "</a></li>";
                }
                html_line += "</ul";
                document.getElementById(key).innerHTML = html_line;
             }
         }

     });
  });

      $(function(){

         // Fill run mode list
         $.getJSON(run_mode_list_url, function(data){
             if(data!=null){
                if("tpc" in data){
                  $("#run_mode_tpc").append("<option name='all';'>All</option>");
                    for(x=0;x<data['tpc'].length;x++){
                        $("#run_mode_tpc").append("<option name='"
				+ data['tpc'][x] + "'>"+
                                data['tpc'][x]+"</option>");
		    }
                }
          }});

	
    /*$.getJSON(aggregate_list_url, function(plotdata){

         for(x=0; x<plotdata.length; x+=1){

             query = aggregate_data_url + "?name=" + plotdata[x];
              widget_id = "plot_" + x.toString();
              $.getJSON(query, function(aggregate_data){

                    if (aggregate_data != null && aggregate_data != {}) {
                        console.log(aggregate_data);
                        $("#grid").append(MakeGridTemplate(aggregate_data['div']));
                        $("body").append(aggregate_data['script']);

                    }
              }); // End second getJSON

              } // End for
          }); // End first getJSON
*/
    });

    </script>
<script id="js_div"></script>

{% endblock %}
