{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

  <script src="{% static "js/pace.min.js"%}"></script>
  <link href="{% static "css/pace.css"%}" rel="stylesheet" />
    <script type="text/javascript">Pace.start();</script>
     <script src="{% static "js/bokeh-0.9.0.min.js"%}"></script>
<link rel="stylesheet" href="{% static "css/bokeh-0.9.0.min.css" %}"/>
{% endblock %}
{% block content %}
     <div class="col-xs-12">
       <br>
        <h3 id="run_name">Noise report for run {{ run_name }}</h3>	
	{% if approved %}
	<span>Approved by {{ approved_user }} on {{ approved_date|date:"DATETIME_FORMAT" }} </span>
	{% else %}
	<a class="btn btn-info" href="/monitor/noise_report?run={{ run_name }};approved=true">Approve this report</a>
	{% endif %}	
	<br>
    </div>
   <div class="col-xs-12" id="grid" style="overflow-x:scroll;">
       {%  for plot in plots %}
   {% autoescape off %}{{ plot.div }}{{ plot.script }}{% endautoescape %}
       {% endfor %}
</div>
<script type="text/javascript">
    $(function(){


    });
</script>
{% endblock %}

