{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<script src="{% static "DataTables-1.10.7/media/js/jquery.dataTables.min.js"%}"></script>
  <link href="{% static "DataTables-1.10.7/media/css/jquery.dataTables.min.css"%}" rel="stylesheet" />

{% endblock %}
{% block content %}

<div class="row" style="margin-top:10px;">
<div class="col-xs-3 col-sm-3">
    <h3>Noise Spectra</h3>
</div>
</div>
    <br>

<table id="noisetable" 
       class="display" >
       <!--style="background-color:white;padding:0;">-->
  <thead>
  <tr>
    <th style="width:200px"> Date (UTC)</th>
    <th> Run </th>
    <th> Approved by</th>
    <th style="width:50px;"> Channels </th>
    <th> Comments </th>
    <th style="pull-right;width:50px;"></th>
  </tr>
  </thead>
  <tbody>
    {% for run in run_list %}
        <script>console.log("{{ run }}");</script>
        {% if run.approved %}
        <tr><!-- style="background-color:#EEEEEE;">-->
        {% else %}
        <tr>
      {% endif %}
      <td style="color:black;"><strong> {{ run.date|date:"DATETIME_FORMAT" }} </strong></td>
      <td style="color:black;"><strong>{{run.run_name}}</strong></td>
      <td style="color:black;">{% if run.approved %} {{ run.approved_user }}{% endif %}</td>
      <td style="color:black;text-align:center;">{{run.channels}}</td>
    {% if "comments" in run %}
        <td> <span class="glyphicon glyphicon-comment" style="text-align:center;">
	    &nbsp{{ run.comments|length }}</span></td>
  {% else %}
        <td> <span class="glyphicon glyphicon-comment">&nbsp0</span></td>
  {% endif %}
    <td><a class="btn btn-info btn-tiny" style="margin:0" href="/monitor/noise_report?run={{ run.collection }}">View/Approve</a></td>
      </tr>
{% endfor %}
</tbody></table>

<script type="text/javascript">
  $(document).ready(function(){
     $('#noisetable').DataTable({
        "order": [[ 0, "desc" ]],
        "iDisplayLength": 100,});
     });
</script>

{% endblock %}
