{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<script src="{% static "js/moment.js"%}"></script>
<!--<script src="{% static "Dygraph/js/dygraph-combined.js"%}"></script>-->
<script src="{% static "plotly_20150819a_basic/dependencies/d3.v3.min.js" %}"></script>
 <script src="{% static "js/plotly-latest.min.js" %}"></script>
<script src="{% static "js/fullcalendar.min.js"%}"></script>
  <link href="{% static "css/fullcalendar.min.css"%}" rel="stylesheet" />
<style>
.fc-event{
    cursor: pointer;
}
</style>
<script type="text/javascript">
function componentToHex(c) {
    var hex = c.toString(16);
    return hex.length == 1 ? "0" + hex : hex;
}
function rgbToHex(r, g, b) {
    return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
}

$(document).ready(function() {
   var colors = {};
   var baser = 50;
   var baseg = 200;
   var baseb = 100;
/*    $('#calendar').fullCalendar(
        // your event source
        {
            url: '/monitor/get_calendar_events', // use the `url` property
            color: 'yellow',    // an option!
            textColor: 'black',  // an option!
error: function() {
                alert('there was an error while fetching events!');
            },
        }
        // put your options and callbacks here
    );*/

//    $('#collapseTwo').on('shown.bs.collapse', function () {
        $('#calendar').fullCalendar(
        {
            eventLimit: true,
            events: '/monitor/get_calendar_events', // use the `url` property
            color: 'yellow',    // an option!
            textColor: 'black',  // an option!
error: function() {
                alert('there was an error while fetching events!');
            },
            eventAfterRender: function(event, element, view){

                if(!(event.mode in colors)){

                     var ar = Math.floor((Math.random() * 256) + 1);
                     var ag = Math.floor((Math.random() *256) +1);
                     var ab = Math.floor((Math.random() *256) +1);
                     colors[event.mode] =   rgbToHex( Math.floor((ar+baser)/2),
                                                      Math.floor((ag+baseg)/2),
                                                      Math.floor((ab+baseb)/2));
                }
                console.log(colors[event.mode]);
                element.css('background-color', colors[event.mode]);
            },
            eventClick: function(calEvent, jsEvent, view) {
                var url = "/runs/?startdate=&enddate=&mode=All&custom=%7B\
%22name%22%3A+%22" + calEvent.title + "%22%7D&submit="; 
                window.location.href=url;
//          alert('Event: ' + calEvent.title);
//        alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
//        alert('View: ' + view.name);

        // change the border color just for fun
  //      $(this).css('border-color', 'red');

    }
        }

);
//    });
});
</script>
{% endblock %}
{% block content %}
<p class="bg-info" style="width:100%;padding-left:20px">Note: The idea of this page is to take a look and have some idea what data we've been taking under what conditions for the last week or month or whatever. It's not complete but it's also not so important. More of an airport project (as in work on it while waiting at an airport).</p>

<div class="row" style="margin-top:10px;">
  <div class="col-xs-3 col-sm-3">
    <h3>Run Statistics</h3>    
  </div>
</div>
<br>
<div class="col-xs-12 emobox">
  <div class="col-xs-12" style="padding:0"><h4 id="uptime_plot_title"></h4></div>
  <div class="col-xs-12" style="padding:0;height:150px;" id="uptime_plot"></div>                                                                               
</div>
<div class="col-xs-12 emobox">
<div id="calendar"></div>     
</div>                                                                                                                         

<!--<div class="panel-group" style="width:100%;margin:0;" id="accordion" 
     role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">   
    <div class="panel-heading" role="tab" id="headingOne"> 
      <h4 class="panel-title"> 
	<a role="button" data-toggle="collapse" data-parent="#accordion" 
	   href="#collapseOne" aria-expanded="true"   aria-controls="collapseOne">
	  General
	</a>
      </h4> 
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" 
	 aria-labelledby="headingOne">  
      <div class="panel-body">
	<div class="row">
	  <div class="col-xs-2">
	    <div class="btn-group-vertical" style="margin:0;" role="group" aria-label="...">
	        <button type="button" style="margin:0;background-color:white;color:black;" 
			class="btn btn-default" onclick="ShowPlot('Uptime')">
		  Uptime
		</button>
		<button type="button" style="margin:0;background-color:white;color:black;" 
			class="btn btn-default" onclick="ShowPlot('DM uptime');">
		  DM uptime
		</button>
		<button type="button" style="margin:0;background-color:white;color:black;" 
			class="btn btn-default" onclick="ShowPlot('Run types');">
		  Run types
		</button>
		<button type="button" style="margin:0;background-color:white;color:black;" 
			class="btn btn-default" onclick="ShowPlot('Triggers vs time');">
		  Triggers vs. time
		</button>
	    </div>
	  </div>
	  <div class="col-xs-10">
	    <h4 style="margin-top:0px;">Showing plot: &nbsp;<span id="focus_plot_name"></span></h4>
	    <div class="col-xs-10" style="min-height:400px;" id="plot_div"></div>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapseTwo" aria-expanded="true"   aria-controls="collapseTwo">
          Calendar
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
         aria-labelledby="headingTwo">
      <div class="panel-body">
	<div id="calendar"></div> 
      </div>
    </div>
  </div>

</div>

</div>--><!-- End panel group -->

<script type="text/javascript">

var uptime_url = "runstats_uptime";

$(document).ready(function(){
    ShowPlot('Uptime', "uptime_plot");
});

function AddToData(time0, time1, updown, start, retdict)
{
     var first = new Date(time0);

    // first get minutes of first date
    if(retdict['x'].length == 0){
      retdict['x'].push(moment(first).format("YYYY-MM-DD HH"));
      retdict['y'].push(0.);
    }
    var first_minutes = 60-first.getMinutes();
console.log(first);
console.log(first_minutes);
console.log(first_minutes/60.);
    console.log(retdict['y'][retdict['y'].length-1]);

    retdict['y'][retdict['y'].length-1] += (updown*(first_minutes/60.));
    console.log(retdict['y'][retdict['y'].length-1]);
    var second = new Date(time1);
    var diff = second-first;
    var hours = Math.ceil((((diff)/1000)/3600)-(first_minutes/60.));
   console.log(hours);
//    var retdict = {'x':[], 'y':[]};
//    var retarray = [];
    if(hours > 1)
        hours -=1; // round for partial hours
    for(var x=0; x<hours; x++){
        var D = new Date(first);
        D.setHours(D.getHours()+x);
//        retdict['x'].push(D);
	retdict['x'].push(moment(D).format("YYYY-MM-DD HH"));
        retdict['y'].push(updown);
        //retarray.push([D, updown]);
//	retarray.push([ new Date(D.strftime("%Y-%m-%d %H:%M:%S")), updown]);
//        retarray.push([ start + x, updown ] );
    }
    //finally add minutes for last time
    retdict['x'].push(moment(second).format("YYYY-MM-DD HH"));
    retdict['y'].push(updown*(second.getMinutes()/60.));
    //return retdict;
}
function ShowPlot(name, div){
 
    // If this plot is already showing do nothing
    //if( document.getElementById("focus_plot_name").innerHTML == name )
    //   return;
    
    // Set plot title

    document.getElementById(div+"_title").innerHTML = name;
console.log(name);
    if(name == "Uptime" || name=="DM Uptime"){
        var url = uptime_url + "?dm=";
console.log(url);
        if(name == "DM Uptime")
            url += "true";
        else 
            url += "false";
        $.getJSON(url, function(data){
console.log(data);

            var plot_data = {'x':[], 'y':[], 'type':'bar', 'xbins': {'size': 186400000.0}};

            var prev_end_time = null;          
            for( var x=0; x<data['data'].length; x+=1){
                // fart noise
                if( prev_end_time != null )
		    AddToData(prev_end_time, data['data'][x][0], 0, plot_data.length, plot_data);
                prev_end_time = data['data'][x][1];
		AddToData(data['data'][x][0], data['data'][x][1], 1, plot_data.length, plot_data);
		
            }

            // Make the plot
            console.log(plot_data);
            plotly_data=[plot_data];
	    var layout = {bargap:0.0, margin: {l:40, r:40, t:25, b:40}};
		 Plotly.newPlot(div, plotly_data, layout,{'showLink':false, 'displaylogo':false});
/*
	    graph = new Dygraph( div, plot_data,  
                         {  
               //              legend: "never",  
                             labelsDivWidth: 0,  
                 //            axisLabelColor: "#AAAAAA",  
               //              axisLineColor: "#AAAAAA",  						 
                             showRoller: false,  
                             rollPeriod: 1,  
                             strokeWidth: 2,  
                             labels: ["time", "uptime"],  
                             //ylabel: "",                                      
                           //  xlabel: "bin (10ns)",                            
                            // colors: ['#5992c2', '#ff0202'], //'#09E042'],      
						 //height: height,  
                      });*/
         });
     }
}

</script>

{% endblock %}
