{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<script src="{% static "jquery-ui-1.11.1/jquery-ui.js"%}"></script>
<script src="{% static "Dygraph/js/dygraph-combined.js"%}"></script>
<script src="{% static "DataTables-1.10.7/media/js/jquery.dataTables.min.js"%}"></script>
<link href="{% static "DataTables-1.10.7/media/css/jquery.dataTables.min.css"%}" rel="stylesheet" />

{% endblock %}
{% block content %}
<div class="container" style="width:100%;padding-left:20px;padding-right:10px;"> 
  <p class="bg-info" style="width:100%;padding-left:20px">Hint: This app allows you to browse any data stored in a MongoDB buffer (i.e. the trigger input buffer) and can be used for DAQ diagnostics. If you don't choose a collection with DAQ data in it then no plot will be displayed. If you want to look at complete triggered events, use the waveform display. </p> 
  
  <div class="row">       
    <div class="col-md-9"> 
      <div class="panel panel-default"> 
        <div id="scope_panel" class="panel-body" style="width:95%;height:500px;auto">
	</div>   
      </div>   <!-- end panel -->
    </div> <!-- end col-md-9 -->
    <div class="col-md-3">  
      <div id="channelPanel" class="panel panel-default">
	<div class="panel-heading"><h4> Data Selection </h4> </div>
	<div class="list-group"> 	  
	  <span class="list-group-item">
	    <strong>Server: </strong>
	    <select name="serverList" id="serverList" onchange="getData(this, 'server');">
	      <option value="none">Choose a server</option>
	      <option value="eb0">Event builder</option>
	      <option value="172.17.15.71">Test PC</option>
	    </select>
	    <span id="server_confirm"><i style="color:red;" class="fa fa-exclamation-circle"></i></span>
          </span>
	  <span class="list-group-item">
            <strong>Database: </strong>
            <select name="databaseList" id="databaseList" onChange="getData(this, 'database');">
              <option value="none">----</option>
            </select>
            <span id="database_confirm"></span>
          </span>
	  <span class="list-group-item">
            <strong>Collection: </strong>
            <select name="collectionList" id="collectionList" onChange="getData(this, 'collection');">
              <option value="none">----</option>
            </select>
            <span id="collection_confirm"></span>
          </span>
	  <span class="list-group-item">
	    <strong>Module (optional): </strong>
	    <select name="moduleList" id="moduleList" onChange="getData(this, 'module');">
              <option value="none">----</option>
            </select>
            <span id="module_confirm"></span>
	  </span>
	  <span class="list-group-item">
	    <strong>Channel (optional): </strong>
            <select name="channelList" id="channelList" onChange="getData(this, 'channel');">
              <option value="none">----</option>
            </select>
            <span id="channel_confirm"></span>
	  </span>
	  
	  
	  <span class="list-group-item">
	    <div class="btn-group btn-group-justified"> 
	      <div class="btn-group"> 
		<button type="button" class="btn btn-info" onClick="getPrevNext(0);">
		  <span class="glyphicon glyphicon-chevron-left"></span> Prev 
		</button> 
	      </div>
	      <div class="btn-group">
		<button type="button" class="btn btn-info" onClick="getPrevNext(1);">
		  <span class="glyphicon glyphicon-chevron-right"></span> Next </button> 
	      </div>
	    </div>
	  </span>
	</div>
      </div>
    </div>
  </div>   <!-- end row -->                                       
  <br>           
</div> <!-- end container -->
<div class="col-md-12 col-xs-12" id="doclist_container">
  <table class="display" id="doctable">
  <thead>
    <tr>
<!--      <th> Show </th> -->
      <th> Start time</th>
      <th> End time </th>
      <th> Module </th>
      <th> Channel </th>
      <th> ID </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!--<td style="width:10px" class="details-control"></td>-->
      <td style="color:black;"></td>
      <td style="color:black;"></td>
      <td style="color:black;"></td>
      <td style="pull-right"> </span></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>

<script type="text/javascript">
  var table = null;
  var chart = null;
  var selected_row = 0;
  
  function DrawElement(row, search){
    console.log("draw el");
  console.log(table.page.info().recordsDisplay);
    if(table == null) return;
    if(row < 0 || row > table.page.info().recordsDisplay)
      return;
    console.log("TABLE");
    console.log(table);
    doc_id = table.row(row).data()['_id']["$oid"];
    console.log(doc_id);
    chartDataUrl = "/monitor/scope/getWaveform/" + search;
    chartDataUrl += ";id=";
    chartDataUrl += doc_id;
    
    $(table.rows().nodes()).removeClass('selected');

    $.getJSON(chartDataUrl,function(data){
    console.log(row);
      $(table.row(row).nodes()).addClass('selected');
    console.log(table.row(row).nodes());
      console.log(data);      
      if( chart == null ){
          chart = new Dygraph(scope_panel, data['adc_value'], {
  //legend: 'always',
          legend: 'follow',
          title: 'waveform',
          showRoller: true,
          rollPeriod: 1,
          //labels: ["bin (10ns)","waveform"],
          ylabel: "amplitude",
          xlabel: "bin (10ns)",
          valueRange: [0, 0x3FFF],
      });
    }
      if(data['adc_value'].length > 0){
    if(data['adc_value'][0].length == 2){
        chart.updateOptions({"labels": ["bin (10ns)","channel a"],
     "file": data['adc_value']});
    }
    else{
        chart.updateOptions({"labels":["bin (10ns)","channel a", "channel b"],
     "file": data['adc_value']});
    }
  }
    }); //end getJSON
  
    return;
  }
  
  function getPrevNext(pn){
     if(table == null ) return;
  
     if(pn == 0)
        selected_row-=1;
     else if(pn == 1)
        selected_row +=1;
     console.log(selected_row);
        if(selected_row<0 || selected_row>=50){
           console.log("Getting data");
	   if(document.getElementById("channelList").value != "none")
	      getData(document.getElementById("channelList"), 'channel');
	   else if(document.getElementById("moduleList").value != "none")
	      getData(document.getElementById("moduleList"), "module");
           else
	      getData(document.getElementById("collectionList"), "collection"); 
         return;
       }

    query_end = "?";
    if( document.getElementById("serverList").value != "none" )
       query_end += ("server=" + document.getElementById("serverList").value + ";");
    if( document.getElementById("databaseList").value != "none" )
       query_end += ("database=" + document.getElementById("databaseList").value + ";");
    if( document.getElementById("collectionList").value != "none" )
       query_end += ("collection=" + document.getElementById("collectionList").value + ";");
    if( document.getElementById("moduleList").value != "none" )
       query_end += ("module=" + document.getElementById("moduleList").value + ";");
    if( document.getElementById("channelList").value != "none" )
       query_end += ("channel=" + document.getElementById("channelList").value + ";");
       DrawElement(selected_row, query_end);
  }

  function fillOccurrenceList(searchstring, callback){
     query_url = "/monitor/scope/getOccurrences/";
     query_url += searchstring;
     console.log(query_url);
     $.getJSON(query_url,function(data){
        console.log(data);
        if(table == null){
         table = $("#doctable").DataTable({
          "data": data,
          "columns": [
            /* {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },*/
            { "data": "time" },
            { "data": "endtime" },
            { "data": "module" },
            { "data": "channel" },
            { "data": "_id" }],
            "order": [[ 0, "desc" ]],
          "iDisplayLength": 50,
      "paging":   false,
      "bFilter": false,
      
            });
        }
        else{
            table.clear();
            table.rows.add(data);
            table.draw();
         }
         callback(searchstring);

     });

  };
  function getData(dropdown, level){

    if(dropdown.value == "none")
       return;

    var query_end="?";
    if( document.getElementById("serverList").value != "none" )
       query_end += ("server=" + document.getElementById("serverList").value + ";");
    if( document.getElementById("databaseList").value != "none" )
       query_end += ("database=" + document.getElementById("databaseList").value + ";");
    if( document.getElementById("collectionList").value != "none" )
       query_end += ("collection=" + document.getElementById("collectionList").value + ";");
    if( document.getElementById("moduleList").value != "none" )
       query_end += ("module=" + document.getElementById("moduleList").value + ";");
    if( document.getElementById("channelList").value != "none" )
       query_end += ("channel=" + document.getElementById("channelList").value + ";");

    var query_url = "/monitor/scope/";
    if( level == 'server' ){
       query_url = "/monitor/scope/getDatabase/";
       query_url += query_end;
      console.log(query_url);
       $.getJSON(query_url,function(data){
           console.log(data);
           if( data.length != 0 ){
               rstr = '<option value="none">Choose a database</option>';
               for( x=0; x<data.length; x+=1)
                   rstr += '<option value="' + data[x] + '">' + data[x] + '</option>';
               document.getElementById("databaseList").innerHTML = rstr;
	       document.getElementById("collectionList").innerHTML = '<option value="none">----</option>';
               document.getElementById("moduleList").innerHTML = '<option value="none">----</option>';
               document.getElementById("channelList").innerHTML = '<option value="none">----</option>';               
               document.getElementById("server_confirm").innerHTML = '<i style="color:green;" class="fa fa-check-circle"></i>';
               document.getElementById("database_confirm").innerHTML = '<i style="color:red;" class="fa fa-exclamatio\
n-circle"></i>';
           }
       });
    }
    else if( level == "database" ){
       query_url = "/monitor/scope/getCollection/";
       query_url += query_end;
       $.getJSON(query_url,function(data){
           if( data.length != 0 ){
               rstr = '<option value="none">Choose a collection</option>';
               for( x=0; x<data.length; x+=1)
	           rstr += '<option value="' + data[x] + '">' + data[x] + '</option>';
	       document.getElementById("collectionList").innerHTML = rstr;
               document.getElementById("channelList").innerHTML = '<option value="none">----</option>';
               document.getElementById("moduleList").innerHTML = '<option value="none">----</option>';
               document.getElementById("database_confirm").innerHTML = '<i style="color:green;" class="fa fa-check-circle"></i>';
	       document.getElementById("collection_confirm").innerHTML = '<i style="color:red;" class="fa fa-exclamation-circle"></i>';
          }
       });
    }
    else if( level == "collection" ){
       query_url = "/monitor/scope/getModules/";
       query_url += query_end;
       $.getJSON(query_url,function(data){
           if( data.length != 0 ){
               rstr = '<option value="none">Choose a module</option>';
               for( x=0; x<data.length; x+=1)
                   rstr += '<option value="' + data[x] + '">' + data[x] + '</option>';
               document.getElementById("moduleList").innerHTML = rstr;
               document.getElementById("channelList").innerHTML = '<option value="none">----</option>';
               document.getElementById("collection_confirm").innerHTML = '<i style="color:green;" class="fa fa-check-circle"></i>';
               document.getElementById("module_confirm").innerHTML = '<i style="color:red;" class="fa fa-exclamation-circle"></i>';
          }
       });
    }
    else if( level == "module" ){
       query_url = "/monitor/scope/getChannels/";
       query_url += query_end;
       $.getJSON(query_url,function(data){
           if( data.length != 0 ){
               rstr = '<option value="none">Choose a channel</option>';
               for( x=0; x<data.length; x+=1)
                   rstr += '<option value="' + data[x] + '">' + data[x] + '</option>';
               document.getElementById("channelList").innerHTML = rstr;
               document.getElementById("module_confirm").innerHTML = '<i style="color:green;" class="fa fa-check-circle"></i>';
          }
       });
    }

    // If we have some data selected then fill it
    if( level == "collection" || level == "module" || level == "channel"){
       selected_row = 0;
       fillOccurrenceList(query_end, function(search){    
       DrawElement(selected_row, search);
       });
    }

  }; 
    


</script>
{% endblock %}
