{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block content %}
<script src="{% static "emo/js/daqcontrol.js"%}" type="text/javascript"></script>
<style>
    .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  /* background-color: #4136D6;*/
}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 1px;
}
</style>
<div class="row" style="height:20px;margin:0px;">
  <div class="col-sm-3 col-xs-12">
    <h4>DAQ Control Panel</h4>
  </div>
  <div class="col-sm-9 col-xs-12 pull-right">
    <ul class="pull-right" style="padding:3px;margin-top:3px;">
      <button class="btn btn-success">Start Run</button>
      <button class="btn btn-danger">Stop Run</button>
    </ul>
  </div>
</div><!-- end row -->
<div class="col-xs-12" id="rates_panel" style="position:relative;height:20%;min-height:200px;max-height:30%;">
</div>
<br>
<div class="col-xs-12" id="info_panel" style="height:50%;min-height:300px;"></div>
<div class="col-xs-12" id="message_panel" style="height:20%;min-height:150px;margin-top:20px;max-height:200px;overflow-y:scroll;"></div>



<script type="text/javascript">
  
  // Globals for this page
  //var chart = null;
  var updateFreq = 5000;          // 5 second update polling
  var chartdiv = "rates_panel";
  var pointUpdateUrl = "/control/readerpointupdate";
  var dataUrl = "/control/status_update"
  var logUrl = "/log/get_dispatcher_log";

  // Page update poll
  function UpdatePage( chart ){  

      //TextUpdate();
      updateData( chart, pointUpdateUrl );
      setTimeout( function() {
           UpdatePage( chart );
      }, updateFreq );
  };

  function DrawLogWindow( logdiv, Url ) {
      $.getJSON(Url, function(data){
          console.log(data);
          var html_string = "<table class='table table-hover table-condensed'><tbody>";
          for ( x=0; x<data.length; x+=1 ){
                html_string += "<tr><td>" /*+ logEntry['time'].strptime("%Y-%M-%D %h:%m:%s") */+ "</td>" +
                                "<td>" + data[x]['sender'] + "</td>" +
                                "<td>" + data[x]['message'] + "</td></tr>";
            }
          html_string += "</tbody></table>"
          document.getElementById( logdiv).innerHTML = html_string;
      });
  }
  // Load page function
  $( function() {

  DrawLogWindow( "message_panel", logUrl );

  var chart = null;
     drawChart( chart, chartdiv, function(chart) {         
          loadData( chart, dataUrl, function(chart) {   
               UpdatePage( chart );  
          });
     });

  }); // end document ready function


</script>
{% endblock %}
