{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block content %}
<script src="{% static "emo/js/daqcontrol.js" %}" type="text/javascript" xmlns:rows="http://www.w3.org/1999/xhtml"></script>


<style>
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 1px;
}
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

</style>
<div class="row" style="height:20px;margin:0px;margin-top:15px;">
  <div class="col-sm-3 col-xs-12">
    <h3><strong>DAQ Control Panel</strong></h3>
  </div>
  <div class="col-sm-9 col-xs-12 pull-right">
    <ul class="pull-right" style="padding:3px;margin-top:3px;">
      <button data-toggle="modal" class="btn btn-success" href="#startRunModal">Start Run</button>
      <button class="btn btn-danger" data-toggle="modal" href="#runStopModal">Stop Run</button>
    </ul>
  </div>
</div><!-- end row -->
<div class="col-xs-12" id="rates_panel" style="position:relative;height:20%;min-height:200px;max-height:30%;">
</div>
    <div class="row" style="margin-top:5px;">
        <div class="col-xs-12">
            <div class="pull-right" style="padding-right:15px;">
            <div class="btn-group" id="time_range_selector" role="group" aria-label="...">
                <button type="button" value=172800 class="btn btn-default active range">48 hours</button>
                <button type="button" value=86400 class="btn btn-default range">24 hours</button>
                <button type="button" value=21600 class="btn btn-default range">6 hours</button>
                <button type="button" value=3600 class="btn btn-default range">1 hour</button>
            </div>
            <div class="btn-group" id="time_bin_selector" role="group" aria-label="...">
                <button type="button" value=600 class="btn btn-default active bin">10 min</button>
                <button type="button" value=120 class="btn btn-default bin">2 min</button>
                <button type="button" value=30 class="btn btn-default bin">30 sec</button>
                <button type="button" value=10 class="btn btn-default bin">10 sec</button>
            </div>
            </div>
        </div>
    </div>
<br>
<div class="col-xs-12" id="info_panel" style="height:40%;min-height:250px;margin-top:10px;">
<!--  <div class="col-xs-12" id="info_panel_header">
    </div>-->
<div class="col-xs-12" id="info_panel_header" style="height:30%;background-color:white;border-color:#AAAAAA;
border-style=solid;border-width:1px;">
  <h3>  Total DAQ info (detectors, running, modes, etc) will go here.</h3>
</div>
<div class="col-xs-12" id="info_panel_nodes" style="margin-top:10px;">

</div>

</div>
<!--<div class="col-xs-12" id="message_panel" style="height:20%;min-height:150px;margin-top:5px;max-height:200px;overflow-y:scroll;"></div>
-->

    <!-- Here is the modal for starting runs -->

<div class="modal" id="startRunModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Start a new run</h4>
      </div>
      <span style="padding:10px;" id="no_start_runs"><br>
	<h4>
	  <p>
	    <strong>Error: you have open alerts!</strong>
	  </p>
	  <p> Deal with them in the 
	    <a href="/log?priority=-2">log page</a> before starting any new runs. 
	  </p>
	</h4>
	<br>
      </span>
      <form method="POST" action="" id="run_start_form">
	{% csrf_token %}
        <div class="modal-body" style="min-height:200px;overflow-y:auto;">
          <div class="col-xs-12" id="top-selector">
            <ul class="nav nav-pills">
              <li role="presentation" class="active"><a href="#" onclick="make_visible('both');">Combined</a></li>
              <li role="presentation"><a href="#" onclick="make_visible('TPC');">TPC Only</a></li>
              <li role="presentation"><a href="#" onclick="make_visible('Muon_Veto');">Muon Veto Only</a></li>
	      <input type="hidden" name="detector" value="all" id="input_detector">
            </ul>
          </div>
	  <p><hr></p>
          <div class="col-xs-12" style="margin-top:20px;" id="global-options">
            <div class="row">
              <div class="col-xs-6"><strong>Starting user:</strong></div>
              <div class="col-xs-6">{{ request.user.username }}</div>
              <input class="hidden" name="user" value="{{ request.user.username }}">
            </div>
	    <div class="row">
	      <div class="col-xs-6">
		<strong data-toggle="tooltip" 
			title="This allows you to override any warnings. It is recommended to only check this option if you know what the warnings are, why they are there, and why you can safely override them." 
			data-placement="bottom">Force this run to start:
		</strong>
	      </div>
	      <div class="col-xs-6"><input type="checkbox" name="override">
		&nbsp; (Not recommended)</div>
	    </div>
            <div class="row">
              <div class="col-xs-6"><strong>Comment:</strong></div>
              <div class="col-xs-6"><textarea form="run_start_form" rows="4" name="comment"></textarea></div>
            </div>
          </div>
          <div class="col-xs-12" id="tpc-options" style="display:block;margin-top:20px;">
            <h4>TPC Options:</h4>
            <hr>
            <div class="row">
              <div class="col-xs-6"><strong>Run mode:</strong></div>
              <div class="col-xs-6"><select id="run_mode_tpc" name="run_mode_tpc"></select>
	      </div>
            </div>
            <div class="row">
              <div class="col-xs-6"><strong>Do baselines:</strong></div>
              <div class='col-xs-6'>
                <label>
                  <div class="col-xs-6"><input type="checkbox" name="baselines_tpc" checked="checked"></div>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6"><strong>Make noise spectra:</strong></div>
              <div class="col-xs-6">
                <label>
                  <div class="col-xs-6"><input type="checkbox" name="noise_tpc" checked="checked"></div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-12" id="muon-veto-options" style="display:block;margin-top:20px;">
            <h4>Muon Veto Options</h4>
            <hr>
            <div class="row">
              <div class="col-xs-6"><strong>Run mode:</strong></div>
              <div class="col-xs-6"><select id="run_mode_mv" name="run_mode_mv"></select></div>
            </div>
            <div class="row">
              <div class="col-xs-6"><strong>Do baselines:</strong></div>
              <div class='col-xs-6'>
                <label>
                  <div class="col-xs-6"><input type="checkbox" name="baselines_mv" checked="checked"></div>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6"><strong>Make noise spectra:</strong></div>
              <div class="col-xs-6">
                <label>
		  <div class="col-xs-6"><input type="checkbox" name="noise_mv" checked="checked"></div>
                </label>
              </div>
            </div>
          </div>
        </div>
	
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn btn-danger">Cancel</a>
          <button type="submit" class="btn btn-success">
	    Start Run</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- This modal gives feedback on the progress of starting the current run -->
<div class="modal" id="runFeedbackModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Start a new run </h4>
      </div>
      <div class="modal-body" style="min-height:200px;overflow-y:auto;">
	<div style="display:block;margin-left:auto;margin-right:auto;" id="loading_bar"></div>
	<div id="start_run_modal_content">
	</div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-danger">Close</a>
      </div>      
    </div>
  </div>
</div>

<!-- This modal gives feedback on the progress of starting the current run -->
<div class="modal" id="runStopModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="" id="run_stop_form">
        {% csrf_token %}
	<div class="modal-header">
          <button type="button" class="close" 
		  data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Stop the run</h4>
	</div>
	<div class="modal-body" style="min-height:200px;overflow-y:auto;">
          <div id="stop_run_modal_content">
	    <p><hr></p>
            <div class="col-xs-12" style="margin-top:20px;" id="global-options">
              <div class="row">
		<div class="col-xs-6"><strong>User:</strong></div>
		<div class="col-xs-6">{{ request.user.username }}</div>
		<input class="hidden" name="user" 
		       value="{{ request.user.username }}">
              </div>
	      <div class="row">
		<div class="col-xs-6"><strong>Detector:</strong></div>
		<div class='col-xs-6'>
                  <label>
                    <input type="radio" name="detector" value="all" 
			   checked="checked">All &nbsp; 
		    <input type="radio" name="detector" 
			   value="tpc">TPC &nbsp;
		    <input type="radio" name="detector"
                           value="muon_veto">Muon Veto
                  </label>
		</div>
              </div>	    
	      <div class="row">
		<div class="col-xs-6"><strong>Comment:</strong></div>
		<div class="col-xs-6">
		  <textarea form="run_stop_form" 
			    rows="4" name="comment"></textarea>
		</div>
              </div>
            </div>	    
          </div>
	</div>
	<div class="modal-footer">
	  <button type="submit" class="btn btn-danger">Stop the Run</button>
	  <a href="#" data-dismiss="modal" class="btn btn-success">Cancel</a>    
	</div>
      </form>
    </div>
  </div>
<div>



<script type="text/javascript">
  
  // Globals for this page
  //var chart = null;
  var updateFreq = 5000;          // 5 second update polling
  var run_mode_list_url = "/config/fetch_mode_list";
  var chartdiv = "rates_panel";
  var pointUpdateUrl = "/control/get_node_updates";
  var historyUrl = "/control/get_node_history";
  var dataUrl = "/control/get_status_update";
  var logUrl = "/log/get_dispatcher_log";
  var chart;
  var graphic_range = (48*60*60).toString();
  var graphic_bin = "600";
  var feedback_count = 0;
  var feedbackURL = "/control/run_start_feedback";
  var feedback_html = "";

  // Run feedback function
  function FeedbackLoop(){
    $.getJSON(feedbackURL, function(data){
      console.log(data);
      if("messages" in data){
      console.log("here");
      
      for( x=0; x<data['messages'].length; x+=1 ){
			console.log("in for");
        // Put messages into feedback modal
	if(data['messages'][x]['replyenum'] == 11)
	  feedback_html += "<p><strong>Received affirmation: </strong>" + 
		           data['messages'][x]['message'] + "</p>";
        else if( data['messages'][x]['replyenum'] == 12)
	  feedback_html += "<p><strong>Action taken: </strong>" +
                           data['messages'][x]['message'] + "</p>";
	else if( data['messages'][x]['replyenum'] == 13)
          feedback_html += "<p><strong>Start: </strong>" +
                           data['messages'][x]['message'] + "</p>";
        else if( data['messages'][x]['replyenum'] == 19){
          feedback_html += "<p><strong>Finish: </strong>" +
                           data['messages'][x]['message'] + "</p>";
	  feedback_count = 10000;
          document.getElementById("loading_bar").innerHTML="";
        }
        else if( data['messages'][x]['replyenum'] == 18){
          feedback_html += "<p><strong style='color:red'>ERROR: </strong>" +
                           data['messages'][x]['message'] + "</p>";
          feedback_count = 10000;
          document.getElementById("loading_bar").innerHTML="";
        }
        else
          feedback_html += "<p><strong style='color:blue'>Unknown: </strong>" +
                           data['messages'][x]['message'] + "</p>";
        console.log(feedback_html);
        document.getElementById("start_run_modal_content").innerHTML=feedback_html; 
      }// end for
      }
    });
    feedback_count += 1;
    if(feedback_count < 60)
       setTimeout(function() { FeedbackLoop(); }, 500 );
    else if(feedback_count < 10000) {
       feedback_html += "<p><strong>TIMED OUT </strong></p>";
       document.getElementById("loading_bar").innerHTML="";
    }
    document.getElementById("start_run_modal_content").innerHTML=feedback_html;

  }

  // Submit run start form
  $('#run_start_form').submit(function(e){
     console.log("submitted");
     $.post('/control/start_run', $(this).serialize(), function(data){  
        console.log("in function");
        //$('#startRunModal').modal('show');
        document.getElementById("start_run_modal_content").innerHTML="Command received.";
        //$('.message').html(data.message);
        // of course you can do something more fancy with your respone
   });
   $("#startRunModal").modal("hide")
    e.preventDefault();
    $("#runFeedbackModal").modal('show');
    feedback_count = 0;
    feedback_html = "";
    document.getElementById("loading_bar").innerHTML = "<img style='display:block;margin-left:auto;margin-right:auto;' src='{% static 'img/ajax-loader.gif'%}'/>";
    FeedbackLoop();
   });

  // Submit run stop form
  $('#run_stop_form').submit(function(e){
     console.log("Clicked stop");
     $.post('/control/stop_run', $(this).serialize(), function(data){
        console.log("Stopped the run");
   });
   $("#runStopModal").modal("hide")
      e.preventDefault();

   });


  // Page update poll
  function UpdatePage( thechart ){
  
     // No starting runs if there are open alerts
     if(global_can_start_runs){ 
        document.getElementById('run_start_form').style.display = 'block';
        document.getElementById('no_start_runs').style.display = 'none';
     } 
     else{ 
        document.getElementById('run_start_form').style.display = 'none';
        document.getElementById('no_start_runs').style.display = 'block';
     }

      //TextUpdate();
     //updateData( chart, pointUpdateUrl );
      update_graphic();
			     //UpdateDetectorTextNew(dataUrl, pointUpdateUrl, "info_panel_header");
			     UpdateDetectorText(dataUrl, "info_panel_header");
			     UpdateNodes( "info_panel_nodes", pointUpdateUrl );
      setTimeout( function() {
	UpdatePage( thechart );			     
      }, updateFreq );
  };

  function DrawLogWindow( logdiv, Url ) {
      $.getJSON(Url, function(data){
          var html_string = "<table class='table table-condensed borderless' style='color:#eeeeee;background-color:#2f2f2f;'><tbody>";
          for ( x=0; x<data.length; x+=1 ){
                html_string += "<tr><td>" /*+ logEntry['time'].strptime("%Y-%M-%D %h:%m:%s") */+ "</td>" +
                                "<td>" + data[x]['sender'] + "</td>" +
                                "<td>" + data[x]['message'] + "</td></tr>";
            }
          html_string += "</tbody></table>"
          document.getElementById( logdiv).innerHTML = html_string;
      });
  }        
    function update_graphic(){
       // update points if needed
       var historyUrlWithOptions = historyUrl + "?range=" + graphic_range + "&bin=" + graphic_bin;
       $.getJSON( historyUrlWithOptions, function(data) {
          var thechart=$("#rates_panel").highcharts();
          if(thechart.series.length != data.length){
             redraw_graphic();
             return;
          }
          for( x=0; x<data.length; x++ ){
              thechart.series[x].update({
                data: data[x]["data"],
              },true);
          }
       });
    }
         
    function redraw_graphic(){
        var thechart=$("#rates_panel").highcharts();
        while( thechart.series.length > 0 ) {
            thechart.series[0].remove( false );
        }
        var historyUrlWithOptions = historyUrl + "?range=" + graphic_range + "&bin=" + graphic_bin;

        loadData(thechart, historyUrlWithOptions, function(thechart){});
    }
  // Load page function
  $( function() {

  //DrawLogWindow( "message_panel", logUrl );
    var chart = null;

      $.getJSON(run_mode_list_url, function(data){
             if(data!=null){
                if("tpc" in data){
                    for(x=0;x<data['tpc'].length;x++){
                        $("#run_mode_tpc").append("<option name='"+data['tpc'][x]+"'>"+
                                data['tpc'][x]+"</option>");
                    }
                }
                 if("muon_veto" in data){
                    for(x=0;x<data['muon_veto'].length;x++){
                        $("#run_mode_mv").append("<option name='"+data['muon_veto'][x]+"'>"+
                                data['muon_veto'][x]+"</option>");
                    }
                }
             }
      });

     drawChart( chart, chartdiv, function(thechart) {
	loadData( thechart, historyUrl, function(anotherchart) {
              UpdatePage( anotherchart );
          });
     });


  }); // end document ready function


    function make_visible(which) {
        if(which=="TPC"){
	    document.getElementById("input_detector").value="tpc";
            d = document.getElementById("tpc-options");
            if(d.style.display == 'none')
                d.style.display = 'block';
            d = document.getElementById("muon-veto-options");
            if(d.style.display == 'block')
                d.style.display = 'none';
        }
        else if(which=="Muon_Veto"){
            document.getElementById("input_detector").value="muon_veto";
            d = document.getElementById("tpc-options");
            if(d.style.display == 'block')
                d.style.display = 'none';
            d = document.getElementById("muon-veto-options");
            if(d.style.display == 'none')
                d.style.display = 'block';
        }
        else{
            document.getElementById("input_detector").value="all";
            d = document.getElementById("tpc-options");
            if(d.style.display == 'none')
                d.style.display = 'block';
            d = document.getElementById("muon-veto-options");
            if(d.style.display == 'none')
                d.style.display = 'block';
        }
    }

$(".nav a").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).parent().addClass("active");
});
$(".btn-group button").on("click", function() {
    $(this).parent().find(".active").removeClass("active");
    $(this).addClass("active");
    if ($(this).hasClass("range"))
        graphic_range = $(this)[0].value;
    else
        graphic_bin = $(this)[0].value;
    //console.log($(this)[0].value);
    redraw_graphic();
});
</script>
{% endblock %}
