{% extends "base.html" %}
{% block title %}DAQ Control Panel{% endblock %}
{% load staticfiles %}
{% block head %}
<script src="{% static "emo/js/daqcontrol.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery-ui.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/lodash.full.js" %}" type="text/javascript"></script>
<script src="{% static "js/gridstack.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/progressbar.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/highcharts.4.2.5.js" %}" type="text/javascript"></script>
<script src="{% static "js/highcharts.4.2.5.exporting.js" %}" type="text/javascript"></script>
<script src="{% static "js/highcharts.4.2.5.offline-exporting.js" %}" type="text/javascript"></script>
<script src="{% static "js/Sortable.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/Ply.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/alertify.min.js" %}" type="text/javascript"></script>

<script src="{% static "js/bootstrap-switch.min.js" %}" type="text/javascript"></script>
<script src="{% static "emo/js/playlist_sortable.js" %}" type="text/javascript"></script>


<link href="{% static "emo/css/control.css" %}" rel="stylesheet">
<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<link href="{% static "css/gridstack.min.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap-switch.min.css" %}" rel="stylesheet">
<link href="{% static "css/ply.css" %}" rel="stylesheet">
<link href="{% static "css/alertify.core.css" %}" rel="stylesheet">
<link href="{% static "css/alertify.default.css" %}" rel="stylesheet">

<link href="{% static "emo/css/playlist_sortable.css" %}" rel="stylesheet">


{% endblock %}
{% block content %}
<style>.Loading {
      display:    none;
      position:   absolute;
      z-index:    100;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      background: #ebebeb;      
      50% 50%;
      no-repeat;
  }
.phrow{
  height: calc(100vh - 40px);
}
</style>
<div id="ImpatientLoading" class="Loading" style="visibility:hidden">
  <div class="col-xs-3 col-xs-offset-5;padding-left:200px;" style="margin-top:150px;left:45%">
    <img style="width:100px;height:100px;" src="http://2.bp.blogspot.com/-KgvocefQtsg/VUnc3A4jJiI/AAAAAAAABig/khtH3a9ToSQ/s1600/1Intro1.jpg">
    <br>
    <br>
    Page unavailable for 30 seconds

  </div>
</div>
<!-- Title bar-->                                                                
<div class="grid-stack" style="width:100%;margin-top:10px;margin-bottom:10px">

    <!-- THIS IS THE RATES WINDOW -->   
    <div class="grid-stack-item"
	 data-gs-x="0" data-gs-y="0"
	 data-gs-width="8" data-gs-height="4" data-gs-min-height="4"
	 data-gs-max-height="4" data-gs-min-width="8" id="rates-gridstack">
      <div class="grid-stack-item-content gridbox" style="overflow-y:hidden">
	<div class="window-handle"></div>                                          
	<div class="window-content" id="rates_content">               
	  <div class="window-title" id="rates_title">             
            <div class="row" style="width:100%">                                                      
              <div class="col-sm-2 col-xs-12" style="min-width:180px;">
		<h4 style="padding:3px;margin:0">
		  <strong>Rate History</strong>
		  <div id="updatebar" 
		       style="display:inline-block;width:20px;height:20px">
		</div>      
		</h4>
              </div>                                                               
              <div class="col-sm-9 col-xs-12">
		<!--<div class="pull-right" style="padding-right:3px">-->
		<strong class="option-label">Options: </strong>                   
		
		<select class="form-control" 
			style="width:100px;display:inline;font-size:10px"
			id="var-select">
		  <option value="datarate">Data rate</option>
		  <option value="bltrate">BLT rate</option>
		  <option value="cpu">CPU usage</option>
		  <option value="ram">RAM usage</option>
		</select>
		<select class="form-control" 
			style="width:100px;display:inline;font-size:10px;"
			id="range-select">
		  <option value=345600>96 hours</option>
		  <option value=259200>72 hours</option>
		  <option value=172800>48 hours</option>
		  <option value=86400>24 hours</option>
		  <option value=21600 selected>6 hours</option>
		  <option value=3600>1 hour</option>
		</select>
		<select class="form-control" 
			style="width:105px;display:inline;font-size:10px;"
			id="bin-select">
                  <option value=600 selected>10 min. bins</option>
                  <option value=120>2 min. bins</option>
                  <option value=30>30 sec. bins</option>
                  <option value=10>10 sec. bins</option>
                </select>
		
              </div>                                                               
            </div>                                                                 
          </div>                                                                   
	  <div id="rates_panel" 
	       style="position:relative;height:240px;width:100%;">
	    
	  </div>                                                                     
	</div>
      </div>
    </div>
    <!-- END RATES WINDOW -->    

    <!-- THIS IS THE EVENT BUILDER WINDOW -->
    <div class="grid-stack-item"
         data-gs-x="0" data-gs-y="4"
	  data-gs-width="8" data-gs-height="3" id="trigger-gridstack"
	  data-gs-min-width="4" data-gs-min-height="3">
      <div class="grid-stack-item-content gridbox" id="triggerwindowgs">
	<div class="window-handle"></div>
        <div class="window-content" style="overflow-y:hidden">
	  <div class="window-title" id="trigger_title">
            <div class="row" style="width:100%">
              <div class="col-sm-4 col-xs-12" style="min-width:180px;">
                <h4 style="padding:3px;margin:0">
                  <strong>Trigger Status: </strong><span style="font-size:14px" id="thetext"></span>
		</h4>
              </div>
	      <div class="col-sm-4 col-xs-12">
		<strong>Triggering run: </strong><span id="trigger_last_collection"></span>
	      </div>
	      <div class="col-sm-4 col-xs-12" style="text-align:right">
		<strong>Checked in: </strong><span id="trigger_time"></span>
              </div>
            </div>
	  </div>
	  <div id="stale_header" style="width:100%"></div>
	  <!--<div class="window-title" id="trigger_title" 
	       style="padding-top:0px;min-height:26px;height:26px;">
	    <h4 style="padding:3px;margin:0">
              <strong>Data Pipeline (beta)</strong>
	    </h4>
	  </div>	  -->
          <div id="trigger_body" style="overflow-y:auto;overflow-x:hidden;padding-right:20px;">

	    <div class="row" style="overflow-y:auto">
	      <!--
	      <div class="col-sm-2 col-xs-12">
		<strong>Trigger Status (Beta)</strong>
		<hr style="margin:0;padding:0;margin-bottom:20px">
		<div id="theimage" style="width:100%;height:90%">
                </div>
		<div class="text-center" style="width:100%">
                  <span id="thetext"></span></div>
              </div>
	      -->
	      <div class="col-sm-6 col-xs-12">		
		<!-- Last trigger doc -->
		<!--<strong>Last Status Doc</strong>
		<hr style="margin:0;padding:0;">
		<strong>Last collection: </strong>
                <span id="trigger_last_collection"></span>		  
		<p style="margin-bottom:0">
		  <strong>Time: </strong>                     
                  <span id="trigger_time"></span>    
		</p>
		-->
		<strong>Event rate: </strong>
                <span id="trigger_event_rate"></span> events/s
		<div class="row">
		  <!--<div class="col-xs-2"><strong>Buffer</strong></div>
                  <div class="col-xs-10 progress" style="margin-bottom:5px;padding:0;position:relative;"
                       id="eb_lag_progress"></div>-->
                  <div class="col-xs-12"><strong>Triggering: </strong>
                    <span id="eb_working"></span>
                  </div>
		  <div class="col-xs-12"><strong>DB Monitor: </strong>
                    <span id="mongo_update_time"></span></div>
		  <div class="col-xs-12"><strong>Deleter: </strong>
                    <span id="deleter_update_time"></span></div>
		</div>
		<p style="margin-bottom:0;margin-top:4px">
		  <strong>Deadtime info run <span id="deadtime_run_name"></span></strong>
		  <hr style="margin:0;padding:0;">
		</p>
		<div class="row">                      
                  <div class="col-xs-2"><strong>Last</strong></div>                             
                  <div class="col-xs-10 progress" style="margin-bottom:5px;padding:0"  
                       id="busy_progress"></div>                                                                                                        
                </div>  
		<div class="row">
                  <div class="col-xs-2"><strong>Total</strong></div>
                  <div class="col-xs-10 progress" style="margin-bottom:5px;padding:0"
		       id="busy_tot_progress"></div>
                </div>
	      </div>
	      
	      <!-- Pipeline DB Info -->
	      <div class="col-sm-6 col-xs-12" style="padding-top:10px">
		<!-- Last trigger doc -->
		<!--<div class="row" style="padding-left:15px;padding-right:15px;"><strong>Mongodb Buffers</strong>&nbsp;(Updated <span id="mongo_update_time"></span>)</div>
		<hr style="margin:0;padding:0;margin-bottom:5px;">-->
		<div class="row">
		  <!--<div class="col-xs-2"><strong>Updated: </strong></div>-->
		  <!--<div class="col-xs-10" id="mongo_update_time"></div>-->
		  <!--<div class="col-xs-2"><strong>Deleter: </strong></div>
		  <div class="col-xs-10" id="deleter_update_time"></div>-->
		  
		  
                  <div class="col-xs-2"><strong>eb0</strong></div>
                  <div class="col-xs-8 progress" style="margin-bottom:5px;padding:0"
                       id="eb0_progress"></div>
                  <div class="col-xs-12"><strong>Collections: </strong>
                    <span id="eb0_collections"></span>
                    <strong>Docs: </strong><span id="eb0_docs"></span>
                  </div>
                </div>
		<hr style="margin:0;padding:0;margin-bottom:3px;">
                <div class="row">
                  <div class="col-xs-2"><strong>eb1</strong></div>
                  <div class="col-xs-8 progress" style="margin-bottom:5px;padding:0"
                       id="eb1_progress"></div>
                  <div class="col-xs-12"><strong>Collections: </strong>
                    <span id="eb1_collections"></span>
                    <strong>Docs: </strong><span id="eb1_docs"></span>
                  </div>
                </div>
		<hr style="margin:0;padding:0;margin-bottom:3px;">
                <div class="row">
                  <div class="col-xs-2"><strong>eb2</strong></div>
                  <div class="col-xs-8 progress" style="margin-bottom:5px;padding:0"
                       id="eb2_progress"></div>
                  <div class="col-xs-12"><strong>Collections: </strong>
                    <span id="eb2_collections"></span>
                    <strong>Docs: </strong><span id="eb2_docs"></span>
                  </div>  
		</div>
	      </div>
	      
	    </div>
	    <!--
	    <div class="row">
	      <div class="col-sm-4 col-xs-12">
		<strong>Last collection: </strong>
		<span id="trigger_last_collection"></span>
	      </div>
	      <div class="col-sm-4 col-xs-12">
		<strong>Check in: </strong>
		<span id="trigger_time"></span>		
	      </div>
	      <div class="col-sm-4 col-xs-12">
                <strong>Event rate: </strong>
                <span id="trigger_event_rate"></span> events/s
              </div>
	    </div>
	    <div class="row" style="padding-right:25px;padding-top:5px;">
	      <div class="col-xs-2">
		<div id="theimage" style="width:100%;height:90%">
		</div>
		<div class="text-center" style="width:100%">
		  <span id="thetext"></span></div>
	      </div>
	      <div class="col-xs-10">
		<div class="row">
		  <div class="col-xs-2"><strong>Busy</strong></div>
		  <div class="col-xs-10 progress" style="margin-bottom:5px;padding:0" 
		       id="busy_progress"></div>
		</div>
		<div class="row">
                  <div class="col-xs-2"><strong>EB buffer</strong></div>
                  <div class="col-xs-7 progress" style="margin-bottom:5px;padding:0;position:relative;"
                       id="eb_lag_progress"></div>
		  <div class="col-xs-3"><strong>Triggering: </strong>
		    <span id="eb_working"></span>
		  </div>
                </div>
		<div class="row">
		  <div class="col-xs-2"><strong>eb0</strong></div>
		  <div class="col-xs-5 progress" style="margin-bottom:5px;padding:0" 
		       id="eb0_progress"></div>
		  <div class="col-xs-5"><strong>Collections: </strong>
                    <span id="eb0_collections"></span>
		    <strong>Docs: </strong><span id="eb0_docs"></span>
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-2"><strong>eb1</strong></div>
                  <div class="col-xs-5 progress" style="margin-bottom:5px;padding:0" 
		       id="eb1_progress"></div>
		  <div class="col-xs-5"><strong>Collections: </strong>
                    <span id="eb1_collections"></span>
		    <strong>Docs: </strong><span id="eb1_docs"></span>
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-2"><strong>eb2</strong></div>
                  <div class="col-xs-5 progress" style="margin-bottom:5px;padding:0"
		       id="eb2_progress"></div>
		  <div class="col-xs-5"><strong>Collections: </strong>
                    <span id="eb2_collections"></span>
		    <strong>Docs: </strong><span id="eb2_docs"></span>
		  </div>
		</div>
	      </div>	      
	    </div>-->
          </div>
	</div>
      </div>
    </div>

    <!-- END EVENT BUILDER WINDOW -->
    <!-- THIS IS THE LOG WINDOW -->                                              
    <div class="grid-stack-item"
         data-gs-x="0" data-gs-y="7"
         data-gs-width="8" data-gs-height="3" id="log-gridstack" 
	 data-gs-min-width="4" data-gs-min-height="3">
      <div class="grid-stack-item-content gridbox" id="logwindowgs">
	<div class="window-handle"></div>                                          
	<div class="window-content" style="overflow-y:hidden">
	  <div class="window-title" id="log_title" style="padding-top:0px;min-height:26px;height:26px;">
	    <form id="new_log_entry" class="form-inline" style="width:100%"
                  action="/log/new_log_entry" 
                  method="post">{% csrf_token %}
	      <div class="input-group" style="width:100%;">
		<span class="input-group-btn" style="width:55px">
                  <a class='btn btn-default'
                     style="width:56px;border-radius:0;background-color:white;"
                     href="/log/" title="Click to go to the log page...">Log:</a>
                </span>

		<input type="text" id="new_comment_text" name="message"
		       class="form-control"  placeholder="Make a new log entry..." 
		       style="border-radius:0">			  
		<span class="input-group-btn" style="width:65px">
		  <button class='btn btn-primary' style="width:66px;border-radius:0"
			  type="submit" value='Submit'>Submit</button>   	 
		</span>
	      </div>
	      <input type="hidden" name="redirect" value="none"/>	 
	    </form>	   
	  </div>
	  <div id="message_panel" style="overflow-y:scroll;">
	  </div>
        </div>
      </div>
    </div>

    <!-- END LOG WINDOW -->   
    <!-- THIS IS THE PLAYLIST WINDOW -->                                         
    <div class="grid-stack-item"
         data-gs-x="8" data-gs-y="0"
         data-gs-width="4" data-gs-height="4" data-gs-min-width="4"
	 data-gs-min-height="4" id="playlist-gridstack">
      <div class="grid-stack-item-content gridbox" id="playlistwindowgs">	
	<div class="window-handle"></div>                                          
	<div class="window-content" id="playlist_content" style="overflow:hidden">
	  <div class="window-title" id="playlist_title" style="padding-top:2px;position:relative;overflow_x:clip">
            <h3>Runs &nbsp;<span class="glyphicon glyphicon-play"></span><span class="glyphicon glyphicon-stop"></span>
</h3>
          </div>
	  <div id="playlist_body" style="overflow-y:scroll;overflow-x:hidden"></div>

	</div>                                         
      </div>
    </div>
    <!-- END PLAYLIST -->                                                        

    <!-- THIS IS THE TPC WINDOW -->
    <div class="grid-stack-item"
         data-gs-x="8" data-gs-y="5"
         data-gs-width="4" data-gs-height="4" data-gs-min-width="4"
	 id="tpc-gridstack">
      <div class="grid-stack-item-content gridbox">
        <div class="window-handle"></div>
	<div class="window-content" style="overflow:hidden" id="tpc_window">
	  <div class="window-title" id="tpc_title" style="padding-top:2px;">
	    <h3>TPC</h3>
	  </div>
	  <div class="window-title" id="tpc_title_2" style="padding-top:2px;height:36px;">       
          </div>
	  <div id="tpc_content" style="width:100%;overflow-y:scroll">
	  </div>
	</div>
      </div>
    </div>
    <!-- END TPC -->
    <!-- THIS IS THE MUON VETO WINDOW -->
    <div class="grid-stack-item"
         data-gs-x="8" data-gs-y="10"
         data-gs-width="4" data-gs-height="2" data-gs-min-width="4"
	 id="mv_gridstack">
      <div class="grid-stack-item-content gridbox">
        <div class="window-handle"></div>
	<div class="window-content" style="overflow:hidden" id="mv_window">
	  <div class="window-title" id="mv_title" style="padding-top:2px;">
            <h3>Muon Veto</h3>
          </div>
	  <div class="window-title" id="mv_title_2" style="padding-top:2px;height:36px">
	  </div>
          <div id="mv_content"style="width:100%">
          </div>

	</div>
      </div>
    </div>
    <!-- END MUON VETO -->

  </ul>                                                                          
</div>  

<script>                                                                         

  // DEFAULTS
  var rate_update_counts=30;
  var chartdiv = "rates_panel";
  var updateFreq = 1000;          // 5 second update polling
  var updateCounts = 10;
  var pointUpdateUrl = "/control/get_node_updates";
  var historyUrl = "/control/get_node_history";
  var dataUrl = "/control/get_status_update";
  var logUrl = "/log/get_dispatcher_log";
  var currentShifterUrl = "/supermanrequest";
  var chart;
  var graphic_range = (6*60*60).toString();
  var graphic_bin = "600";
  var graphic_var = "datarate";
  var feedback_count = 0;
  var feedbackURL = "/control/run_start_feedback";
  var feedback_html = "";
  var table_div = "queue_table_body";
  var queueURL="/control/get_queue_list";
  var queue_update_url="/control/set_queue_list";
  var display_counter=0;
  document.superman = "nobody";

  // Check if page timed out with this one
  var pageTimeoutTimer = 0;

  // The progress bar update for page refresh

  var pageupdatebar = new ProgressBar.Circle("#updatebar", {
  strokeWidth: 10,
  easing: 'easeInOut',
  duration: 1400,
  color: '#5992c2',
  trailColor: '#eee',
  trailWidth: 1,  
  svgStyle: null
});

  
  function PageTimeoutCounter(){
    pageTimeoutTimer += 5;
    setTimeout(function(){ PageTimeoutCounter();}, 5000);
  };
  // Update function for the run start messages
  function FeedbackLoop(){
     $.getJSON(feedbackURL, function(data){
         console.log("Feedback");
  console.log(data);
         if("messages" in data){
             setTimeout(function(){ 
                AlertifyMessage(data, 0);
             }, 1000);
        }
        }    

     );
  }
  function AlertifyMessage(data, x){
     alertify.set({ delay: 10000 });
     if(x>=data['messages'].length) return;
     enumb = data['messages'][x]['replyenum'];
     if(enumb == 12 || enumb == 22)
       alertify.log("Action taken: " + data['messages'][x]['message']);
     else if(enumb == 11)
       alertify.log("Received affirmation: " + data['messages'][x]['message']);
     else if(enumb == 13)
       alertify.success("Run Start: " + data['messages'][x]['message']);
     else if(enumb ==19)
       alertify.log("Finished: " + data['messages'][x]['message']);
     else if(enumb == 18)
       alertify.error("Error: " + data['messages'][x]['message']);
     else
       alertify.log("Unknown message code: " + data['messages'][x]['message']);
     setTimeout(function(){AlertifyMessage(data, x+1)}, 1000);
};
  function trigger_redraw(){
			  console.log("Triggering chart redraw");
     var w = $("#rates_content").width();
     
h = $("#rates-gridstack").height() - $("#rates-gridstack .window-title").height();
     var thechart = $("#rates_panel").highcharts();
thechart.setSize(w, h);
  }
  function redraw_graphic(data, callback){
        var thechart=$("#rates_panel").highcharts();
        while( thechart.series.length > 0 ) {
            thechart.series[0].remove( false );
        }
        var units = {"datarate": "MB/s", "bltrate": "blt/s"};
        thechart.yAxis[0].setTitle({ text: "rate ("+units[graphic_var]+")" });

  var historyUrlWithOptions = historyUrl + "?range=" + graphic_range + "&bin=" + graphic_bin+"&var="+graphic_var;
        if(data == null)
        $.getJSON( historyUrlWithOptions, function(newdata) {

            loadData(thechart, newdata, function(thechart){callback()}); return;
                                    });
        else
           loadData(thechart, data, function(thechart){});

callback();
    }


  function update_graphic(callback){
  var historyUrlWithOptions = historyUrl + "?range=" + graphic_range + "&bin=" + graphic_bin+"&var="+graphic_var;
       $.getJSON( historyUrlWithOptions, function(data) {
          var thechart=$("#rates_panel").highcharts();
          if(thechart.series.length != data.length){
console.log("made here");
             redraw_graphic(data, callback);
             return;
          }
          var units = {"datarate": "MB/s", "bltrate": "blt/s"};
          thechart.yAxis[0].setTitle({ text: "rate ("+units[graphic_var]+")" });

          for( x=0; x<data.length; x++ ){
              thechart.series[x].update({
                data: data[x]["data"],
              },true);
          }
          callback();
      });
//  callback();  

  }
  function UpdatePage( thechart ){

         $.getJSON(currentShifterUrl, function(data){
             document.superman = data['starting_user'];
	     document.canstartruns = false;
             username = "{{ request.user.username }}";
             if(username == document.superman)
                 document.canstartruns=true;
          });
  update_graphic(function(){				   
    DrawLogWindow( "message_panel", logUrl, function(){
       UpdateDetectorTextPretty(dataUrl, pointUpdateUrl, "tpc_content", "mv_content", 
				   "tpc_title", "mv_title", "tpc_title_2", 
				   "mv_title_2",
	function(){
				   RefreshPlaylist(true);
				   ResizeDetailWindows();
				   ResizeTriggerWindow();

				   var updatecounter=0;
				   pageTimeoutTimer = 0;
				   FeedbackLoop();

       timerLoop(updatecounter, thechart);      
				   });
  });
  });
  }
  function timerLoop(progress, thechart){
    if(rate_update_counts==30){
    $.getJSON("/control/get_tpc_event_rate", function(data){
console.log(data);
         document.getElementById("trigger_event_rate").innerHTML=parseFloat(data['rate']).toFixed(2);
         document.getElementById("trigger_last_collection").innerHTML=data['rname']+"("+data['rnumber']+")";
         var tdate = new Date(1000*(parseFloat(data['eventbuilder_info']['time'])));
         var ttime = tdate.getFullYear()+"."+('0'+(1+tdate.getMonth())).slice(-2)+"."+('0'+tdate.getDate()).slice(-2)+
				" at "+('0'+tdate.getHours()).slice(-2)+":"+('0'+tdate.getMinutes()).slice(-2);
         document.getElementById("trigger_time").innerHTML=ttime;
				
        if(data["deleter_timestamp"]!=null){

	   var deldate = new Date((parseInt(data['deleter_timestamp']['$date'])));
        var deltime = deldate.getFullYear()+"."+('0'+(1+deldate.getMonth())).slice(-2)+"."+
                                   ('0'+deldate.getDate()).slice(-2)+
                                " at "+('0'+deldate.getHours()).slice(-2)+":"+
                                   ('0'+deldate.getMinutes()).slice(-2);
	   document.getElementById("deleter_update_time").innerHTML=deltime;
        }
        else{
           document.getElementById("deleter_update_time").innerHTML="Not found";
        }

        var docdate = new Date(1000*(parseFloat(data['time'])));
	var doctime = docdate.getFullYear()+"."+('0'+(1+docdate.getMonth())).slice(-2)+"."+
				   ('0'+docdate.getDate()).slice(-2)+
                                " at "+('0'+docdate.getHours()).slice(-2)+":"+
				   ('0'+docdate.getMinutes()).slice(-2);
	document.getElementById("mongo_update_time").innerHTML=doctime;
	busy = data['deadtime'];
	document.getElementById("deadtime_run_name").innerHTML=data['deadtime_run']
        document.getElementById("busy_tot_progress").innerHTML = GetGradProgress(data['deadtime_total'],
				   "dead time", 0.1, 0.5, data['deadtime_total']*100, "%");
	document.getElementById("busy_progress").innerHTML=GetGradProgress(busy, "dead time", 0.1, 0.5, busy*100, "%");
	//document.getElementById("eb_lag_progress").innerHTML = GetGradProgress(
        //    data['eventbuilder_info']['eventbuilder_queue_size']/10000, "in queue",
        //    0.3, 0.7, data['eventbuilder_info']['eventbuilder_queue_size'], " events");
         if(data['eventbuilder_info']['working_on_run']==true)
            document.getElementById("eb_working").innerHTML="Yes";
         else
            document.getElementById("eb_working").innerHTML="Nope";
	document.getElementById("eb0_progress").innerHTML=GetMongoDBProgress(
           data['eb0:27000']['storageSize']/1008e9, "in cache ",0.126, 0.7, 
				   data['eb0:27000']['storageSize']/1e9, "GB");
document.getElementById("eb1_progress").innerHTML=GetMongoDBProgress(
	data['eb1:27000']['storageSize']/1008e9, "in cache",0.5, 0.7,
                                   data['eb1:27000']['storageSize']/1e9, "GB");
document.getElementById("eb2_progress").innerHTML=GetMongoDBProgress(
		data['eb2:27000']['storageSize']/1008e9, "in cache",0.5, 0.7,
                                   data['eb2:27000']['storageSize']/1e9, "GB");
        var pctarray = [];
var staticdir = "{% static "emo/js" %}";
        pctarray.push(busy);
        pctarray.push(data['eb0:27000']['storageSize']/1000e9);
        pctarray.push(data['eb1:27000']['storageSize']/1000e9);
        pctarray.push(data['eb2:27000']['storageSize']/1000e9);
	pctarray.push(data['eventbuilder_info']['eventbuilder_queue_size']/10000);
				   health = GetHealth(pctarray, staticdir, tdate, deldate);
				   console.log(health);
// document.getElementById("theimage").innerHTML=health['image'];
	document.getElementById("thetext").innerHTML=health['text'];
        document.getElementById("eb0_collections").innerHTML=data['eb0:27000']['collections'];
	document.getElementById("eb1_collections").innerHTML=data['eb1:27000']['collections'];
document.getElementById("eb2_collections").innerHTML=data['eb2:27000']['collections'];
document.getElementById("eb0_docs").innerHTML=data['eb0:27000']['objects'];
document.getElementById("eb1_docs").innerHTML=data['eb1:27000']['objects'];
document.getElementById("eb2_docs").innerHTML=data['eb2:27000']['objects'];
    rate_update_counts=0;
     })
    }
    else 
      rate_update_counts+=1;
//console.log(progress);
    if(progress==updateCounts){
          pageupdatebar.animate(1.);
          UpdatePage( thechart );
       }
   else{
      pageupdatebar.animate(progress/updateCounts);
      progress +=1;
      setTimeout( function(){timerLoop(progress, thechart);}, updateFreq);
    }
   }

				   
  function MakeGrid(){
   console.log($("#content").innerWidth());
  var gridsize = Math.floor(($("#content").innerWidth()-20)/4);                      
  console.log(gridsize);
  gridsize-=20;
  // GET HEIGHT
  height = 50;
				// Check rates
  ratesheight = $("#rates_panel").innerHeight() + $("#rates_title").innerHeight();
  if(ratesheight > height)
    height = (ratesheight)/4;
height = (200 + $("#rates_title").innerHeight())/4;

//     height = window.innerHeight / 15;
      if(height<40) height=40;
console.log("CELL HEIGHT");
      console.log(height);
  $(".grid-stack").gridstack({                                                     

     cellHeight: height,
     handle: ".window-handle",


  });                                                                              
    $(".grid-stack").on('resizestop', function(event, ui) {
       var grid = this;
       var element = event.target;
    // FIND FIRST CHILD OF CORRECT CLASS, GET ID, REDRAW CORRECT WINDOW

       if($("#"+element.id).find(".window-content").attr('id') == "playlist-gridstack")
          RefreshPlaylist();
else if($("#"+element.id).find(".window-content").attr('id') == "rates_content")
      trigger_redraw();
    });

  }
  
    $(function(){ //DOM Ready
	PageTimeoutCounter();
       document.alertshown=false;
       $(document).mousemove(function() {
          if(pageTimeoutTimer > 60 && !document.alertshown){
            alert("Stale page detected. Please update your browser window to proceed.");
            document.alertshown=true;
         }
       });
    document.autoplay=false;
    // Save some info from template tags
    document.user = "{{ request.user.username }}";
    document.canstartruns = false;
    {% if request.user.profile.canstartruns == True %}
    document.canstartruns = true;
    {% endif %}

//    InitializePlaylist("playlist_title", "playlist_body", "playlist_content");
var frm = $('#new_log_entry');
     frm.submit(function(){
        if(document.getElementById("new_comment_text").value == "")
    return false;
    $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
           success: function(data)
           {
               DrawLogWindow("message_panel", logUrl, function(){}); 
           }
         });
    document.getElementById("new_comment_text").value="";
    return false;
     });

    MakeGrid();

      drawChart( chart, chartdiv, graphic_var, function(thechart) {
                 UpdatePage( thechart );
      ResizeDetailWindows
          $('.grid-stack').on('resizestop', function(event, ui) {
          ResizeLogWindow();
          ResizePlaylistWindow();
          ResizeDetailWindows();
		    ResizeTriggerWindow();
          });    

     });                                                                              
        InitializePlaylist("playlist_title", "playlist_body", "playlist_content");
    ResizePlaylistWindow();
});

$(".nav a").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).parent().addClass("active");
});
$("#range-select").on('change', function() {
  graphic_range= $(this).val();
});
$("#var-select").on('change', function() {
  graphic_var= $(this).val();
});
$("#bin-select").on('change', function() {
  graphic_bin= $(this).val();
});


function ResizeLogWindow(){
var hheight = $("#log_title").height();
var theight = $("#logwindowgs").height();
var wantheight = theight - hheight;
$("#message_panel").height(wantheight);
}
    function ResizePlaylistWindow(){
var hheight = $("#playlist_title").height();
var theight = $("#playlistwindowgs").height();
var wantheight = theight - hheight;
$("#playlist_body").height(wantheight);
}
function ResizeTriggerWindow(){
var hheight = $("#trigger_title").height();
var theight = $("#triggerwindowgs").height();
var wantheight = theight - hheight;
$("#trigger_body").height(wantheight);
}


function ResizeDetailWindows(){
    var hheight = $("#tpc_title").innerHeight() + $("#tpc_title_2").innerHeight();
    var theight = $("#tpc_window").innerHeight();
    var wantheight = theight - hheight;
      console.log("HEIGHTS");
      console.log(hheight);
      console.log(theight);
      console.log(wantheight);
    $("#tpc_content").innerHeight(wantheight);
    hheight = $("#mv_title").innerHeight();
    theight = $("#mv_window").innerHeight();
    var wantheight = theight - hheight;
    $("#mv_content").innerHeight(wantheight);

}
function DrawLogWindow( logdiv, Url, callback ) {
    ResizeLogWindow();
    $.getJSON(Url, function(data){
    var html_string = "<table class='table table-striped table-condensed borderless'><tbody>";
        for ( x=0; x<data.length; x+=1 ){
	   var lcolor = "ccdd00";
           var p = data[x]['priority'];
          if(p==0) lcolor="5992c2";           
	  else if(p==2 || p==7) lcolor="ffd800";
	  else if(p==3 || p==4 || p==8 || p==9) lcolor="e86850";
	  else if(p==5) lcolor="587058";
				  
				  html_string += "<tr><td style='width:150px'>" + (new Date(data[x]['time']['$date'])).toISOString().slice(0,16) + "</td>" +
                                  "<td style='width:100px'><strong>" + data[x]['sender'] + "</strong></td>" +
                                  "<td class='hashes'>" + data[x]['message'] + "</td><td style='width:5px;background-color:#"+lcolor+"'></td></tr>";
				  }
				  html_string += "</tbody></table>"
	document.getElementById( logdiv).innerHTML = html_string;
	//			              $(".hashes").linkify(toHashtagUrl);
          callback();
      });
  }        
</script>     
{% endblock %}
