{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<script src="{% static "jquery-ui-1.11.1/jquery-ui.js"%}"></script>
<link href="{% static "jquery-ui-1.11.1/jquery-ui.css" %}" rel="stylesheet">
<script src="{% static "DataTables-1.10.9/media/js/jquery.dataTables.min.js"%}"></script>
<script src="{% static "DataTables-1.10.9/media/js/dataTables.bootstrap.min.js"%}"></script>
<link href="{% static "DataTables-1.10.9/media/css/dataTables.bootstrap.min.css"%}" rel="stylesheet" />
<script src="{% static "DataTables-1.10.9/extensions/Select/js/dataTables.select.min.js"%}"></script>
<link href="{% static "DataTables-1.10.9/extensions/Select/css/select.bootstrap.css"%}" rel="stylesheet" />
<script src="{% static "DataTables-1.10.9/extensions/Buttons/js/dataTables.buttons.min.js"%}"></script>
<script src="{% static "DataTables-1.10.9/extensions/Buttons/js/buttons.bootstrap.min.js"%}"></script>
<script src="{% static "DataTables-1.10.9/extensions/Buttons/js/buttons.print.min.js"%}"></script>
<link href="{% static "DataTables-1.10.9/extensions/Buttons/css/buttons.bootstrap.css"%}" rel="stylesheet" />
<script src="{% static "js/lodash.core.js" %}"></script>
<script src="{% static "js/jquery.json-view.js" %}"></script>
<link href="{% static "css/jquery.json-view.css" %}" rel="stylesheet"/>
<script src="{% static "jquery-hashtags-master/js/autosize.min.js" %}" type="text/javascript"></script>
<script src="{% static "jquery-hashtags-master/js/jquery.hashtags.js" %}" type="text/javascript"></script>

<link href="{% static "jquery-hashtags-master/css/jquery.hashtags.css" %}" rel="stylesheet">



<script>
  $(function() {
     $( "#id_startdate" ).datepicker({
       changeMonth: true,
       changeYear: true
     });
  });
  $(function() {
     $( "#id_enddate" ).datepicker({
        changeMonth: true,
        changeYear: true
     });
  });
</script>

<style type="text/css">
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
    #id_startdate, #id_enddate, #id_mode, #id_custom{
        height: 20px;
        width: 70%;
        margin-top:10px;
    }
    td.runs-expand {
     background: url('{%static "img/details_open.png" %}') no-repeat center center;
     cursor: pointer;
    }
    tr.shown td.runs-expand {
       background: url('{%static "img/details_close.png" %}') no-repeat center center;
    }


</style>
{% endblock %} 
{% block content %}
<div style="position:relative">
  <div class="collapse" id="search-bar">
<div class="emo-search-bar" style="width:100%;">
  <form method="GET" action="/runs/">
    <div class="row">
      <div class="col-xs-2 col-sm-3" style="line-height:40px;padding-left:40px;width:130px"><strong>Search:</strong></div>
      <div class="col-xs-6 col-sm-3">From: {{form.startdate}} </div>
      <div class="col-xs-6 col-sm-3">To:&nbsp;   {{form.enddate}} </div>
<!--      <div class="col-xs-3">Source: {{ form.mode }}</div>-->
      <div class="col-xs-6 col-sm-3" style="line-height:40px;width:200px">Detector: {{ form.detector }}</div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-7" style="padding-left:130px;">Query: {{ form.custom }} </div>
      <div class="col-xs-1">
        <button class="btn btn-info btn-sm" type="submit" name="submit" style="height:30%;padding-left:50px;padding-right:50px;margin:8px;">Search</button>
      </div>
    </div>
  </form>
</div>
</div>
  <div class="expand-pulldown" style="position:absolute;bottom:-10;left:45%;">
    <button class="btn btn-mini btn-info" style="background-color:white;color:#444444;border-top:0px;margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0;" type="button" data-toggle="collapse" data-target="#search-bar" aria-expanded="false" aria-controls="emo-search-bar">Advanced Search</button>
  </div>
</div>

<div class="row" id="main_row" style="margin-top:30px;">
  <div class="col-sm-7 col-xs-12" style="padding:5px;height:100%;overflow-y:scroll">
    <table class="table table-bordered" id="runstable" style="background-color:white;table-layout: fixed;word-wrap:break-word;">
      <thead>
	<tr>
	  <th></th>
	  <th>Num.</th>	  
	  <th>Date</th>
	  <th>Source</th>
	  <th>Events</th>
	  <th>Status</th>
	  <th style="width:30px">Tags</th>
	  <!--<th style="width:10px"><span class="glyphicon glyphicon-comment"></span></th>-->
	  <th style="width:100px">Top Comment</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td style="width:10px" class="runs-expand"></td>
	  <td style="width:30px"></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td style="width:30px"></td>
	  <td style="width:30px"></td>
	  <td></td>
	  <!--<td style="pull-right"> 
	    <span class="glyphicon glyphicon-comment">&nbsp</span>
	  </td>-->
	</tr>
      </tbody> 
    </table>
  </div>
  <div class="col-sm-5 col-xs-12" style="padding:5px;">
    <div class="emobox" id="tab_content" style="padding:10px;margin:0px;overflow-y:scroll;overflow-x:hidden;">
      <div style="height:100%;">

	<h4 style="margin-bottom:2px" id="run_detail_head">Run detail: click a <img src="{%static "img/details_open.png" %}"/> to view</h4>
            <hr style="margin-top:0px;margin-bottom:4px;">
            <table>
              <tbody>
		<tr><td style="min-width:40px;padding-left:5px;"><strong>Run name</strong></td><td style="padding-left:5px" id="detail_name"></td>
                <td style="min-width:40px;padding-left:15px;"><strong>Detector</strong></td><td style="padding-left:5px" id="detail_detector"></td></tr>
                <tr><td style="min-width:40px;padding-left:5px;"><strong>Source type</strong></td><td style="padding-left:5px" id="detail_source"></td>
                <td style="min-width:40px;padding-left:15px;"><strong>Starting User</strong></td><td style="padding-left:5px" id="detail_user"></td></tr>
                <tr><td style="min-width:40px;padding-left:5px;"><strong>Start Date</strong></td><td style="padding-left:5px" id="detail_sdate"></td>
                <td style="min-width:40px;padding-left:15px;"><strong>End Date</strong></td><td style="padding-left:5px" id="detail_edate"></td></tr>
		<tr><td style="min-width:40px;padding-left:5px;"><strong>Events</strong></td><td style="padding-left:5px" id="detail_events"></td>
		</tr>

              </tbody>
            </table>
            <h4 style="margin-bottom:2px">Tags</h4>
            <hr style="margin-top:0px;margin-bottom:4px;">
            <div id="detail_tags"></div>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active"><a href="#locations_tab" aria-controls="locations_tab" role="tab" data-toggle="tab">Storage</a></l>
          <li role="presentation"><a href="#comments_tab" aria-controls="comments_tab" role="tab" data-toggle="tab">Comments</a></li>
	  <li role="presentation"><a href="#json" aria-controls="json" role="tab" data-toggle="tab">JSON</a></li>
	</ul>
	
	<!-- Tab panes -->
	<div class="tab-content">
	  <div role="tabpanel" class="tab-pane active" id="locations_tab" style="height:60vh;overflow-y:scroll;">
            <div id="detail_locations">No storage sites registered for this run.</div>
	  </div>
	  <div role="tabpanel" class="tab-pane" id="comments_tab" style="height:60vh;overflow-y:scroll;">
	    <h4 style="margin-bottom:2px">Comments</h4>
            <hr style="margin-top:0px;margin-bottom:4px;">
            <div id="detail_comments"></div>
	  </div>
	  <div role="tabpanel" class="tab-pane" id="json" style="height:60vh;overflow-y:scroll;">...</div>
	</div>
	
      </div>
    </div>
  </div>
</div>


<script>
function AddStrongTags(text){
  var new_string = "";
  var last=0;
  for(var x=0;x<text.length;x+=1){
    if(text[x]=="#"){
      new_string += text.substring(last, x);
      new_string += "<strong style='color:#5992c2'>";
      open=true;
      last=x;
    }
    else if(open && text[x]==" "){
      new_string += text.substring(last, x);
      new_string += "</strong>";
      open = true;
      last = x;
    }
    else if(x == text.length-1){
      new_string += text.substring(last, x+1);
      if(open) new_string += "</strong>";
    }
  }
  return new_string;
}
 var table;		
//$(".new_comment_form").submit(function(e){
 
function RemoveTag(id, name){
  if(id!="" && name !=""){
      URL="newtag?remove=true;id="+id+";tagname="+name;
      console.log(URL);
      $.get(URL,function(){return false;});
  }
  return false;
}
function NewTag(form){
   arr = $(form).serializeArray();
   var id="";
   var content="";
   for(var x=0;x<arr.length;x+=1){
     if(arr[x]["name"]=="content")
       content=arr[x]["value"];
     else if(arr[x]["name"]=="id")
       id=arr[x]["value"];
  }
  if( content.indexOf(' ') >= 0 ){
    alert("Tags should be one word. Please use the comments tab for more extensive comments.");
    return false;
  }

  if(id!="" && content !=""){
      URL="newtag?id="+id+";tagname="+content;
      console.log(URL);
      
     $.get(URL,function(){return false;});
  }
return false;
};
 
 function NewComment(form){

 //	e.preventDefault();
	// validate
	form_array = $(form).serializeArray();
	for(i=0;i<form_array.length;i+=1){
		if(form_array[i]['name'] == "content" 
		    && form_array[i]['value'] == "")
		    return false;
	}
	$.ajax({
            type: "POST",
            url: "/runs/newcomment",
            data: $(form).serialize(),
            success: function(data) {
		commentdiv = $(form.closest('div')).find('.commentdiv');
		ret='<div class="emobox" style="padding:10px;"><p><b>'; 
		ret += data["user"];                                                                           
		ret += ' </b>&nbsp; wrote on &nbsp; ';
		var date = new Date(data["date"]['$date']);
		    ret += 
		    date.getUTCDate() + "." + 
		    ("0"+(date.getUTCMonth()+1)).slice(-2) +
		    "." + ("0"+date.getUTCFullYear()).slice(-2) + " at " +
		    ("0"+date.getUTCHours()).slice(-2) + ":" + 
		    ("0"+date.getUTCMinutes()).slice(-2) + ":" +
		    ("0"+date.getUTCSeconds()).slice(-2);
		ret += '<p class="run_comment">{% autoescape off %}';
		ret += AddStrongTags(data["text"]);
		ret += '{% endautoescape %}</p></p></div>';
		commentdiv.append(ret);
		    $(".formtextinput").val("");

            }

        });
return false;
  };
function json_diff(json, json2){
var diff = {};
for(var p in json){
  if (json2.hasOwnProperty(p) && typeof(json[p]) == 'object'){
    diff[p] = {};
    for(var i in json[p]){
      if (json2[p].hasOwnProperty(i)){
        diff[p][i] = json[p][i] - json2[p][i];
      }
    }
  }
}
}
function AddTagHTML(data){

  if( !("tags" in data))
     return "";
  var rhtml = "<br style='margin:1px'><div style='width:100%'>";
  for(var x=0;x<data['tags'].length;x+=1){
     rhtml += '<span class="tagButton"><a style="color:white" href='+"'"+'/runs/?startdate=&enddate=&detector=tpc&custom=%7B"tags"%3A+%7B"%24elemMatch"%3A+%7B"name"%3A+"'+data['tags'][x]['name']+'"%7D%7D%7D&submit='+"'>"+data['tags'][x]['name']+"</a>";
     if(data['user'] == "{{ request.user.username }}")
        rhtml += '&nbsp;&nbsp;<span class="badge" style="cursor:hand;cursor:pointer;" onclick="RemoveTag(' +"'"+data['_id']['$oid']+"', '"+data['tags'][x]['name']+"'"+')">x</span>';
     rhtml += '</span>&nbsp;';
  }
  rhtml += "</div><br style='margin:1px'>";
  return rhtml;

}
$(document).ready(function(){

  var height = window.innerHeight;
  var cache_data = {};
  var RUNURL="";
  document.getElementById("main_row").style.height = height -80 + "px";
  document.getElementById("tab_content").style.height = height-80 + "px";
  // For row selection and list printing
  var selected = [];
  var thedata = {{ runs_list|safe }};
  table = $('#runstable').DataTable({
        "dom": '<"toolbar">frtip',
		    
 
  "autoWidth": false,
"language": {
    "search": "Quick filter:"
  },
//      "dom": 'fBrtip',
		"data": thedata,
		"columns": [
      {
         "className": 'runs-expand',
         "orderable": false,
		 "data":      null,
         "defaultContent": '',
         "width":     '20px'
      },
      {
        "data": null,//"number",
		    "width": '35px',
	"render": function(data){
             if(data['detector']=='muon_veto') return data['name'];
		return data['number'];
        }
      },		   
//      {
//         "data":    "name"
//      },
      {
         "data":    "start",
         "width":   "50px",
         "render":  function(data){
                      var m = new Date(data['$date']);
                      var dateString = ("0"+m.getUTCFullYear()).slice(-2) + "/" +
                                       ("0"+(m.getUTCMonth()+1)).slice(-2) + "/" +
                                       ("0"+m.getUTCDate()).slice(-2) + " " +
                                       ("0"+m.getUTCHours()).slice(-2) + ":" +
                                       ("0"+m.getUTCMinutes()).slice(-2) + ":" +
		                       ("0"+m.getUTCSeconds()).slice(-2);
                      return dateString;
                     }
       },
       {
          "data":    "source.type",
	  "width": '50px',
       },
/*       {
          "data": "reader.self_trigger",
          "render": function(data){
                  if(data) return "Self";
                  return "External";
          }
       },
*/
       {
          "data": null,
	  "width": '35px',
        "render": function(data){
             if(("trigger" in data) && ("events_built" in data['trigger']))
               return data['trigger']['events_built'];
              return 0;

        }
      },

	{
	     "data": "data",
            "defaultContent": "none",
	   "width": '50px',
           "render": function(data){
              console.log(data);
	      if(data == null || data.length == 0)
                 return "none";
              status = "untriggered";
              level = 0;  // 0-trigger, 1-transfer, 2-processing
              // possible: untriggered, triggered, transferring, transfered, processing, processed
              for(x=0;x<data.length;x+=1){
                 if(data[x]['type'] == "untriggered" && level == 0 && data[x]['status'] == "transferred")
                   status = "untriggered";
                 else if(data[x]['type'] == "untriggered" && level == 0 && status =="untriggered" && data[x]['status'] == "transferring")
                   status = "acquisition";
                 else if(data[x]['type'] == "raw" && level < 2){
                    if(level == 0 && (data[x]['status'] == "transferring" || data[x]['status'] == "verifying" ) 
                        && status != "transferred"){
                       level = 1;
                       status = "triggering";
                    }
                    else if(data[x]['status'] == "transferred"){
                       level = 1;
                       status = "transferred";
                    }
                 }       
                 else if(data[x]['type'] == "processed"){                    
                    if((data[x]['status'] == "transferring" || data[x]['status'] == "verifying") && status != "processed"){
                       level = 2;
                       status = "processing";
                    }
                    else if(data[x]['status'] == "transferred"){
                       level = 2;
                       status = "processed";
                    }
                 }
              }// for
              colors = { "processed": "#189429", "processing": "#84a789", "transferred": "#2f43bd", "triggering": "#7e88c4",
							     "acquisition": "#ab20c4", "triggering": "#d70d11", "untriggered": "#a2a2a2"};
              retstring = "<strong style='color:"+colors[status]+"'>"+status+"</strong>";
              return retstring;
            }// function
	},
       {
          "data": "tags",
          "width": '70px',
          "render": function(data){
             if(data==null) return "";
	     var ret="";
             for(x=0;x<data.length;x+=1){
               ret+='<a href='+"'"+'/runs/?startdate=&enddate=&detector=tpc&custom=%7B"tags"%3A+%7B"%24elemMatch"%3A+%7B"name"%3A+"'+data[x]['name']+'"%7D%7D%7D&submit='+"'>"+data[x]['name']+"</a>&nbsp;";
             }
             return ret;
           }
       },
       {
          "data":    "comments",
	   "width":   '200px',
          "render":  function(data){
                        if(data==null || data.length==0) return "";
                        return data[0]['text'];
                     }
        }
     ],
	"buttons": ['csv','pdf'],//'selectAll','selectNone'],
		"aLengthMenu": [
        [ 50, 100, 200, 500, -1],
        [ 50, 100, 200, 500, "All"]
	],
     "order":     [[ 1, "desc" ]],
     "iDisplayLength": 100,

    }); // end table declaration
//    $("div.toolbar").html('<b>Use search box to filter</b>');
      
  // Event listener for opening and closing details
  $('#runstable tbody').on('click', 'td.runs-expand', function(event){	

      event.preventDefault();

      var tr = $(this).closest('tr');
      var row = table.row(tr);

            table.$('tr.selected').removeClass('selected');
            tr.addClass('selected');

      console.log(row.data());
      data = row.data();
      RUNURL = "/runs/get_run/?detector="+data['detector']+";name="+data['name'];
       UpdateDetail(0)
   }); // End expand click listener
			
   //setInterval( function () {
   //  table.ajax.reload( null, false ); // user paging is not reset on reload
   // }, 30000 );


       function UpdateDetail(docallback){
         console.log(RUNURL);
         if(RUNURL!=""){
              $.getJSON(RUNURL, function(data){
		    if(cache_data == {})
		    cache_data = data;
 		    console.log(data);
                    document.getElementById("run_detail_head").innerHTML = "Detail for run " + data.number.toString();
                    document.getElementById("detail_name").innerHTML=data.name;
                    document.getElementById("detail_detector").innerHTML=data.detector;
                    document.getElementById("detail_source").innerHTML=data.source.type;
                    document.getElementById("detail_user").innerHTML=data.user;

                    var events_built = "0";
                    if("trigger" in data && "events_built" in data.trigger){
                       events_built = data.trigger.events_built.toString();
                    }
                    document.getElementById("detail_events").innerHTML = events_built;

                    // dates
                    var start = new Date(data.start['$date']);
                    dstring = start.getUTCFullYear() +"/"+
		    ("0" + (start.getUTCMonth()+1)).slice(-2) +"/"+
		    ("0" + start.getUTCDate()).slice(-2) + " " +
		    ("0" + start.getUTCHours()).slice(-2) + ":" +
		    ("0" + start.getUTCMinutes()).slice(-2) + ":" +
		    ("0" + start.getUTCSeconds()).slice(-2);
/*		    start.getUTCFullYear() +
                       "/"+ (start.getUTCMonth()+1) +"/"+ start.getUTCDate() + " " +
                        start.getUTCHours() + ":" + start.getUTCMinutes() + ":" +
                       start.getUTCSeconds();*/
                    document.getElementById("detail_sdate").innerHTML=dstring;
                    if('end' in data){
                       var end = new Date(data.end['$date']);
                       document.getElementById("detail_edate").innerHTML= 
		    end.getUTCFullYear() +"/"+
                    ("0" + (end.getUTCMonth()+1)).slice(-2) +"/"+
                    ("0" + end.getUTCDate()).slice(-2) + " " +
                    ("0" + end.getUTCHours()).slice(-2) + ":" +
                    ("0" + end.getUTCMinutes()).slice(-2) + ":" +
                    ("0" + end.getUTCSeconds()).slice(-2);
                     }
                     else
                         document.getElementById("detail_edate").innerHTML="None";

                    ret = "<div class='commentdiv'>";
                    if("comments" in data){
                      for(i=0;i<data.comments.length;i+=1){
                         ret += '<div class="emobox" style="padding:10px"><p><b>';                  
                         ret += data.comments[i]["user"];                             
                         ret += ' </b>&nbsp; wrote on &nbsp; ';
                        var date = new Date(data.comments[i]["date"]['$date']);
				  
                    ("0" + start.getUTCSeconds()).slice(-2);

        ret += date.getUTCDate() + "." + ("0"+(date.getUTCMonth()+1)).slice(-2) +
               "." + ("0"+date.getUTCFullYear()).slice(-2) + " at " +
            ("0"+date.getUTCHours()).slice(-2) + ":" + ("0"+date.getUTCMinutes()).slice(-2) + ":" +
            ("0"+date.getUTCSeconds()).slice(-2);
		ret += '<p class="run_comment">{% autoescape off %}';
		ret += AddStrongTags(data.comments[i]["text"]);
        ret += '{% endautoescape %}</p></p></div></div>';
    }
    }
    else
       ret += '<p>No comments yet</p></div>';

//    document.getElementById("detail_comments").innerHTML=ret;

    // New Comment form
    ret += "<form class='new_comment_form' method='post' onsubmit='return NewComment(this)'>" +
       "{% csrf_token %}" +
      '<textarea class="formtextinput" id="' + data._id['$oid'] + '_formtext" style="width:100%" name="content"></textarea>' +
      '<br>' +
        '<input type="hidden" name="run_id" value="' + data._id['$oid'] + '"/>' +
      '<button class="btn btn-info" type="submit" style="margin-bottom:15px;">New comment</button>';

      ret +=  '</form>';
  
    
//    document.getElementById("detail_comments").innerHTML=ret;


     ret2 = "<table>";

    if('data' in data){
     if(data['data'].length == 0)ret2+="No storage sites registered for this run.";
     var untriggered = [];
     var raw = [];
     var processed = [];
     for(var x=0;x<data['data'].length;x+=1){
         var htmel = "<div class='row'><div class='col-xs-12'><h5><strong>"+data['data'][x]['host']+"</strong></h5></div><div class='col-xs-12'><strong style='padding-left:15px;'>Type: </strong>   "+data['data'][x]['type'] + "<strong style='padding-left:15px';>Status: </strong><strong style='padding-left:15px;color:"+GetColor(data['data'][x]['status'])+"'>"+data['data'][x]['status']+"</strong></div>";
		     if(data['data'][x]['type'] == 'processed' 
		     && 'pax_version' in data['data'][x])
		     htmel+="<div class='col-xs-12'><strong style='padding-left:15px'>Pax version: </strong>&nbsp;"+data['data'][x]['pax_version']+"</div></div>";
		     htmel+="<div class='col-xs-12'><strong>Location: </strong>&nbsp;" + data['data'][x]['location']+"</div></div>";
         if(data['data'][x]['type'] == 'raw')
            raw.push(htmel);
         else if(data['data'][x]['type'] == 'processed')
            processed.push(htmel);
         else
            untriggered.push(htmel);
     }
     if(processed.length>0)
        ret2 += "<h4 style='margin-bottom:2px;'>Processed data</h4><hr style='margin-top:0px;margin-bottom:4px;'>";
     for(var x=0; x<processed.length; x+=1)
         ret2+=processed[x];
     if(raw.length>0)
	ret2 += "<h4 style='margin-bottom:2px;'>Raw data</h4><hr style='margin-top:0px;margin-bottom:4px;'>";
     for(var x=0; x<raw.length;x+=1)
         ret2+=raw[x];
     if(untriggered.length>0)
        ret2 += "<h4 style='margin-bottom:2px;'>Other data</h4><hr style='margin-top:0px;margin-bottom:4px;'>";
     for(var x=0;x<untriggered.length;x+=1)
         ret2+=untriggered[x];
}
else
ret2+="No storage sites registered for this run.";
ret2+="</table>";
     if(!_.isEqual(cache_data, data)){
          cache_data=data;
             document.getElementById("json").innerHTML="";
                      $("#json").jsonView(data,  { collapsed: true });

    // NEW TAG FORM
    ret3 = AddTagHTML(data);
    ret3 += "<form class='new_tag_form' method='get' onsubmit='return NewTag(this)'>" +
		     '<div class="row">'+
'<div class="col-xs-12 text-info"><emph>Please avoid redundant tags, i.e. re-stating the source type as well as overly specific tags like the I-Belt position (this goes in comments). There does not have to be a tag for each run.</emph></div>'
		     +'<div class="col-xs-9"><input type="text" id="' + data._id['$oid'] + '_formtext" style="width:100%" name="content"></input></div>' +
      '<div class="col-xs-3">' +
      '<input type="hidden" name="id" value="' + data._id['$oid'] + '"/>' +
      '<button class="btn btn-info" type="submit" style="margin-bottom:15px;">New Tag</button></div></div>';

      ret3 +=  '</form>';

    
    document.getElementById("detail_comments").innerHTML=ret;

   document.getElementById("detail_locations").innerHTML=ret2;
   document.getElementById("detail_tags").innerHTML=ret3;

//	$("#run_comment").hashtags();
        $("textarea").hashtags();
}
   }); // end getjson
   }
    if(docallback==1)
       setTimeout(function() { UpdateDetail(1); }, 5000 );

  }; // end UpdateDetail


function GetColor(string){
if (string=="transferred" || string=="processing")
return "#36bc98";
if(string=="transferring" || string=="checking" || string=="verifying")
return "#f9a100";
else
return "#ec2c35";
}
$('#download_as_runlist').click( function () {

//   console.log(table.rows('.selected').data());

   var runsList = "";
   for(i=0; i<table.rows('.selected').data().length; i+=1){
       runsList+=table.rows('.selected').data()[i]['name']+"\n";
   }
//   console.log(runsList);

  var element = document.createElement('a');
  element.setAttribute('href', 'data:text/plain;charset=utf-8,' 
					+ encodeURIComponent(runsList));
  element.setAttribute('download', 'runs.txt');

  element.style.display = 'none';
  document.body.appendChild(element);

  element.click();

  document.body.removeChild(element);
} );

UpdateDetail(1);


    }); // end document ready function

</script>

<script type="text/javascript">
// Get a runs list
function DownloadList(whichone){
    startdate = document.getElementById("id_startdate").value;
    enddate   = document.getElementById("id_enddate").value;
    runmode   = document.getElementById("id_runmode").value;
    var urlstart = "{% url 'download_list' %}";
    var url = "?which=";
    url += whichone;
    url += "&startdate=";
    url += encodeURIComponent(startdate);
    url += "&enddate=";
    url += encodeURIComponent(enddate);
    url += "&runmode=";
    url += runmode;
//    console.log(url);
//    console.log("What does it do with %2F for example");
    var html = '<iframe src="' + urlstart + url + '" style="display: none;" ></iframe>';
//    console.log(html);
    $("body").append(html);

};

</script>
{% endblock %}

