{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<script src="{% static "jquery-ui-1.11.1/jquery-ui.js"%}"></script>
<link href="{% static "jquery-ui-1.11.1/jquery-ui.css" %}" rel="stylesheet">
<script src="{% static "DataTables-1.10.9/media/js/jquery.dataTables.min.js"%}"></script>
<script src="{% static "DataTables-1.10.9/media/js/dataTables.bootstrap.min.js"%}"></script>
<link href="{% static "DataTables-1.10.9/media/css/dataTables.bootstrap.min.css"%}" rel="stylesheet" />
<script src="{% static "DataTables-1.10.9/extensions/Select/js/dataTables.select.min.js"%}"></script>
<link href="{% static "DataTables-1.10.9/extensions/Select/css/select.bootstrap.css"%}" rel="stylesheet" />
<script src="{% static "DataTables-1.10.9/extensions/Buttons/js/dataTables.buttons.min.js"%}"></script>
<script src="{% static "DataTables-1.10.9/extensions/Buttons/js/buttons.bootstrap.min.js"%}"></script>
<script src="{% static "DataTables-1.10.9/extensions/Buttons/js/buttons.print.min.js"%}"></script>
<link href="{% static "DataTables-1.10.9/extensions/Buttons/css/buttons.bootstrap.css"%}" rel="stylesheet" />
<script src="{% static "js/lodash.core.js" %}"></script>
<script src="{% static "js/jquery.json-view.js" %}"></script>
<link href="{% static "css/jquery.json-view.css" %}" rel="stylesheet"/>

<!--<script src="{% static "DataTables-1.10.7/extensions/TableTools/js/dataTables.tableTools.min.js"%}"></script>
<link href="{% static "DataTables-1.10.7/extensions/TableTools/css/dataTables.tableTools.min.css"%}" rel="stylesheet"/>
<script src="{% static "js/datatables.min.js"%}"></script>
<link href="{% static "css/datatables.min.css"%}" rel="stylesheet"/>-->


<script>
  $(function() {
     $( "#id_startdate" ).datepicker({
       changeMonth: true,
       changeYear: true
     });
  });
  $(function() {
     $( "#id_enddate" ).datepicker({
        changeMonth: true,
        changeYear: true
     });
  });
</script>

<style type="text/css">
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
    #id_startdate, #id_enddate, #id_mode, #id_custom{
        height: 20px;
        width: 70%;
        margin-top:10px;
    }
    td.runs-expand {
     background: url('{%static "img/details_open.png" %}') no-repeat center center;
     cursor: pointer;
    }
    tr.shown td.runs-expand {
       background: url('{%static "img/details_close.png" %}') no-repeat center center;
    }


</style>
{% endblock %} 
{% block content %}
<div class="emo-search-bar">
  <form method="GET" action="/runs/">
    <div class="row">
      <div class="col-xs-2" style="line-height:40px;padding-left:50px;"><strong>Filter:</strong></div>
      <div class="col-xs-3">From: {{form.startdate}} </div>
      <div class="col-xs-3">To:&nbsp;   {{form.enddate}} </div>
      <div class="col-xs-3">Source: {{ form.mode }}</div>
      <div class="col-xs-3" style="line-height:40px">Detector: {{ form.detector }}</div>
      <div class="col-xs-3">Query: {{ form.custom }} </div>
      <div class="col-xs-3">
        <button class="btn btn-info btn-sm" style="margin:8px;" type="submit" name="submit" style="height:30%;">Filter</button>
      </div>
    </div>
  </form>
</div>

<!--<div class="row" style="margin-bottom:8px;margin-left:5px;">
  <div class="col-xs-12">
    <span><strong>Click rows to select runs. Control-click to select multiple.</strong></span>
  </div>
</div>
<div class="row" style="margin-bottom:8px;margin-left:5px;">
  <div class="col-xs-6">    
    <span><strong>Download selected as: </strong></span>&nbsp;
    <button class="btn btn-info" id='download_as_runlist'>Runs List</button>
    <button class="btn btn-info" id='download_as_raw'>Raw Paths</button>
    <button class="btn btn-info" id='download_as_processed'>Processed Paths</button>
  </div>
</div>
-->
<div class="row" id="main_row">
  <div class="col-sm-6 col-xs-12" style="padding:5px;height:100%;">
    <table class="table table-bordered" id="runstable" style="background-color:white">
      <thead>
	<tr>
	  <th>Detail</th>
	  <th>Num.</th>	  
	  <th>Date</th>
	  <th>Source</th>
	  <th>Trigger</th>
	  <th style="width:10px"><span class="glyphicon glyphicon-comment"></span></th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td style="width:10px" class="runs-expand"></td>
	  <td style="width:30px"></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td style="pull-right"> 
	    <span class="glyphicon glyphicon-comment">&nbsp</span>
	  </td>
	</tr>
      </tbody> 
    </table>
  </div>
  <div class="col-sm-6 col-xs-12" style="padding:5px;">
    <div class="emobox" id="tab_content" style="padding:10px;margin:0px;overflow-y:scroll;overflow-x:hidden;">
      <div style="height:100%;">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Info</a></li>
	  <li role="presentation"><a href="#json" aria-controls="json" role="tab" data-toggle="tab">JSON</a></li>
	</ul>
	
	<!-- Tab panes -->
	<div class="tab-content">
	  <div role="tabpanel" class="tab-pane active" id="detail" style="height:100%">
	    <h4 style="margin-bottom:2px" id="run_detail_head">Run detail: click a <img src="{%static "img/details_open.png" %}"/> to view</h4>
	    <hr style="margin-top:0px;margin-bottom:4px;">
	    <table>
	      <tbody>
		<tr><td style="min-width:40px;padding-left:5px;"><strong>Run name</strong></td><td style="padding-left:5px" id="detail_name"></td>
		<td style="min-width:40px;padding-left:15px;"><strong>Detector</strong></td><td style="padding-left:5px" id="detail_detector"></td></tr>
		<tr><td style="min-width:40px;padding-left:5px;"><strong>Source type</strong></td><td style="padding-left:5px" id="detail_source"></td>
		<td style="min-width:40px;padding-left:15px;"><strong>Starting User</strong></td><td style="padding-left:5px" id="detail_user"></td></tr>
		<tr><td style="min-width:40px;padding-left:5px;"><strong>Start Date</strong></td><td style="padding-left:5px" id="detail_sdate"></td>
                <td style="min-width:40px;padding-left:15px;"><strong>End Date</strong></td><td style="padding-left:5px" id="detail_edate"></td></tr>
	      </tbody>
	    </table>
	    <h4 style="margin-bottom:2px">Locations</h4>
            <hr style="margin-top:0px;margin-bottom:4px;">
	    <div id="detail_locations"></div>
	    <h4 style="margin-bottom:2px">Comments</h4>
	    <hr style="margin-top:0px;margin-bottom:4px;">
	    <div id="detail_comments"></div>
	  </div>
	  <div role="tabpanel" class="tab-pane" id="json" style="height:70vh;overflow-y:scroll;">...</div>
	</div>

      </div>
    </div>
  </div>
</div>


<script>
 var table;		
//$(".new_comment_form").submit(function(e){
 function NewComment(form){

 //	e.preventDefault();
	// validate
	form_array = $(form).serializeArray();
	for(i=0;i<form_array.length;i+=1){
		if(form_array[i]['name'] == "content" 
		    && form_array[i]['value'] == "")
		    return false;
	}
	$.ajax({
            type: "POST",
            url: "/runs/newcomment",
            data: $(form).serialize(),
            success: function(data) {
		commentdiv = $(form.closest('div')).find('.commentdiv');
		ret='<div class="emobox" style="padding:10px;"><p><b>'; 
		ret += data["user"];                                                                           
		ret += ' </b>&nbsp; wrote on &nbsp; ';
		var date = new Date(data["date"]['$date']);
		ret += date.getUTCDate() + "." + (date.getUTCMonth()+1) +
               "." + date.getUTCFullYear() + " at " +
		date.getUTCHours() + ":" + date.getUTCMinutes() + ":" +
		date.getUTCSeconds();
		ret += '<p>{% autoescape off %}';
		ret += data["text"];
		ret += '{% endautoescape %}</p></p></div>';
		commentdiv.append(ret);
		    $(".formtextinput").val("");

            }

        });
return false;
  };
function json_diff(json, json2){
var diff = {};
for(var p in json){
  if (json2.hasOwnProperty(p) && typeof(json[p]) == 'object'){
    diff[p] = {};
    for(var i in json[p]){
      if (json2[p].hasOwnProperty(i)){
        diff[p][i] = json[p][i] - json2[p][i];
      }
    }
  }
}
}
$(document).ready(function(){
  var height = window.innerHeight;
  var cache_data = {};
  var RUNURL="";
  document.getElementById("main_row").style.height = height -130 + "px";
  document.getElementById("tab_content").style.height = height-130 + "px";
  // For row selection and list printing
  var selected = [];
  var thedata = {{ runs_list|safe }};
  table = $('#runstable').DataTable({
//		"dom": 'T<"clear">lfrtip',		    
        "dom": '<"toolbar">frtip',
		    
 
  "autoWidth": false,

//      "dom": 'fBrtip',
		"data": thedata,
		"columns": [
      {
         "className": 'runs-expand',
         "orderable": false,
		 "data":      null,
         "defaultContent": '',
         "width":     '20px'
      },
      {
         "data": "number",
		    "width": '30px'
      },		   
//      {
//         "data":    "name"
//      },
      {
         "data":    "start",
         "width":   "15%",
         "render":  function(data){
                      var m = new Date(data['$date']);
                      var dateString = m.getUTCFullYear() + "/" +
                                       (m.getUTCMonth()+1) + "/" +
                                       m.getUTCDate() + " " +
                                       m.getUTCHours() + ":" +
                                       m.getUTCMinutes() + ":" +
		                               m.getUTCSeconds();
                      return dateString;
                     }
       },
       {
          "data":    "source.type",
       },
       {
          "data": "reader.self_trigger",
          "render": function(data){
                  if(data) return "Self";
                  return "External";
          }
       },
       {
          "data":    "comments",
          "width":   '10px',
          "render":  function(data){
                        if(data==null) return 0;
                        return data.length;
                     }
        }
     ],
	"buttons": ['csv','pdf'],//'selectAll','selectNone'],
		"aLengthMenu": [
        [ 50, 100, 200, 500, -1],
        [ 50, 100, 200, 500, "All"]
	],
     "order":     [[ 2, "desc" ]],
     "iDisplayLength": 100,

    }); // end table declaration
//    $("div.toolbar").html('<b>Use search box to filter</b>');
      
  // Event listener for opening and closing details
  $('#runstable tbody').on('click', 'td.runs-expand', function(event){
      event.preventDefault();

      var tr = $(this).closest('tr');
      var row = table.row(tr);

            table.$('tr.selected').removeClass('selected');
            tr.addClass('selected');

      console.log(row.data());
      data = row.data();
      RUNURL = "/runs/get_run/?detector="+data['detector']+";name="+data['name'];
       UpdateDetail(0)
   }); // End expand click listener

       function UpdateDetail(docallback){
         console.log(RUNURL);
         if(RUNURL!=""){
              $.getJSON(RUNURL, function(data){
 		    console.log(data);
                    document.getElementById("run_detail_head").innerHTML = "Detail for run " + data.number.toString();
                    document.getElementById("detail_name").innerHTML=data.name;
                    document.getElementById("detail_detector").innerHTML=data.detector;
                    document.getElementById("detail_source").innerHTML=data.source.type;
                    document.getElementById("detail_user").innerHTML=data.user;

                    // dates
                    var start = new Date(data.start['$date']);
                    dstring = start.getUTCFullYear() +
                       "/"+ (start.getUTCMonth()+1) +"/"+ start.getUTCDate() + " " +
                        start.getUTCHours() + ":" + start.getUTCMinutes() + ":" +
                       start.getUTCSeconds();
                    document.getElementById("detail_sdate").innerHTML=dstring;
                    if('end' in data){
                       var end = new Date(data.end['$date']);
                       document.getElementById("detail_edate").innerHTML= end.getUTCFullYear() +
                             "/"+ (end.getUTCMonth()+1) +"/"+ end.getUTCDate() + " " +
                             end.getUTCHours() + ":" + end.getUTCMinutes() + ":" +
		            end.getUTCSeconds();
                     }
                     else
                         document.getElementById("detail_edate").innerHTML="None";

                    ret = "<div class='commentdiv'>";
                    if("comments" in data){
                      for(i=0;i<data.comments.length;i+=1){
                         ret += '<div class="emobox" style="padding:10px"><p><b>';                  
                         ret += data.comments[i]["user"];                             
                         ret += ' </b>&nbsp; wrote on &nbsp; ';
                        var date = new Date(data.comments[i]["date"]['$date']);
        ret += date.getUTCDate() + "." + (date.getUTCMonth()+1) +
               "." + date.getUTCFullYear() + " at " +
            date.getUTCHours() + ":" + date.getUTCMinutes() + ":" +
            date.getUTCSeconds();
		ret += '<p>{% autoescape off %}';
		ret += data.comments[i]["text"];
        ret += '{% endautoescape %}</p></p></div></div>';
    }
    }
    else
       ret += '<p>No comments yet</p></div>';

//    document.getElementById("detail_comments").innerHTML=ret;

    // New Comment form
    ret += "<form class='new_comment_form' method='post' onsubmit='return NewComment(this)'>" +
       "{% csrf_token %}" +
      '<textarea class="formtextinput" id="' + data._id['$oid'] + '_formtext" style="width:100%" name="content"></textarea>' +
      '<br>' +
        '<input type="hidden" name="run_id" value="' + data._id['$oid'] + '"/>' +
      '<button class="btn btn-info" type="submit" style="margin-bottom:15px;">New comment</button>';

      ret +=  '</form>';
  
    
    document.getElementById("detail_comments").innerHTML=ret;

    //check if json changed
    if(!_.isEqual(cache_data, data)){
		cache_data=data;
		document.getElementById("json").innerHTML="";
		      $("#json").jsonView(data,  { collapsed: true });
    }
     ret = "<table>";
     if(data['data'].length>=1){
        ret+="<div class='row'><div class='col-xs-12'><h5><strong>Reader</strong></h5></div><div class='col-xs-12'><strong style='padding-left:15px;'>Collection: </strong>   "+data['data'][0].collection + "<strong style='padding-left:15px';>Status: </strong><strong style='padding-left:15px;color:"+GetColor(data['data'][0]['status'])+"'>"+data['data'][0]['status']+"</strong></div><div class='col-xs-12'><strong style='padding-left:15px'>Location: </strong>&nbsp;" + data['data'][0]['location']+"</div></div>";
     }

     for(var x=1;x<data['data'].length;x+=1){
         ret+="<div class='row'><div class='col-xs-12'><h5><strong>"+data['data'][x]['host']+"</strong></h5></div><div class='col-xs-12'><strong style='padding-left:15px;'>Type: </strong>   "+data['data'][x]['type'] + "<strong style='padding-left:15px';>Status: </strong><strong style='padding-left:15px;color:"+GetColor(data['data'][x]['status'])+"'>"+data['data'][x]['status']+"</strong></div><div class='col-xs-12'><strong style='padding-left:15px'>Location: </strong>&nbsp;" + data['data'][x]['location']+"</div></div>";


     }
   document.getElementById("detail_locations").innerHTML=ret;
   }); // end getjson
   }
    if(docallback==1)
       setTimeout(function() { UpdateDetail(1); }, 5000 );

  }; // end UpdateDetail


function GetColor(string){
if (string=="transferred")
return "#36bc98";
if(string=="tranferring" || string=="checking" || string=="verifying")
return "#f9a100";
else
return "#ec2c35";
}
$('#download_as_runlist').click( function () {

//   console.log(table.rows('.selected').data());

   var runsList = "";
   for(i=0; i<table.rows('.selected').data().length; i+=1){
       runsList+=table.rows('.selected').data()[i]['name']+"\n";
   }
//   console.log(runsList);

  var element = document.createElement('a');
  element.setAttribute('href', 'data:text/plain;charset=utf-8,' 
					+ encodeURIComponent(runsList));
  element.setAttribute('download', 'runs.txt');

  element.style.display = 'none';
  document.body.appendChild(element);

  element.click();

  document.body.removeChild(element);
} );

UpdateDetail(1);


    }); // end document ready function

</script>

<script type="text/javascript">
// Get a runs list
function DownloadList(whichone){
    startdate = document.getElementById("id_startdate").value;
    enddate   = document.getElementById("id_enddate").value;
    runmode   = document.getElementById("id_runmode").value;
    var urlstart = "{% url 'download_list' %}";
    var url = "?which=";
    url += whichone;
    url += "&startdate=";
    url += encodeURIComponent(startdate);
    url += "&enddate=";
    url += encodeURIComponent(enddate);
    url += "&runmode=";
    url += runmode;
//    console.log(url);
//    console.log("What does it do with %2F for example");
    var html = '<iframe src="' + urlstart + url + '" style="display: none;" ></iframe>';
//    console.log(html);
    $("body").append(html);

};

</script>
{% endblock %}

