{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <link href="{% static "codemirror-5.3/lib/codemirror.css" %}" rel="stylesheet">
    <script src="{% static "codemirror-5.3/lib/codemirror.js" %}"></script>
    <script src="{% static "codemirror-5.3/mode/python/python.js" %}"></script>
<style>.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}</style>

    <div class="col-xs-12" style="margin-top:10px;">
        <h3>DAQ Run Modes</h3>
	<h5><strong>Note: </strong> Normal users may view DAQ operations modes here. Only admin users may modify them.</h5>
    </div>
        <div class="col-xs-12" style="margin-top:10px;">
            <table class="table table-bordered table-condensed" style="background-color:white;";>
                <tr class="emo-node-header">
                    <th> Name</th>
                    <th> Created </th>
                    <th>Created by</th>
                    <th> Comment </th>
                    <th></th>
                </tr>
                {% for mode in runmodes %}
                    <tr>
                    <td style="padding:1px;">{{ mode.name }}</td>
                    <td style="padding:1px;"> {{ mode.date }} </td>
                    <td style="padding:1px;">{{ mode.user }}</td>
                    <td style="padding:1px;"> {{ mode.comment }} </td>
                    <td style="padding:1px;width:200px;"> <input class="btn btn-info btn-mini" type="button" style="margin:0px;margin-left:10px" value="Fetch"
                   onclick="FillMode('{{ mode.name }}')" />
                    {% if request.user.is_superuser %}
                <input class="btn btn-danger btn-mini" data-toggle="modal" type="button" href="#delete_mode_modal"
                       style="margin:0px;margin-left:10px;" value="Remove" onclick="RemoveMode('{{ mode.name }}')"/>
        {% endif %}</td>
                </tr>
            {% endfor %}

            </table>
        </div>
    <form method="POST" action="/config/">
        <div class="col-xs-12" id="run_json_div">
	  <div class="emo-det-header" style="padding-top:3px;padding-bottom:3px;padding-left:2px;">Showing mode: <strong><span id="mode_name">'new'</span></strong></div>
            {% csrf_token %}
            <textarea id="json_text" name="bulk">{{ form.bulk.value }}</textarea>
        </div>
        <div class="col-xs-6" style="color:red;">{% autoescape on %}{{ form.errors.bulk }}{% endautoescape %}</div>
        <div class="col-xs-3" style="margin-top:10px;">
            <i>Note: only valid JSON is accepted</i>
        </div>
        <div class="col-xs-3" style="margin-top:10px;">
            {% if request.user.is_superuser %}
	    <div class="col-xs-6">
	      {{ form.overwrite }} &nbsp;overwrite&nbsp;
	    </div>
	    <div class="col-xs-6">
              <button type="submit" class="btn btn-info">Submit</button>
	    </div>
            {%  endif %}
        </div>
    </form>

<!--    <div class="col-xs-12" style="margin-top:20px">
        <h4>Options reference:</h4>
        <p>
            Here is some general reference for the options here. For more information see the kodiaq docs.

            <br>
            <table class="table table-bordered" style="background-color:white;">
                <tr>
                    <th style="width:250px"> Option</th>
                    <th style="width:100px"> Type </th>
                    <th> Brief </th>
                </tr>
                <tr>
                    <td>name</td>
                    <td>String</td>
                    <td>The name of the run mode. This must be unique.</td>
                </tr>
                <tr>
                    <td>date</td>
                    <td>datetime</td>
                    <td>Date document was created or updated. Not editable on this interface, automatically given the current date on creation/update.</td>
                </tr>
    </table>
        </p>
    </div>-->


<div class="modal" id="delete_mode_modal">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Delete a run mode</h4>
        </div>
        <form method="GET" action="/config/delete_run_mode">
        <div class="modal-body" style="overflow-y:auto;">
            <div class="col-xs-12" id="delete_selector">
                Do you really want to delete run mode {mode}? You won't be able to undo this!
            </div>
        </div>
            <input class="hidden" id="delete_which" name="mode" value=""/>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-danger">No way!</button>
          <button class="btn btn-success" type=submit>Delete it.</button>
        </div>
        </form>
      </div>
    </div>
</div>



    <script type="text/javascript">
        var run_mode_list_url = "/config/fetch_mode_list";
        var run_mode_url = '/config/fetch_run_mode';
        var json_code_mirror = null;
        $(function(){
             json_code_mirror = CodeMirror.fromTextArea(document.getElementById("json_text"),{
                value: "run_doc: {\n}",
                mode:  "python",
                lineNumbers: true
            });



      });
    function FillMode(name){
            $.getJSON( run_mode_url + "?name=" + name, function(data) {
	        document.getElementById("mode_name").innerHTML = name;
                if(json_code_mirror != null){
                    json_code_mirror.getDoc().setValue(JSON.stringify(data, null, 2));
                }
            });
        };
        function RemoveMode(name) {
            // Make a modal to ask if user is really sure.
            // Then delete the thing if they confirm
            document.getElementById("delete_selector").innerHTML = "Do you really want to delete mode " + name + "? You" +
                    "will not be able to undo this!";
            document.getElementById("delete_which").value=name;
        };


    </script>

{% endblock %}
