{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<style>
  .mode-table{  
  height: 30vh;
  min-height: 300px;
  width: calc(100%-30px);
  overflow-y: scroll;
  margin-top: -2px;
}
.top-table{
  width: calc(100%-30px);
  margin: 0;
}
.mode-window{
  height: 50vh !important;
  //max-height: 60vh;
  min-height: 400px !important;
  width:calc(100% - 30px);
  overflow-y: scroll;
}
</style>
{% endblock %}
{% block content %}
    <link href="{% static "codemirror-5.3/lib/codemirror.css" %}" rel="stylesheet">
    <script src="{% static "codemirror-5.3/lib/codemirror.js" %}"></script>
    <script src="{% static "codemirror-5.3/mode/python/python.js" %}"></script>
<style>.CodeMirror {
  border: 1px solid #eee;
  height: 50vh;
}</style>

<div class="col-xs-12" style="margin-top:10px;display:inline;">
  <h3 style="display:inline">DAQ Run Modes</h3>
  <a class="pull-right" data-toggle="modal" href="#helpModal">Help</a>
</div>

<form method="POST" action="/config/">
  <div class="col-xs-12" id="run_json_div" style="margin-top:10px">
    <div class="emo-det-header" style="color:black;background-color:#F5F5F5;padding-top:3px;padding-bottom:3px;padding-left:2px;">Showing mode: <strong><span id="mode_name">'new'</span></strong></div>
            {% csrf_token %}
          <textarea class="mode-window" id="json_text" name="bulk">{{ form.bulk.value }}</textarea>
        </div>
        <div class="col-xs-6" style="color:red;">{% autoescape on %}{{ form.errors.bulk }}{% endautoescape %}</div>
        <div class="col-xs-3" style="margin-top:10px;">
            <i>Note: only valid JSON is accepted</i>
        </div>
        <div class="col-xs-3" style="margin-top:10px;">
            {% if request.user.is_superuser %}
	    <div class="col-xs-6">
	      {{ form.overwrite }} &nbsp;overwrite&nbsp;
	    </div>
	    <div class="col-xs-6">
              <button type="submit" class="btn btn-info">Submit</button>
	    </div>
            {%  endif %}
        </div>
    </form>



<div class="col-xs-12" style="margin-top:10px;">
  <table class="table table-bordered table-condensed top-table" style="background-color:white;">
    <thead>
      <tr class="emo-node-header" style="color:#DDDDDD;background-color:#5992c2;border-color:#AAAAAA;height:50px;line-height:40px;">
        <!--<th style="width:300px"> Name</th>
        <th style="width:200px"> Created </th>
        <th style="width:100px">Created by</th>
        <th style="width:400px"> Comment </th>
        <th style="width:200px"></th>-->
	<th style="border:0;padding-top:0px;padding-bottom:15px;font-size:12pt;">Available run modes:</th>
      </tr>
    </thead>
  </table>
  <div class="mode-table" style="margin-top:0px">
    <table class="table table-bordered table-condensed" style="background-color:white;margin-left:-1px;margin-top:0;">
      
      <tbody>
        {% for mode in runmodes %}
	{% if mode.first == True %}
	<tr class="emo-det-header" style="background-color:#F5F5F5;color:black;">
	  <td style="border:0;">
	    <strong>Detector: {{ mode.det }}</strong>
	  </td>
	  <td style="border:0;">
          </td>
	  <td style="border:0;">
          </td>
	  <td style="border:0;">
          </td>
	  <td style="border:0;">
          </td>

	</tr>
	{% endif %}
        <tr>
          <td style="padding:1px;">{{ mode.name }}</td>
          <td style="padding:1px;"> {{ mode.date }} </td>
          <td style="padding:1px;">{{ mode.user }}</td>
          <td style="padding:1px;"> {{ mode.comment }} </td>
          <td style="padding:1px;width:200px;"> <input class="btn btn-info btn-mini" type="button" style="margin:0px;margin-left:10px" value="Fetch"                                                     onclick="FillMode('{{ mode.name }}')" />
            {% if request.user.is_superuser %}
            <input class="btn btn-danger btn-mini" data-toggle="modal" type="button" href="#delete_mode_modal"
                   style="margin:0px;margin-left:10px;" value="Remove" onclick="RemoveMode('{{ mode.name }}')"/>
            {% endif %} 
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--    <div class="col-xs-12" style="margin-top:20px">
        <h4>Options reference:</h4>
        <p>
            Here is some general reference for the options here. For more information see the kodiaq docs.

            <br>
            <table class="table table-bordered" style="background-color:white;">
                <tr>
                    <th style="width:250px"> Option</th>
                    <th style="width:100px"> Type </th>
                    <th> Brief </th>
                </tr>
                <tr>
                    <td>name</td>
                    <td>String</td>
                    <td>The name of the run mode. This must be unique.</td>
                </tr>
                <tr>
                    <td>date</td>
                    <td>datetime</td>
                    <td>Date document was created or updated. Not editable on this interface, automatically given the current date on creation/update.</td>
                </tr>
    </table>
        </p>
    </div>-->


<div class="modal" id="delete_mode_modal">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Delete a run mode</h4>
        </div>
        <form method="GET" action="/config/delete_run_mode">
        <div class="modal-body" style="overflow-y:auto;">
            <div class="col-xs-12" id="delete_selector">
                Do you really want to delete run mode {mode}? You won't be able to undo this!
            </div>
        </div>
            <input class="hidden" id="delete_which" name="mode" value=""/>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-danger">No way!</button>
          <button class="btn btn-success" type=submit>Delete it.</button>
        </div>
        </form>
      </div>
    </div>
</div>


<div class="modal" id="helpModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"><strong>Run Modes Page</strong></h4>
      </div>
      <div class="modal-body">
	<p>
          <strong>What is a run mode?</strong>
          <br style="margin:10px">
	  A run mode is a DAQ-specific options file that tells the DAQ programs what options to use for a particular run. It has no effect outside of the DAQ system. Certain run modes are meant to be run only when the detector is in a certain state (i.e. running a calibration mode with a calibration source in). Some simple checks may be performed to verify the state of the detector but in general it is the shifter's responsibility to choose a mode that makes sense.
	</p>
	<p>
          <strong>How do I edit DAQ options?</strong>
          <br style="margin:10px">
	  To edit options you have to have elevated priviledges. In general we give these to people in the DAQ group. It is very possible, easy even, to give the DAQ a set of options that will brick the digitizers and force a hard reset. Therefore we want to maintain an overview of what people to do the DAQ. If you have a special request please contact the DAQ group.
	</p>
	<strong>How do I know which options were used for a run?</strong>
          <br style="margin:10px">
	  The entire options file is dumped into the run document for each run. Even if the settings change later, the original file is still stored in the run doc. This is easy because we use JSON for our run modes and the run docs are MongoDB documents.
	  </p>
      </div>
       <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-danger">Close</a>
      </div>
    </div><!-- end content -->
  </div> <!-- end dialog -->
</div> <!-- end modal -->



    <script type="text/javascript">
        var run_mode_list_url = "/config/fetch_mode_list";
        var run_mode_url = '/config/fetch_run_mode';
        var json_code_mirror = null;
        $(function(){
             json_code_mirror = CodeMirror.fromTextArea(document.getElementById("json_text"),{
                value: "run_doc: {\n}",
                mode:  "python",
                lineNumbers: true
            });



      });
    function FillMode(name){
            $.getJSON( run_mode_url + "?name=" + name, function(data) {
	        document.getElementById("mode_name").innerHTML = name;
                if(json_code_mirror != null){
                    json_code_mirror.getDoc().setValue(JSON.stringify(data, null, 2));
                }
            });
        };
        function RemoveMode(name) {
            // Make a modal to ask if user is really sure.
            // Then delete the thing if they confirm
            document.getElementById("delete_selector").innerHTML = "Do you really want to delete mode " + name + "? You" +
                    "will not be able to undo this!";
            document.getElementById("delete_which").value=name;
        };


    </script>

{% endblock %}
