/*
  Style sheet for the runs list and other places with embossed boxes.
  Lightly (OK not so) based on the look of google inbox. 
  D. Coderre, Uni Bern, 26.01.2015
*/

.beforeentry{
margin-left: 5%;
margin-right: 5%;
border: 0;
font-size: 12px;
color: #AAAAAA;
}
.entry-header{
background-color: white;
height: 60px;
border: 1px solid #AAAAAA;
margin-top: -1px;
margin-left: -1px;
margin-right: -1px;
font-size: 20px;
line-height: 2.0;
}
.entry-content{
background-color: white;
height: 239px;
margin-top:-10px;
margin-bottom: 10px;
font-size: 14px;
}

.entry-header-title{
text-align: left;
border: 0;
margin-left: 5%;
}
.entry-header-buttons{
text-align: right;
border: 0;
margin-right: 3%;
color: #CCCCCC;
}
.entry-header div span:hover{
cursor: pointer;
color: #444444;
}
.entry {
margin-left: 5%;
margin-right: 5%;
border: 1px solid #AAAAAA;
padding: 0px;
margin-top: -1px;
margin-bottom: 0px;
box-shadow: 3px 3px 3px #BBBBBB;
background-color: white;
height:60px;
}
.entry:hover {
    background-color: #EEEEEE;
}
.entry .header {
margin-left: 2%;
margin-right: 1%;

}

.entry-icon {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  margin-top: 8px;
  margin-bottom: 3px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 2.1;
  border-radius: 20px;
background-color: #888888;
color: white;
}
.entry-icon-1{
background-color: #ff6839;
}
.entry-icon-2{
background-color: #7683c9;
}
.entry-icon-3{
background-color: #689f38;
}
.entry-title{
margin-left: 25px;
font-size: 20px;
height: 30px;
text-align: left;
line-height: 2.3;
margin-right: 0px;
}
.entry-date{
width: 100%;
margin-left: 25px;
margin-right: 0px;
font-size: 16px;
color: #BBBBBB;
}
.entry-status{
margin-left: 10px;
margin-right:10px;
line-height: 2.8;
}
.entry-messages{
height: 50px;
margin-right: 1px;
margin-left: auto;
line-height: 3;
text-align: right;
}
.entry-messages a {
color: #AAAAAA;
}
.entry-messages a:hover {
    cursor: pointer;
    color: #555555;
}
@media only screen and (max-width: 780px){
.entry-messages{
display: none;
}
/*#.entry-status{
#display: none;
#}*/
}
.bubble {
  position: relative;
  background-color:#eee;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-width:5px;
  padding:5px;
  text-align:left;
  width:90%;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
}
.bubble:after {
  position: absolute;
  display: block;
  content: "";
  border-color: #eee transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-19px;
  left:1em;
}
.searchtoolbar{
padding-top:0px;
height: 50px;
background-color: white;
width: 100%;
border-bottom: 1px solid #AAAAAA;
box-shadow: 3px 3px 3px #BBBBBB;
margin-bottom: 20px;
font-size: 24px;
line-height: 2.0;
padding-left: 10px;
padding-right: 10px;
}
@media only screen and (max-width: 780px){
.searchtoolbar{
display: none;
}
.entry-date{
display: none;
}
}

