body{
background-color: #ebebeb;
}
.emobox{
    background-color: white;
    border-width: 1px;
    border-color: #D5D5D5; /*#5992c2w;*/
    border-style: solid;
    width:100%;
    min-height:40px;
    margin-top: 5px;
    margin-bottom: 5px;
    /*box-shadow: 10px 10px 5px #888888;*/
    padding-top:10px;
    
    }
.emobox_flat{
    background-color: white;
    border-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    #width:100%;
    min-height:40px;

    }
.emo-sidebar-show{
margin-left:166px;
width: calc(100% - 166px);
}
.emo-sidebar-hide{
    margin-left: 0px;
    width: 100%;
}
.btn-info{
background-color: #5992C2;
}
.emo-det-header {
//background-color: #ADEDD4;
#border-color: #7876DC;
background-color: #5a54bd;
border-color: #5a54bd;
color: #EEEEEE;
}
.emo-det-row{
//border-color:#AAAAAA;
border-color: #7876DC;
color:#353535;
}
.emo-node-header{
background-color: #4FA783;
border-color: #4FA783;
color: #EEEEEE;
}
.emo-node-line{
border-color: #4FA783;
color:#353535;
}

@media(max-width: 767px){
 .gitter-chat-embed{
     display: none;
 }
}

/* For loading animations */

.sk-cube-grid {
#   padding-left:40%;
#   padding-top:40%;
  width: 40px;
/*  background-color: #6fc7a3; /*#fff;*/
background-color: rgba(79, 167, 131, 0.);
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #5992c2;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}