body{
background-color: #ebebeb;
}
.emobox{
    background-color: white;
    border-width: 1px;
    border-color: #5992c2w;
    border-style: solid;
    width:100%;
    min-height:40px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px #888888;
    padding-top:10px;
    
    }
.emobox_flat{
    background-color: white;
    border-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    #width:100%;
    min-height:40px;

    }
.emo-sidebar-show{
margin-left:166px;
width: calc(100% - 166px);
}
.emo-sidebar-hide{
    margin-left: 0px;
    width: 100%;
}
.btn-info{
background-color: #5992C2;
}
.emo-det-header {
//background-color: #ADEDD4;
#border-color: #7876DC;
background-color: #5a54bd;
border-color: #5a54bd;
color: #EEEEEE;
}
.emo-det-row{
//border-color:#AAAAAA;
border-color: #7876DC;
color:#353535;
}
.emo-node-header{
background-color: #4FA783;
border-color: #4FA783;
color: #EEEEEE;
}
.emo-node-line{
border-color: #4FA783;
color:#353535;
}

