.emo-sidebar-show{
margin-left:166px;
width: calc(100% - 166px);
}
.emo-sidebar-hide{
    margin-left: 0px;
    width: 100%;
}
.btn-info{
background-color: #5992C2;
}
.emo-det-header {
//background-color: #ADEDD4;
background-color: #7876DC;
border-color: #7876DC;
color: #EEEEEE;
}
.emo-det-row{
//border-color:#AAAAAA;
border-color: #7876DC;
color:#353535;
}
.emo-node-header{
background-color: #4FA783;
border-color: #4FA783;
color: #EEEEEE;
}
.emo-node-line{
border-color: #4FA783;
color:#353535;
}

