table.dataTable tbody td.no-padding {
    padding: 0;
}
div.slider {
    display: none;
    background-color:white;
    border: solid 1px #AAAAAA;
    padding:10px;
    box-shadow: 0 0 1px #333333;
}
.emo-disjointed-table{
    border-collapse:separate;
    #border-spacing: 0 0.5em;
}
.emo-disjointed-table-body:before{
    content: "-";
    display: block;
    line-height: .5em;
    color: transparent;    
}
.emo-disjointed-table-head{

    box-shadow: 0 0 1px #333333;
    #-webkit-box-shadow: 0 0 10px #333333;
    background-color:white;
    #margin-bottom:5px;
    border-color:#AAAAAA;
    border-style:solid;
    border-width:1px;
    #-webkit-box-shadow: 18px 22px 41px -28px rgba(102,102,102,1);
    #-moz-box-shadow: 18px 22px 41px -28px rgba(102,102,102,1);
    #box-shadow: 18px 22px 41px -28px rgba(102,102,102,1);
    
}
.emo-disjointed-table-row:before{
    #content: "-";
    #display: block;
    #line-height: 1em;
    #color: transparent;
}
.emo-disjointed-table-row > td{
    #padding-top: .5em;
    #padding-bottom: .5em;    
    border-top: solid 1px #AAAAAA;
    border-bottom: solid 1px #AAAAAA;
    background-color:white;
}


.emo-log-line {
    background-color: white;
    border: 1px solid black;

}
.panel-heading a:after {
      font-family: 'Glyphicons Halflings';
      content: "\e114";
      float: right;
      color: grey;
  }
  .panel-heading a.collapsed:after {
      content: "\e080";
  }
  .hiddenRow {
      padding: 0 !important;
  }
  .outlinerow{
      border 1px solid #AAAAAA;
      box-shader: 3px 3px 3px #BBBBBB;
      background-color: white;
  }
  .bubble {
      position: relative;
      background-color:#d9edf7;
      #margin: 20;
      margin-top: 10px;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 20px;
      border-width:5px;
      padding:10px;
      text-align:left;
      width:90%;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
      -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
      -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
      box-shadow: 1px 1px 3px rgba(0,0,0,0.25);

  }
  .bubble:after {
      position: absolute;
      display: block;
      content: "";
      border-color: #d9edf7 transparent transparent transparent;
      border-style: solid;
      border-width: 10px;
      height:0;
      width:0;
      position:absolute;
      bottom:-19px;
      left:1em;
  }
  .searchtoolbar{
      padding-top:0px;
      height: 60px;
      background-color: white;
      width: 100%;
      border-bottom: 1px solid #AAAAAA;
      box-shadow: 3px 3px 3px #BBBBBB;
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 2.0;
      padding-left: 10px;
      padding-right: 10px;
  }