{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<div style="padding:20px;">
  <h3>User information for {{ user.username }}</h3>
  <hl>
    <h4> My permissions </h4>
    <div style="padding-left:60px">
      {% if user.is_authenticated %}
      <li> You <strong>may</strong> post new log messages</li>
      <li> You <strong>may</strong> view the run history</li>
      <li> You <strong>may</strong> view the acquisition status and control panels</li>
      {% if user.is_superuser %}
      <li> You <strong>may</strong> start and stop data taking</li>
      {% elif canstartruns %}
      <li> You <strong>may</strong> start and stop data taking until {{ expiration|date:"D d M Y" }}</li>
      {% else %}       
      <li> You <strong>may not</strong> start and stop data taking
      {% endif %}
      {% if user.is_superuser %}
      <li> You <strong>may</strong> create new operations modes</li>
      {% else %}
      <li> You <strong>may not</strong> create new operations mode</li>
      {% endif %}
      {% if user.is_superuser %}
      <li> You <strong>may</strong> access the admin interface (if you know how)</li>
      {% else %}
      <li> You <strong>may not</strong> access the admin interface</li>
      {% endif %}
      {% else %}
      <li> You may view the homepage and a few other pages, but no content pages. Please log in to access the full site.</li>
      {% endif %}
    </div>
    <br>
    <div class="bg" style="padding:10px;width:80%;background-color:white;border-color:#AAAAAA;border-width:1px;border-style:solid;">
      <h5> DAQ Control Authorization Request </h5>
      <p>
	<strong>Brief:</strong> Only one user may have "DAQ Controller" status at once. This is to avoid sending conflicting commands
        to the DAQ from multiple sessions and also to avoid accidental DAQ control. All functions are available to non-controller
        users except Start/Stop of data acquisition (also certain configuration functions are reserved for admins). If you
        are the shifter and you need to start and stop runs you may 'steal' the controller status from the current controller via this form.
      </p>
      <p>
	<strong>Note:</strong> All control actions are logged.
      </p>
      <p>
	<strong>Further note:</strong> If you want to relinquish your controller status you can do that here as well. It will expire
      automatically after one week and must be renewed here.</p>
      <br>
      <form action="/profile/" method="post" style="padding-left: 50px">
	{% csrf_token %}
      <button class="btn btn-success" type=submit value="auth" name="auth">I am a responsible person, give me the power</button>
      <button class="btn btn-danger" type=submit value="unauth" name="auth">Remove my shifter permissions</button>
      </form>
      <br>
    </div>
</div>

{% endblock %}
