{% extends "base.html" %}
{% load auth_extras %}
{% load staticfiles %}
{% block title %}User List{% endblock %}
{% block content %}

<script src="{% static "jquery-ui-1.11.1/jquery-ui.js"%}"></script>
<script src="{% static "js/summernote.min.js"%}"></script>
<link href="{% static "jquery-ui-1.11.1/jquery-ui.css" %}" rel="stylesheet">
<link href="{% static "emo/css/emo_logstyle.css" %}" rel="stylesheet">
<link href="{% static "css/summernote.css" %}" rel="stylesheet">

<script src="{% static "DataTablesPackage/DataTables-1.10.12/js/jquery.dataTables.min.js"%}"></script> 
<script src="{% static "DataTablesPackage/DataTables-1.10.12/js/dataTables.bootstrap.min.js"%}"></script>
<link href="{% static "DataTablesPackage/DataTables-1.10.12/css/dataTables.bootstrap.min.css"%}" rel="stylesheet"/>
<script src="{% static "DataTablesPackage/Buttons-1.2.2/js/dataTables.buttons.min.js"%}"></script>

<script src="{% static "DataTablesPackage/Buttons-1.2.2/js/buttons.bootstrap.min.js"%}"></script>
<link href="{% static "DataTablesPackage/Buttons-1.2.2/css/buttons.bootstrap.min.css"%}" rel="stylesheet"/>



<!--<script src="{% static "DataTables-1.10.9/media/js/jquery.dataTables.min.js"%}"></script>
<script src="{% static "DataTables-1.10.9/media/js/dataTables.bootstrap.min.js"%}"></script>
<link href="{% static "DataTables-1.10.9/media/css/dataTables.bootstrap.min.css"%}" rel="stylesheet" />-->
<style>
td.details-control {
    background: url('{%static "img/details_open.png" %}') no-repeat center center;
    cursor: pointer;
    width: 50px;
}
tr.shown td.details-control {
    background: url('{%static "img/details_close.png" %}') no-repeat center center;
    width:50px;
}
table.dataTable {
background-color:white;
}
#content{
background-color:white;
}
</style>

<div class="row" style="margin-top:10px;margin-bottom:20px;">
  <div class="col-xs-3 col-sm-3">
    <!--<h3>User Management</h3>-->
  </div>
  <div class="col-xs-1 col-sm-1 col-xs-offset-8">
    
    {% if request.user|has_group:"user_admins" %} 

    <button data-toggle="modal" onclick="NewUser()" class="btn btn-info pull-right" style="margin-top:10px;">+ NewUser </button>
    {% endif %}
  </div>
</div>

<table class="table" id="user_table">
  <thead>
    <tr>
      <th>LNGS ID</th>
      <th>Family name</th>
      <th>Given name</th>
      <th>Institute</th>
      <th>Position</th>
      <th>Email</th>
      <!--<th>Training</th>-->
      <th>Member Since</th>
      <th>Left</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="color:black;"></td>
      <td style="color:black;"></td>
      <td style="color:black;"></td>
      <td style="color:black"></td>
      <td style="color:black"></td>
      <td style="color:black"></td>
      <!--<td style="color:black"></td>-->
      <td style="width:100px"></td>
      <td style="width:120px"></td>
      <td style="width:10px" class="details-edit"></td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="userDetailModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" 
		data-dismiss="modal" aria-hidden="true">close
	</button>
	<h4 class="modal-title" id="detail_title">User Detail</h4>     
      </div>         
      <div class="modal-body" style="min-height:200px;overflow-y:auto;">
	<div class="row" style="margin-top:5px">
	  <div class="col-sm-6"><strong>Family name: </strong></div>
	  <div class="col-sm-6"><span id="detail_last_name"></span></div>
	</div>
	<div class="row" style="margin-top:5px">
	  <div class="col-sm-6"><strong>First name: </strong></div>
	  <div class="col-sm-6"><span id="detail_first_name"></span></div>
	</div>
	<div class="row" style="margin-top:5px">
          <div class="col-sm-6"><strong>Nickname: </strong></div>
          <div class="col-sm-6"><span id="detail_nickname"></span></div>
	</div>
	<div class="row" style="margin-top:5px">
	  <div class="col-sm-6"><strong>Institute: </strong></div>
	  <div class="col-sm-6"><span id="detail_institute"></span></div>
	</div>
	<div class="row" style="margin-top:5px">
	  <div class="col-sm-6"><strong>Position: </strong></div>
	  <div class="col-sm-6"><span id="detail_position"></span></div>
	</div>
	<div class="row" style="margin-top:5px">
	  <div class="col-sm-6"><strong>Start date: </strong></div>
	  <div class="col-sm-6"><span id="detail_start_date"></span></div>
	</div>
	<div class="row" style="margin-top:5px">
	  <div class="col-sm-6"><strong>End date: </strong></div>
	  <div class="col-sm-6"><span id="detail_end_date">None</span></div>
	</div>
	<div class="row" style="margin-top:5px">
	  <div class="col-sm-6"><strong>LNGS ID: </strong></div>
	  <div class="col-sm-6"><span id="detail_username"></span></div>
	</div>
	<div class="row" style="margin-top:5px">
	  <div class="col-sm-6"><strong>Email: </strong></div>
	  <div class="col-sm-6"><span id="detail_email"></span></div>
	</div>
	<div class="row" style="margin-top:5px">
	  <div class="col-sm-6"><strong>Skype: </strong></div>
	  <div class="col-sm-6"><span id="detail_skype_id"></span></div>
	</div>
	<div class="row" style="margin-top:5px">
	  <div class="col-sm-6"><strong>Github/gitter: </strong></div>
	  <div class="col-sm-6"><span id="detail_github_id"></span></div>
	</div>
	<div class="row" style="margin-top:5px">
	  <div class="col-sm-6"><strong>Phone: </strong></div>
	  <div class="col-sm-6"><span id="detail_cell"></span></div>
	</div>
	<div class="row" style="margin-top:5px">
	  <div class="col-sm-6"><strong>High score: </strong></div>
	  <div class="col-sm-6"><span id="detail_g_id"></span></div>
	</div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="userEditModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
		data-dismiss="modal" aria-hidden="true">×
	</button>
	<h4 class="modal-title" id="new_eq_title">Add/Edit User</h4>
      </div>
      <span style="font-size:12px;margin-left:15px;" id="id_entry_date">New entry</span>
      <span style="font-size:12px;margin-left:15px;"><strong>* required field</strong></span>
      <form method="POST" action="update_user" id="user_form">
        {% csrf_token %}
        <div class="modal-body" style="min-height:200px;overflow-y:auto;">
	  {% for field in form %}
          <div class="row" style="margin-top:5px">
            <div class="col-sm-6"><strong>{{ field.label }}{% if field.field.required %}*{% endif %}</strong></div>
	    <div class="col-sm-6">{{ field }}</div>
	  </div>
	  {% endfor %}
<div class="row" style="margin-top:3px">
      <div class="col-sm-6"><strong>Shift training</strong></div>
            <div class="col-sm-6"><input type="checkbox" id="id_training" name="training"/></div>
          </div>
          <div class="row">
            <div class="col-sm-6"><strong>Responsible</strong></div>
            <div class="col-sm-6"><input type="checkbox" id="id_responsible" name="responsible"/></div>
          </div>
          <br style="margin:1px">


	  
	</div>
	<div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn btn-danger">Cancel</a>
          <button type="submit" class="btn btn-success">
            Enter</button>
        </div>
      </form>
    </div>
  </div>  
</div>


<script>
var table = null;
var detail_address="/equipment/get_actions";
function EditEntry(button, edit){
  prefix = "detail_";
  if (edit == true) prefix = "id_";
  
  found = false;
  var tr = $(button).closest('tr');
  var row = table.row(tr);
  var data = row.data();
  $("#user_form").trigger("reset");
  for (var key in data) {
     
     if(key=="actions")
        continue;
     if (data.hasOwnProperty(key) && key!="_id" && key!="name") {
        if(key=="training" || key=="responsible"){
            if(!edit)
                continue;
            if(data[key]==true)
                document.getElementById(prefix+key).checked = true;
             else
                 document.getElementById("id_"+key).checked = false;
        }
        else if(key == "start_date" || key == "end_date"){
           date = (new Date(data[key]["$date"]));
           valstring = date.toISOString().slice(0,10);
           if(edit)
               document.getElementById(prefix+key).value=valstring;
           else
               document.getElementById(prefix+key).innerHTML=valstring;
         }
         else if(key != "g_id" || (!edit && key != "name")){
console.log(key);
           if(edit)
              document.getElementById(prefix+key).value=data[key];
           else
              document.getElementById(prefix+key).innerHTML = data[key];
      }
   }
  }
 

  // Open dialog
  if(edit==true){
    $('#userEditModal').modal('show');
    $('#userDetailModal').modal('hide');
  }
  else{
    $('#userDetailModal').modal('show');
    $('#userEditModal').modal('hide');
  }
}; // end listener for detail click


$(document).ready(function(){

   var table_data=null;
   table_data = {{ users|safe }};
console.log(table_data[0]);
   table = $("#user_table").DataTable({
 buttons: [
        'copy', 'excel', 'pdf'
    ],
         "data": table_data,          
    "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
       if("end_date" in aData){
          $('td', nRow).css('background-color', '#ccc');
          $('td', nRow).css('color', '#555');
       }
    },
         "columns": [
            { "data": "username" },
            { "data": "last_name" },
            { "data": "first_name" },
            { "data": "institute" },
            { "data": "position" },
            {"data": "email"},
/*            {
                   "orderable": false,
                   "render": function ( data, type, row ) {
                    rethtml = "";
                    if(row['training'])
                         rethtml+="<i style='color:green;' class='fa fa-check-circle'></i>"
                    else
                          rethtml+="<i style='color:red;' class='fa fa-times-circle'></i>"
                    rethtml+="&nbsp;";
                    if(row['responsible'])
                            rethtml+="<i style='color:green;' class='fa fa-check-circle'></i>"
                    else
                       rethtml+="<i style='color:red;' class='fa fa-times-circle'></i>"
                    return rethtml;
},
},*/
            { "data": "start_date", "width": "15%", "render": function (data) {
              if(!data)
                 return "unknown";
              var m = new Date(data['$date']);
             var dateString = m.getUTCFullYear() +
                 "/"+ (m.getUTCMonth()+1) +"/"+ m.getUTCDate() + " ";           
             return dateString;
            }},
            { "render": function(data, type, row){
                  if("end_date" in row){
                    var m = new Date(row["end_date"]['$date']);
                    var datestring = m.getUTCFullYear() +
                 "/"+ (m.getUTCMonth()+1) +"/"+ m.getUTCDate() + " ";

                    return datestring;
                  }
                  return "active";
               },
              "defaultContent": "active",
            },
            {
                "className":      'details-edit',
                "orderable":      false,
                "data":           null,
{% if request.user|has_group:"user_admins" %} 

                "defaultContent": '<button class="btn btn-default btn-xs" style="font-size:8pt;padding-top:0px;padding-bottom:0px;margin-bottom:0px;background-color:#aaaaaa" onClick="EditEntry(this, false)">Detail</button><button class="btn btn-default btn-xs btn-edit" style="font-size:8pt;padding-top:0px;padding-bottom:0px;margin-bottom:0px;background-color:white" onClick="EditEntry(this, true)">Edit</button>'
               {% else %}
               "defaultContent": '<button class="btn btn-default btn-xs" style="font-size:8pt;padding-top:0px;padding-bottom:0px;margin-bottom:0px;background-color:#aaaaaa" onClick="EditEntry(this, false)">Detail</button><button class="btn btn-default disabled">Edit</button>'
               {% endif %}
            },],
           "iDisplayLength": 50,
"order": [[3, 'asc'], [4, 'asc']],

});

});
function NewUser(){
     document.getElementById("user_form").reset();
     $('#userEditModal').modal('show');
}

</script>
{% endblock %}
