{% load url from future %}
{% load staticfiles %}
{% load google_analytics %}

<!DOCTYPE html>
<html lang="en">

  <head>
<!--    <link rel="icon" type="image/png" href="{% static "img/favicon.ico" %}"> -->
 <!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicons/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicons/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicons/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicons/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicons/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicons/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicons/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'favicons/ms-icon-144x144.png' %}">

<meta name="theme-color" content="#ffffff">
<meta charset="utf-8">  
<title>XENON1T Data Acquisition</title>     
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<meta name="description" content="XENON1T Data Acquisition">    
<meta name="author" content="Daniel Coderre" >

<!-- Declare pace and get it going. Note removed
     for now because it doesn't need to track every
     POST request to the backend. Put on individual
     pages where it makes sense
  -->
<!-- <script src="{% static "js/pace.min.js"%}"></script>
     <link href="{% static "css/pace.css"%}" rel="stylesheet" /> -->
<!--<script type="text/javascript">Pace.start();</script>-->

<!-- Declare here any global styles all classes need -->
<link href="{% static "bootstrap-3.3.5-dist/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "emo/css/emo_navbar.css" %}" rel="stylesheet">
<link href="{% static "css/devoops.css" %}" rel="stylesheet"> 
<link href="{% static "emo/css/emo_runslist.css" %}" rel="stylesheet">
<link href="{%  static "font-awesome-4.4.0/css/font-awesome.min.css" %}" rel="stylesheet">
<link href="{% static "css/animate.css" %}" rel="stylesheet">
<!-- Declare here any global javascript -->
<script src="{% static "jquery/js/jquery.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>

<!--<script src="{% static "Highcharts-4.2.1/js/highcharts.js" %}"></script>-->
<!--<script src="{% static "Highcharts-4.2.1/js/modules/exporting.js" %}"></script>
<script src="{% static "Highcharts-4.2.1/js/modules/offline-exporting.js" %}"></script>-->

<script src="{% static "js/jquery.linkify.min.js" %}"></script>
<script src="{% static "bootstrap-3.3.5-dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap-dialog.min.js" %}"></script>
<link rel="stylesheet" href="{% static "google-code-prettify/prettify.css" %}">
<script src="{% static "google-code-prettify/prettify.js" %}"></script>
<script src="{% static "emo/js/emo_js_helper.js" %}"></script>
<script type="text/javascript">  var global_can_start_runs = null;</script>

<!--<script type="text/javascript" src="{% static "emo/js/sideBAR.js" %}"></script>-->
<!--<link href="{%  static "css/sideBAR.css" %}" rel="stylesheet">-->
<link href="{%  static "emo/css/emo_base.css" %}" rel="stylesheet">
<link href="{% static "css/sidebar-collapse.css" %}" rel="stylesheet">

<!--<link href="{% static "bootstrap-social-gh-pages/bootstrap-social.css" %}">-->
<!--<script src="{% static "js/jquery.sidebar.min.js" %}"></script>-->


<style>
//.gitter-chat-embed {
//  top: 40px;
//}
</style>
{% if user.is_authenticated %}
<script>

/*$(function(){
  ((window.gitter = {}).chat = {}).options = {
    room: 'XENON1T/operations',
   preload: true,
//targetElement: '#main_nav_sidebar'
   activationElement: "#open_chat"
  };
});*/
</script>

{% endif %}
<style>



.fill{width:110%;background-position:center;background-size:cover;
margin-left:-30px;margin-right:-30px;
}

    /* Large desktop */
    @media (min-width: 1200px) { ... }
     
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) { ... }
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) { ... }
     
    /* Landscape phones and down */
    @media (max-width: 480px) { ... }

.nohover{
color: #000000;
}
.nohover:hover{
color: #000000;
};
</style>
{% block head %}
{% endblock %}
{% google_analytics %}
</head>

<body>
  
  <!-- Make the navigation bar -->	
  <header class="navbar navbar-fixed-top emo-navbar">   	
    <div class="navbar-header" style="height:40px">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target=".navbar-collapse" 
	      style="margin:0">      
	<span class="glyphicon glyphicon-menu-down"></span>  
      </button>
      <div class="emo-navbar-brand" id="navbar-brand">
	<!--<a class="toggle-sidebar" style="cursor:pointer;height:40px;width:40px;" title="Click to open menu">-->
	<div class="bs_button toggle-sidebar" id="sidebar-button" style="cursor:pointer">
	  <span class="bs_button_nav glyphicon glyphicon-nav"></span></div>
	<!--</a>-->
	<!--<a style="color:black">-->
	<!--<div style="cursor:default;height:40px;padding-bottom:10px;padding-top:10px;position:absolute;top:0">-->
	  XENON1T Data Acquisition
      <!--</div>-->
	<!--	</a>-->
	
      </div>
    </div>			
    <div class="collapse navbar-collapse" style="overflow:hidden;height:40px;">
      {% block login_toggle %}
      {% include "login_toggle.html" %}
      {% endblock %}
      {% if user.is_authenticated %}
      <ul class="navbar-right" style="margin-bottom:0px">
	<!--<ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" id="slow_control_nav" data-toggle="dropdown"
               href="#"><span id="fieldspan"></span>&nbsp;Buffer <span id="scspan"></span></a>
            <ul class="emo-status-menu dropdown-menu" id="sc_more" role="menu" aria-labelledby="pmts_on">
              More info here
            </ul>
          </li>
        </ul>-->
	<ul class="nav navbar-nav">
  	  <li class="dropdown">
    	    <a class="dropdown-toggle" id="last_update_nav" data-toggle="dropdown"
       	       href="#"> DAQ Net <span id="contact"></span></a>
    	    <ul class="emo-status-menu dropdown-menu" id="contact_more" role="menu" aria-labelledby="last_update">
	      More info here
	    </ul>
  	  </li>
	</ul>
	<ul class="nav navbar-nav">
  	  <li class="dropdown">
    	    <a class="dropdown-toggle" id="daq_status_nav" data-toggle="dropdown"
       	       href="#"> Data <span id="status"></span></a>
    	    <ul class="emo-status-menu dropdown-menu" style="min-width:750px;padding-top:0px;" id="status_more" role="menu" aria-labelledby="daq_status_nav">
	      More info here
	    </ul>
  	  </li>
	</ul>
	<ul class="nav navbar-nav">
  	  <li class="dropdown">
    	    <a class="dropdown-toggle" id="open_alerts_nav" data-toggle="dropdown"
       	       href="#"> Alerts <span id="alerts"></span></a>
    	    <ul class="emo-status-menu dropdown-menu" id="alerts_more" role="menu" aria-labelledby="opern_alerts_nav">
	      More info here
	    </ul>
  	  </li>
      </ul></ul>
      {% endif %}
    </div>
  </header>
  
  <!-- If user is not logged in just show them a pretty picture -->
  {% if user.is_authenticated %}
  <!-- Sidebar -->
  <div class="mainHider"></div>
  <div id="main" class="container-fluid">
    
    <div class="sidebar-left-collapse sidebar left" style="padding-top:5px;{% if request.user.username == 'maris'%}background-color:#ff69b3;{% endif %}overflow-y:auto;" id="main_nav_sidebar">
      <!--      <button class="btn btn-mini btn-info toggle-sidebar sidebar-opentoggle"
		style="background-color:#36bc98;color:#EEEEEE;margin-top:-1px;border-top-right-radius:0;border-bottom-right-radius:0;z-index:10;position:absolute;top:0px;right:13px;padding:1px;padding-right:5px;padding-left:3px;display:none;"
		type="button" aria-expanded="false"><span class="glyphicon glyphicon-chevron-left"></span>
		</button>-->
      
      <!--<a href="/" class="company-logo"></a>-->
      <div class="sidebar-color">
      <br>
      <div class="text-center" style="padding-right:20px"><h3 style="color:white">{% block title %}Home{% endblock %}</h3>     
	<br>
      </div>
      <div class="text-center">
	<a class="emo-hoverlink" href="/" title="Home">
	  <span class="glyphicon glyphicon-home" style="font-size:20px">
	  </span> Home</a>&nbsp;
	<a class="emo-hoverlink" href="https://github.com/XENON1T"
	   title="XENON1T GitHub">
	  <span class="fa fa-github" style="font-size:25px"></span> GitHub</a>&nbsp;
	<a class="emo-hoverlink" href="https://gitter.im/XENON1T/operations"
	   title="Gitter Operations Chat">
	  <span style="font-size:25px" class="fa fa-github-alt"></span> Gitter</a>&nbsp;
	<a class="emo-hoverlink" href="/docs/about"
           title="About">
          <span style="font-size:25px" class="fa fa-commenting"></span> About</a>&nbsp;
      </div>
      <hr style="margin-left:25px;margin-right:40px;margin-top:10px;">      
      </div>
      <div style="width:100%;min-height:350px;">
      <div class="emo-sidebar-link-green">
	<a href="/control" class="emo-sidebar-link-square emo-sidebar-square-green" style="width:100%;float:left;">
	  <div class="text-center"><i style="font-size:20px" class="fa fa-hdd-o"></i></div>
	  <div class="text-center">DAQ Control</div>
	</a>
	<a href="/log" class="emo-sidebar-link-square emo-sidebar-square-green" style="float:left">
          <div class="text-center"><i style="font-size:20px" class="fa fa-book"></i></div>
          <div class="text-center">Logbook</div>
        </a>
	<a href="/equipment" class="emo-sidebar-link-square emo-sidebar-square-green">
          <div class="text-center"><i style="font-size:20px" class="fa fa-wrench"></i></div>
          <div class="text-center">Equipment</div>
        </a>

      </div>

      <div class="emo-sidebar-link-blue">
	<a href="/runs" class="emo-sidebar-link-square emo-sidebar-square-blue" style="float:left;width:50%">
          <div class="text-center"><i style="font-size:20px" class="fa fa-list"></i></div>
          <div class="text-center">Runs Database</div>
        </a>
	<a href="/runs/processing" class="emo-sidebar-link-square emo-sidebar-square-blue" style="width:50%">
	  <div class="text-center"><i style="font-size:20px" class="fa fa-camera-retro"></i></div>
	  <div class="text-center">Exposure</div>
	</a>
      </div>


      <div class="emo-sidebar-link-red">
	<a href="/monitor/trigger_diagnostics" class="emo-sidebar-link-square emo-sidebar-square-red" style="float:left">
          <div class="text-center"><i style="font-size:20px" class="fa fa-line-chart"></i></div>
          <div class="text-center">Trigger Monitor</div>
        </a>
        <!--<a href="/online_monitor" class="emo-sidebar-link-square emo-sidebar-square-red">
          <div class="text-center"><i style="font-size:20px" class="fa fa-bar-chart"></i></div>
          <div class="text-center">Data Monitor</div>
        </a>-->
        <a href="/monitor/scope" class="emo-sidebar-link-square emo-sidebar-square-red">
          <div class="text-center"><i style="font-size:20px" class="fa fa-area-chart"></i></div>
          <div class="text-center">Live Scope</div>
        </a>
        <a href="/monitor/waveforms" class="emo-sidebar-link-square emo-sidebar-square-red" 
	   style="width:100%">
          <div class="text-center"><i style="font-size:20px" class="fa fa-eye"></i></div>
          <div class="text-center">Live Waveforms</div>
        </a>

      </div>
      <div class="emo-sidebar-link-yellow">
	<a href="/management/shift_calendar" class="emo-sidebar-link-square emo-sidebar-square-yellow" style="float:left">
          <div class="text-center"><i style="font-size:20px" class="fa fa-calendar"></i></div>
          <div class="text-center">Shift Calendar</div>
        </a>
	<a href="/management/user_list" class="emo-sidebar-link-square emo-sidebar-square-yellow">
          <div class="text-center"><i style="font-size:20px" class="fa fa-list-ul"></i></div>
          <div class="text-center">User List</div>
        </a>

      </div>

      <div class="emo-sidebar-link-dark" >
	<a href="/docs/contact" class="emo-sidebar-link-square emo-sidebar-square-dark" 
	   style="float:left">
          <div class="text-center"><i style="font-size:18px;" class="fa fa-envelope"></i></div>
          <div class="text-center">Contact</div>
        </a>
	<a href="/docs" 
	   class="emo-sidebar-link-square emo-sidebar-square-dark">
          <div class="text-center">
	    <i style="font-size:18px" class="fa fa-question-circle"></i></div>
          <div class="text-center">Docs</div>
        </a>
      </div>

      <div class="sidebar-color" style="position:absolute;bottom:40px;left:0;width:100%;padding-top:15px;padding-bottom:5px;">
	{% if request.user.username == 'messina' or request.user.username == 'coderre' %}       
	<div style="padding-left:15px;float:left;">
	  <a class="btn emo-btn-outline" href="/config">
	    <div class="text-center"><i class="fa fa-cog"></i></div>
	    <div class="text-center">DAQ Settings</div>
	  </a>
	</div>
	<div style="padding-left:145px">
	<a class="btn emo-btn-outline" href="/management/shift_rules">
	  <div class="text-center"><i class="fa fa-cog"></i></div>
	  <div class="text-center">Shift Settings</div>
	  </a>
	</div>
	{% else %}
	<div style="padding-left:30px">
	  <a class="btn emo-btn-outline" href="/config">
            <div class="text-center"><i class="fa fa-cog"></i></div>
            <div class="text-center">DAQ Settings</div>
          </a>
        </div>
	{% endif %}
      </div>
      </div>      
</div>
<div id="content" class="container-fluid emo-sidebar-hide"><!-- col-sm-offset-2">-->
  <!-- Put announcements here -->
<!--  <div class="bg-danger" style="width:100%"><strong>Info: </strong> due to an outage on xecluster many features of the DAQ are not available. No idea on ETA for full functionality.</div>-->
      {% block content %}
<!--      <ul class="pull-right" style="padding:3px;margin-top:3px;">
	<a href="/april" class="notranslate">(zen mode)</a>
     </ul>-->

            {% include "homepage.html" %}

<!-- This page specific scripts -->
<script type="text/javascript">
  $(function(){
  $('#title_text').addClass('animated bounceInRight');
  $('#front_note').addClass('animated bounceInLeft');
  
  var browser = get_browser_info();
  if(browser.name == "IE" && browser.version < 11)
      alert("You are using an old version of Internet Explorer. Some site elements may not function properly. Consider upgrading to at least version 11 (or Edge)!");
  console.log(browser.name);
  console.log(browser.version);
});
</script>

{% endblock %}
    </div>
  </div>
  {% else %}
{% block content2 %}
<div class="hero-unit fill" style="margin:20px;margin-top:30px;">
  <br>
  <h1>DAQ Web Portal</h1>
  <h2>Data flow monitoring</h2>
  <br>
  <p style="color:white">
    Please log in to view content. 
  </p>
</div>
<br><br>
  <div class="row">
    <div class="col-sm-offset-5 col-sm-2 col-xs-12">
      <a class="btn btn-xl btn-info" href="/accounts/login" style="padding:10px;padding-left:50px;padding-right:50px;font-size:14pt;">Log in</a>
    </div>
  </div>
  


<br><br><br>
  <div class="col-xs-12 row">
    <div class="social-buttons">
        <div class="col-sm-3 col-xs-6 col-sm-offset-3" style="min-width:200px;">
          <a class="btn btn-block btn-default btn-social btn-lg btn-github" style="color:black;font-size:10pt;padding-left:3px;padding-right:3px;"
             href="http://www.github.com/coderdj/emo">
            <i class="fa fa-github" style="font-size:14pt"></i> GitHub
          </a>
	  </div>
        <!--<div class="col-sm-3 col-xs-6" style="min-width:200px;">
          <a class="btn btn-block btn-default btn-social btn-lg btn-github" style="color:black;font-size:10pt;padding-left:3px;padding-right:3px;"
             href="http://www.github.com/XENON1T">
            <i class="fa fa-github" style="font-size:14pt"></i> XENON1T GitHub
          </a>
        </div>-->

        <div class="col-sm-3 col-xs-6" style="min-width:200px;">
          <a class="btn btn-block btn-default btn-social btn-lg btn-github"
             style="color:black;font-size:10pt;padding-left:3px;padding-right:3px;"
             href="http://www.xenon1t.org">
            xenon1t.org
      </a>
    </div>
	<!--<div class="col-sm-3 col-xs-6" style="min-width:200px;">
      <a class="btn btn-block btn-default btn-social btn-lg btn-github"
         style="color:black;font-size:10pt;padding-left:3px;padding-right:3px;"
         href="https://xecluster.lngs.infn.it/dokuwiki/doku.php">
        XENON1T dokuwiki
      </a>
    </div>-->
{% endblock %}
	{% endif %}
			

<!--		</div>	-->

  </body>
      {% if user.is_authenticated %}

<!--    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>-->
    {% endif %}
<script>
// General modifications
  !function ($) {
    
    $(function(){

    // Bootstrap tooltips
    $('[data-toggle="tooltip"]').tooltip();

    // Google code prettification
      window.prettyPrint && prettyPrint()
    })
  }(window.jQuery)
</script>

<script type="text/javascript">
  // Everything in this script tag borrowed (and modified) from devoops. http://devoops.me
  
  // Toggle the sidebar
  $('body').on('click', '.toggle-sidebar', function (e) {
  e.preventDefault();
  $(".sidebar.left").trigger("sidebar:toggle");
  $(".sidebar.left").toggle("slide", {direction: "left"}, 100);
  $(".mainHider").fadeToggle(100);
  $("#navbar-brand").toggleClass("emo-highlighted", 50);
  $("#sidebar-button").toggleClass("emo-highlighted", 50);
//  $("#content").toggleClass('emo-sidebar-show');
  //$("#content").toggleClass('emo-sidebar-hide');
      $(".sidebar-opentoggle").toggle();

      
//     $('div#main').toggleClass('sidebar-show');  
  
//     window.dispatchEvent(new Event('resize'));

  });
  $(".mainHider").on('click', function(e){
     e.preventDefault();
     $(".sidebar.left").trigger("sidebar:toggle");
  $(".sidebar.left").toggle("slide", {direction: "left"}, 100);
  $(".mainHider").fadeToggle(100);
  $("#navbar-brand").toggleClass("emo-highlighted", 500);
$(".sidebar-opentoggle").toggle();
});
 

  // Menu handling
  $('.main-menu').on('click', 'a', function (e) {
     var parents = $(this).parents('li');
     var li = $(this).closest('li.dropdown');
     var another_items = $('.main-menu li').not(parents);
     another_items.find('a').removeClass('active');
     another_items.find('a').removeClass('active-parent');
     if ($(this).hasClass('dropdown-toggle') || $(this).closest('li').find('ul').length == 0) {
        $(this).addClass('active-parent');
        var current = $(this).next();
        if (current.is(':visible')) {
           li.find("ul.dropdown-menu").slideUp(50);
           li.find("ul.dropdown-menu a").removeClass('active')
        }
        else {
           another_items.find("ul.dropdown-menu").slideUp(50);
           current.slideDown(50);
        }
     }
     else {
        if (li.find('a.dropdown-toggle').hasClass('active-parent')) {
        var pre = $(this).closest('ul.dropdown-menu');
        pre.find("li.dropdown").not($(this).closest('li')).find('ul.dropdown-menu').slideUp('fast');
        }
     }
     if ($(this).hasClass('active') == false) {
        $(this).parents("ul.dropdown-menu").find('a').removeClass('active');
        $(this).addClass('active')
     }
     if ($(this).attr('href') == '#') {
        e.preventDefault();
     }
  });
</script>

<script type="text/javascript">
  document.blockupdate=false;
  function DoUpdate(Url){      
      console.log(document.blockupdate)
      if(document.blockupdate==true){
          setTimeout(function() {
                    DoUpdate( Url );
                }, 15000 );
          return;
       }
		$.getJSON(Url, function(data) {
	                // Now do some aggregations. data is a list of status docs for the detectors. Status can
			// either be RUNNING, IDLE, or ERROR. Last update is most recent update
	                connected = false;
			status = "NONE";
			var currentTime = new Date();
			var maxtdiff = 1000000;
			var recentTime;
	                var status_html="";
			console.log(data);
			for (x = 0; x < data['status'].length; x++) {
			      if(!data['status'][x]) continue;
				status = data['status'][x]['state'];
				if (status == "Running")
					status_html+="<i style='color:#4CE52E;' class='fa fa-check-circle'></i>";
				else if( status == "Idle" )
					status_html+="<i style='color:#FCAF2A;' class='fa fa-check-circle'></i>";
				else if(status == "Error" )
					status_html+="<i style='color:#FB0808;' class='fa fa-exclamation-circle'></i>";
				else 
					status_html+="<i style='color:#FCAF2A;' class='fa fa-exclamation-triangle'></i>"
				var docdate = new Date(data['status'][x]['createdAt']['$date']);
				tdiff = currentTime - docdate;
				if (tdiff < maxtdiff) {					maxtdiff = tdiff;
					recentTime = docdate;
				}
			}
			document.getElementById("status").innerHTML = status_html;
			status_more = "<strong><div class='row emo-status-menu-entry'><div class='col-xs-2'>Detector</div>" +
					"<div class='col-xs-2'>Status</div><div class=col-xs-4>Mode</div><div class='col-xs-4'>Run name</div></div></strong>";
			for (x = 0; x < data['status'].length; x++) {
if(!data['status'][x]) continue;
				status_more += "<div class='row emo-status-menu-entry'><div class='col-xs-2'><strong>" +
						data['status'][x]['detector'] + "</strong></div>" + "<div class='col-xs-2'>";
				if( data['status'][x]['state'] == "Running" ) {
					status_more += "<strong style='color:green;'> Running </strong></div><div class='col-xs-4'>" + data['status'][x]['mode'] +
							"</div><div class=col-xs-4>" +
							data['status'][x]['currentRun'] + "</div></div>";
				}
				else{
					status_more += "<strong style='color:orange;'>" + data['status'][x]['state'] + "</strong> </div></div>";
				}
			}
			status_more+="</div>";
			document.getElementById("status_more").innerHTML = status_more;

			if( maxtdiff < 60000 ){
				document.getElementById("contact").innerHTML = '<i style="color:#4CE52E;" class="fa fa-check-circle"></i>';
				document.getElementById("contact_more").innerHTML = "<div class='emo-status-menu-entry'><strong style='color:green;'>" +
					"Network connection established: </strong> Most recent status " +
					"check-in: " + Math.round(maxtdiff / 1000).toString() + " seconds ago.</div>";
			}
			else {
				document.getElementById("contact").innerHTML = '<i style="color:#FB0808;" class="fa fa-exclamation-circle"></i>';
				document.getElementById("contact_more").innerHTML = "<div class='emo-status-menu-entry'><strong style='color:red;'>" +
					"No connection to the DAQ database: </strong> Most recent status " +
					"check-in: " + Math.round(maxtdiff / 1000).toString() + " seconds ago.</div>";
				document.getElementById("status").innerHTML = '<i style="color:#AAAAAA;" class="fa fa-question-circle"></i>';
				document.getElementById("status_more").innerHTML = "<div class='emo-status-menu-entry'><strong style='color:red;'>" +
					"We can't connect: </strong> So we don't really know what the status is. Consider logging into the DAQ cluster " +
						"directly.</div>";

			}
		        if( data["issues"] == false ){
			    document.getElementById("alerts").innerHTML = '<i style="color:#4CE52E;" class="fa fa-check-circle"></i>';
			    document.getElementById("alerts_more").innerHTML = "<div class='emo-status-menu-entry'><strong style='color:green;'>" +
			    		"No open alerts: </strong> All systems go.</div>";
		            global_can_start_runs = true;
		        }
                        else{
                            document.getElementById("alerts").innerHTML = '<i style="color:#FB0808;" class="fa fa-exclamation"></i>';
		            document.getElementById("alerts_more").innerHTML = "<div class='emo-status-menu-entry'><strong sty\
le='color:red;'>" + "Open alerts! </strong> Close them on the <a href='/log?priority=-2'>log page</log></div>";
			    global_can_start_runs = false;
                        }
		});
	        
	        setTimeout(function() {
                    DoUpdate( Url );
                }, 15000 );
	}
$(function(){
        var UpdateUrl = "/control/get_status_update";

	$(".sidebar-links div a").on('click', function(){
	  if($(this).closest('div').hasClass("selected"))
	    $(".sidebar-links div").removeClass("selected");
          else{
	    $(".sidebar-links div").removeClass("selected");
            $(this).closest('div').addClass("selected");
	  }
         });
   DoUpdate(UpdateUrl);
});

</script>

</html>
