{% load url from future %}
{% load staticfiles %}
{% load google_analytics %}
{% load clicky %}
<!DOCTYPE html>
<html lang="en">

  <head>
<!--    <link rel="icon" type="image/png" href="{% static "img/favicon.ico" %}"> -->
 <!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicons/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicons/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicons/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicons/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicons/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicons/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicons/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'favicons/ms-icon-144x144.png' %}">

<meta name="theme-color" content="#ffffff">
<meta charset="utf-8">  
<title>XENON1T Data Acquisition</title>     
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<meta name="description" content="XENON1T Data Acquisition">    
<meta name="author" content="Daniel Coderre" >

<!-- Declare pace and get it going. Note removed
     for now because it doesn't need to track every
     POST request to the backend. Put on individual
     pages where it makes sense
  -->
<!-- <script src="{% static "js/pace.min.js"%}"></script>
     <link href="{% static "css/pace.css"%}" rel="stylesheet" /> -->
<!--<script type="text/javascript">Pace.start();</script>-->

<!-- Declare here any global styles all classes need -->
<link href="{% static "bootstrap-3.3.5-dist/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "emo/css/emo_navbar.css" %}" rel="stylesheet">
<link href="{% static "css/devoops.css" %}" rel="stylesheet"> 
<link href="{% static "emo/css/emo_runslist.css" %}" rel="stylesheet">
<link href="{%  static "font-awesome-4.4.0/css/font-awesome.min.css" %}" rel="stylesheet">
<link href="{% static "css/animate.css" %}" rel="stylesheet">
<!-- Declare here any global javascript -->
<script src="{% static "jquery/js/jquery.min.js" %}"></script>

<!--<script src="{% static "Highcharts-4.2.1/js/highcharts.js" %}"></script>-->
<!--<script src="{% static "Highcharts-4.2.1/js/modules/exporting.js" %}"></script>
<script src="{% static "Highcharts-4.2.1/js/modules/offline-exporting.js" %}"></script>-->

<script src="{% static "js/jquery.linkify.min.js" %}"></script>
<script src="{% static "bootstrap-3.3.5-dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap-dialog.min.js" %}"></script>
<link rel="stylesheet" href="{% static "google-code-prettify/prettify.css" %}">
<script src="{% static "google-code-prettify/prettify.js" %}"></script>
<script src="{% static "emo/js/emo_js_helper.js" %}"></script>
<script type="text/javascript">  var global_can_start_runs = null;</script>

<!--<script type="text/javascript" src="{% static "emo/js/sideBAR.js" %}"></script>-->
<!--<link href="{%  static "css/sideBAR.css" %}" rel="stylesheet">-->
<link href="{%  static "emo/css/emo_base.css" %}" rel="stylesheet">
<link href="{% static "css/sidebar-collapse.css" %}" rel="stylesheet">

<link href="{% static "bootstrap-social-gh-pages/bootstrap-social.css" %}">
<script src="{% static "js/jquery.sidebar.min.js" %}"></script>

<style>
.gitter-chat-embed {
  top: 40px;
}
</style>
{% if user.is_authenticated %}
<script>

$(function(){
  ((window.gitter = {}).chat = {}).options = {
    room: 'XENON1T/operations',
   preload: true,
//targetElement: '#main_nav_sidebar'
   activationElement: false
  };
});
</script>

{% endif %}
<style>

.hero-unit {
//    background-image:url("/components/img/pano2.jpg");
    background-size:cover;
    background-color: #4fa783;
    height: 20%;
    min-height:150px;
    margin-left: -30px;
    margin-right: -30px;
    box-shadow: 0 6px 60px 0 #131313;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
 //   margin-top: 0px;
  }
.hero-unit h1 {
   margin-left:10%;
  // margin-top: 0px;
    color: #FFFFFF;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
    
}
.hero-unit h2 {
   margin-left:10%;
    font-size: 25px;
    color: #FFFFFF;
   
}
.hero-unit p{
   margin-left:10%;
}
.hero-unit p a {
background-color: #6F6E88;
}

.fill{width:110%;background-position:center;background-size:cover;
margin-left:-30px;margin-right:-30px;
}

    /* Large desktop */
    @media (min-width: 1200px) { ... }
     
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) { ... }
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) { ... }
     
    /* Landscape phones and down */
    @media (max-width: 480px) { ... }
</style>
{% block head %}
{% endblock %}
{% google_analytics %}
</head>

<body>
  
  <!-- Make the navigation bar -->	
  <header class="emo-navbar navbar navbar-fixed-top emo-navbar">   	
    <div class="navbar-header" style="height:40px">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target=".navbar-collapse" 
	      style="margin:0">      
	<span class="glyphicon glyphicon-menu-down"></span>  
      </button>
      <a class="navbar-brand toggle-sidebar" style="cursor:pointer;">
   	XENON1T Data Acquisition 
      </a>
    </div>			
    <div class="collapse navbar-collapse" style="overflow:hidden;height:40px;">
      {% block login_toggle %}
      {% include "login_toggle.html" %}
      {% endblock %}
      {% if user.is_authenticated %}
      <ul class="navbar-right" style="margin-bottom:0px">
	<ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" id="slow_control_nav" data-toggle="dropdown"
               href="#"><span id="fieldspan"></span>&nbsp;PMTs <span id="scspan"></span></a>
            <ul class="emo-status-menu dropdown-menu" id="sc_more" role="menu" aria-labelledby="pmts_on">
              More info here
            </ul>
          </li>
        </ul>
	<ul class="nav navbar-nav">
  	  <li class="dropdown">
    	    <a class="dropdown-toggle" id="last_update_nav" data-toggle="dropdown"
       	       href="#">Connected <span id="contact"></span></a>
    	    <ul class="emo-status-menu dropdown-menu" id="contact_more" role="menu" aria-labelledby="last_update">
	      More info here
	    </ul>
  	  </li>
	</ul>
	<ul class="nav navbar-nav">
  	  <li class="dropdown">
    	    <a class="dropdown-toggle" id="daq_status_nav" data-toggle="dropdown"
       	       href="#"> DAQ Status <span id="status"></span></a>
    	    <ul class="emo-status-menu dropdown-menu" style="min-width:600px;padding-top:0px;" id="status_more" role="menu" aria-labelledby="daq_status_nav">
	      More info here
	    </ul>
  	  </li>
	</ul>
	<ul class="nav navbar-nav">
  	  <li class="dropdown">
    	    <a class="dropdown-toggle" id="open_alerts_nav" data-toggle="dropdown"
       	       href="#"> Open Alerts <span id="alerts"></span></a>
    	    <ul class="emo-status-menu dropdown-menu" id="alerts_more" role="menu" aria-labelledby="opern_alerts_nav">
	      More info here
	    </ul>
  	  </li>
      </ul></ul>
      {% endif %}
    </div>
  </header>
  
  <!-- If user is not logged in just show them a pretty picture -->
  {% if user.is_authenticated %}
  <!-- Sidebar -->
  <div id="main" class="container-fluid">
    
    <div class="sidebar-left-collapse sidebar left" style="padding-top:5px{% if request.user.username == 'maris'%};background-color:#ff69b3;{% endif %}" id="main_nav_sidebar">
      <button class="btn btn-mini btn-info toggle-sidebar sidebar-opentoggle"
              style="background-color:#36bc98;color:#EEEEEE;margin-top:-1px;border-top-right-radius:0;border-bottom-right-radius:0;z-index:10;position:absolute;top:0px;right:13px;padding:1px;padding-right:5px;padding-left:3px;"
              type="button" aria-expanded="false"><span class="glyphicon glyphicon-chevron-left"></span>

</button>

      <a href="/" class="company-logo"></a>
      <hr style="margin-left:25px;margin-right:40px;">
      <div class="sidebar-links" style="position-relative">
	
	<div class="link-blue">
	  
	  <a href="#">
	    <i class="fa fa-hdd-o"></i>DAQ
	  </a>
	  
	  <ul class="sub-links">
	    <li><a href="/control/fancy">DAQ Control</a></li>
	    <li><a href="/config">Run Modes</a></li>
	    <li><a href="/log">DAQ Logbook</a></li>
	    <li><a href="/equipment">DAQ Equipment</a></li>
	    <!--<li><a href="/slow_control/high_voltage">PMT High Voltage</a></li>-->
	  </ul>
	  
	</div>
	
	<div class="link-red">
	  
	  <a href="#">
	    <i class="fa fa-eye"></i>Monitor
      </a>
	  
	  <ul class="sub-links">
	    <!--<li><a href="/monitor/noise">Noise Spectra</a></li>-->
	    <li><a href="/monitor/waveforms">Live Waveforms</a></li>
	    <!--<li><a href="/monitor/diagnostics">Online Monitor</a></li>-->
	    <li><a href="/monitor/scope">Data Browser</a></li>
	    <li><a href="/monitor/trigger_diagnostics">Trigger Monitor</a></li>
	    <!--<li><a href="/slow_control">XE100 Slow Control</a></li>-->
	    <!--<li><a href="/monitor/eventdisplay">Event Display</a></li>-->
	  </ul>
	  
	</div>
	
	<div class="link-yellow">
	  
	  <a href="#">
	    <i class="fa fa-folder-open"></i>Runs      </a>
	  
	  <ul class="sub-links">
	    <li><a href="/runs">Runs List</a></li>
	    <li><a href="/monitor/runstats">Runs Info</a></li>
	  </ul>
	  
	</div>
	<div class="link-orange">
	  <a href="#">
            <i class="fa fa-cog"></i>Management</a>
          <ul class="sub-links">
            <li><a href="/management">User list</a></li>
	    {% if request.user.username == 'messina' or request.user.username == 'coderre' %}
	    <li><a href="/management/shift_rules">Shift Responsibility</a></li>
	    {% endif %}
	    <li><a href="/management/shift_calendar">Shift Calendar</a></li>
          </ul>

	  </div>

	<div class="link-green">
	  
	  <a href="#">
	    <i class="fa fa-info"></i>Help/Links
	  </a>
	  
	  <ul class="sub-links">
	    <li><a href="/docs">Docs</a></li>
	    <li><a href="/docs/contact">Contact</a></li>
	    <li><a href="/docs/about">About</a></li>	
	    <li><a href="https://cloud.mongodb.com">Mongo Cloud (ext)</a></li>
	    <li><a href="https://www.github.com/coderdj/emo">Github (ext)</a></li>
	  </ul>
	  
	</div>
	
      </div>
      <button class="btn btn-default js-gitter-toggle-chat-button" style="position:absolute;margin-left:17px;width:130px;bottom:15px;background-color:#36bc98;color:white;font-family: sans-serif;font-size: 10px;letter-spacing: 1px;text-transform: uppercase;text-align: center;text-decoration: none;padding-top:8px;padding-bottom:20px;font-weight:normal;" id="open_chat">Toggle Chat</button>
    </div>
    <div id="content" class="container-fluid emo-sidebar-show"><!-- col-sm-offset-2">-->
      <button class="btn btn-mini btn-info toggle-sidebar sidebar-opentoggle" 
	      style="background-color:white;color:#444444;border-left:0px;margin-top:-1px;border-top-left-radius:0;border-bottom-left-radius:0;z-index:10;position:absolute;top:0;left:0;padding:1px;display:none;" 
	      type="button" aria-expanded="false"><span class="glyphicon glyphicon-chevron-right"></span>

</button>



      {% block content %}
<!--      <ul class="pull-right" style="padding:3px;margin-top:3px;">
	<a href="/april" class="notranslate">(zen mode)</a>
     </ul>-->

            {% include "homepage.html" %}
      <!-- ANNOUNCEMENT -->
<!--  <p class="bg-danger" stype="width:100%;padding-left:20px;" id="front_note">
    <strong>Maintenance Notice 6.1.16:</strong> We're doing some tests to our databases over the next few days. Therefore the DAQ is offline at the moment. If you need it for something contact us and we can bring it up for you.
  </p>-->
  <!--<p class="bg-info" style="width:100%;padding-left:20px" id="front_note">
    <strong>Welcome!</strong> In these early days of the experiment please coordinate with the DAQ group if you want to run acquisition, either by email or using the gitter chat embedded here. As always, please file issues at the GitHub. Happy Holidays, happy DAQ-ing! - DAQ Team
  </p>-->

<!--
<div id="caldiv" class="col-xs-12">
</div>
-->
<!-- This page specific scripts -->
<script type="text/javascript">
  $(function(){
  $('#title_text').addClass('animated bounceInRight');
  $('#front_note').addClass('animated bounceInLeft');
  
  var browser = get_browser_info();
  if(browser.name == "IE" && browser.version < 11)
      alert("You are using an old version of Internet Explorer. Some site elements may not function properly. Consider upgrading to at least version 11 (or Edge)!");
  console.log(browser.name);
  console.log(browser.version);
});
</script>

{% endblock %}
    </div>
  </div>
  {% else %}
{% block content2 %}
<div class="hero-unit fill" style="margin-top:30px">
  <br>
  <h1>DAQ Web Portal</h1>
  <h2>Data flow monitoring</h2>
  <br>
  <p style="color:white">
    Please log in to view content. 
  </p>
</div>
<br><br>
  <div class="row">
    <div class="col-sm-offset-5 col-sm-2 col-xs-12">
      <a class="btn btn-xl btn-info" href="/accounts/login" style="padding:10px;padding-left:50px;padding-right:50px;font-size:14pt;">Log in</a>
    </div>
  </div>
  


<br><br><br>
  <div class="col-xs-12 row">
    <div class="social-buttons">
        <div class="col-sm-3 col-xs-6 col-sm-offset-3" style="min-width:200px;">
          <a class="btn btn-block btn-default btn-social btn-lg btn-github" style="color:black;font-size:10pt;padding-left:3px;padding-right:3px;"
             href="http://www.github.com/coderdj/emo">
            <i class="fa fa-github" style="font-size:14pt"></i> GitHub
          </a>
	  </div>
        <!--<div class="col-sm-3 col-xs-6" style="min-width:200px;">
          <a class="btn btn-block btn-default btn-social btn-lg btn-github" style="color:black;font-size:10pt;padding-left:3px;padding-right:3px;"
             href="http://www.github.com/XENON1T">
            <i class="fa fa-github" style="font-size:14pt"></i> XENON1T GitHub
          </a>
        </div>-->

        <div class="col-sm-3 col-xs-6" style="min-width:200px;">
          <a class="btn btn-block btn-default btn-social btn-lg btn-github"
             style="color:black;font-size:10pt;padding-left:3px;padding-right:3px;"
             href="http://www.xenon1t.org">
            xenon1t.org
      </a>
    </div>
	<!--<div class="col-sm-3 col-xs-6" style="min-width:200px;">
      <a class="btn btn-block btn-default btn-social btn-lg btn-github"
         style="color:black;font-size:10pt;padding-left:3px;padding-right:3px;"
         href="https://xecluster.lngs.infn.it/dokuwiki/doku.php">
        XENON1T dokuwiki
      </a>
    </div>-->
{% endblock %}
	{% endif %}
			

<!--		</div>	-->
{% clicky %}
  </body>
      {% if user.is_authenticated %}

    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    {% endif %}
<script>
// General modifications
  !function ($) {
    
    $(function(){

    // Bootstrap tooltips
    $('[data-toggle="tooltip"]').tooltip();

    // Google code prettification
      window.prettyPrint && prettyPrint()
    })
  }(window.jQuery)
</script>

<script type="text/javascript">
  // Everything in this script tag borrowed (and modified) from devoops. http://devoops.me
  
  // Toggle the sidebar
  $('body').on('click', '.toggle-sidebar', function (e) {
  e.preventDefault();
  $(".sidebar.left").trigger("sidebar:toggle");
    $("#content").toggleClass('emo-sidebar-show');
      $("#content").toggleClass('emo-sidebar-hide');
      $(".sidebar-opentoggle").toggle();

      
//     $('div#main').toggleClass('sidebar-show');  
  
     window.dispatchEvent(new Event('resize'));

  });
 

  // Menu handling
  $('.main-menu').on('click', 'a', function (e) {
     var parents = $(this).parents('li');
     var li = $(this).closest('li.dropdown');
     var another_items = $('.main-menu li').not(parents);
     another_items.find('a').removeClass('active');
     another_items.find('a').removeClass('active-parent');
     if ($(this).hasClass('dropdown-toggle') || $(this).closest('li').find('ul').length == 0) {
        $(this).addClass('active-parent');
        var current = $(this).next();
        if (current.is(':visible')) {
           li.find("ul.dropdown-menu").slideUp('fast');
           li.find("ul.dropdown-menu a").removeClass('active')
        }
        else {
           another_items.find("ul.dropdown-menu").slideUp('fast');
           current.slideDown('fast');
        }
     }
     else {
        if (li.find('a.dropdown-toggle').hasClass('active-parent')) {
        var pre = $(this).closest('ul.dropdown-menu');
        pre.find("li.dropdown").not($(this).closest('li')).find('ul.dropdown-menu').slideUp('fast');
        }
     }
     if ($(this).hasClass('active') == false) {
        $(this).parents("ul.dropdown-menu").find('a').removeClass('active');
        $(this).addClass('active')
     }
     if ($(this).attr('href') == '#') {
        e.preventDefault();
     }
  });
</script>

<script type="text/javascript">
	function DoUpdate(Url){

	/*	
	        sc_URL = "/slow_control/get_sc_info";
         	$.getJSON(sc_URL, function(data) {
                   if(data['staleness'] > 15){
                      document.getElementById("fieldspan").innerHTML="--/--";
                      document.getElementById("scspan").innerHTML="--/--";
                   }
                   document.getElementById("fieldspan").innerHTML=(parseFloat(data['anode'])/1000.).toFixed(2)+"kV/"+(data['cathode']).toFixed(2)+"kV";
                   document.getElementById("scspan").innerHTML=data['pmts']['on'].toString() + "/" + data['pmts']['tot'].toString();
    var html= "<p>Updated " + new Date(data['pmts']['date']['$date'])+"</p><p><strong>"+
      "Values are: "+data['staleness']+" minutes old</strong></p>" + "<p><strong>PMTs off: </strong>";
      if(data['pmts_off'].length>15) html += "Many</p>";
    else {
      for(var i=0; i<data['pmts_off'].length; i+=1){
          html += data['pmts_off'][i].toString();
          if(i!= data['pmts_off'].length -1) html += ", ";
      }
      html+="</p>";
    }
											                document.getElementById("sc_more").innerHTML = html;
                  
                });
*/
		$.getJSON(Url, function(data) {
	                // Now do some aggregations. data is a list of status docs for the detectors. Status can
			// either be RUNNING, IDLE, or ERROR. Last update is most recent update
	                connected = false;
			status = "NONE";
			var currentTime = new Date();
			var maxtdiff = 1000000;
			var recentTime;
	                var status_html="";
			for (x = 0; x < data['status'].length; x++) {
				status = data['status'][x]['state'];
				if (status == "Running")
					status_html+="<i style='color:green;' class='fa fa-check-circle'></i>";
				else if( status == "Idle" )
					status_html+="<i style='color:orange'; class='fa fa-check-circle'></i>";
				else if(status == "Error" )
					status_html+="<i style='color:red;' class='fa fa-exclamation-circle'></i>";
				else 
					status_html+="<i style='color:orange;' class='fa fa-exclamation-triangle'></i>"
				var docdate = new Date(data['status'][x]['createdAt']['$date']);
				tdiff = currentTime - docdate;
				if (tdiff < maxtdiff) {					maxtdiff = tdiff;
					recentTime = docdate;
				}
			}
			document.getElementById("status").innerHTML = status_html;
			status_more = "<strong><div class='row emo-status-menu-entry'><div class='col-xs-2'>Detector</div>" +
					"<div class='col-xs-2'>Status</div><div class=col-xs-4>Mode</div><div class='col-xs-4'>Run name</div></div></strong>";
			for (x = 0; x < data['status'].length; x++) {
				status_more += "<div class='row emo-status-menu-entry'><div class='col-xs-2'><strong>" +
						data['status'][x]['detector'] + "</strong></div>" + "<div class='col-xs-2'>";
				if( data['status'][x]['state'] == "Running" ) {
					status_more += "<strong style='color:green;'> Running </strong></div><div class='col-xs-4'>" + data['status'][x]['mode'] +
							"</div><div class=col-xs-4>" +
							data['status'][x]['currentRun'] + "</div></div>";
				}
				else{
					status_more += "<strong style='color:orange;'>" + data['status'][x]['state'] + "</strong> </div></div>";
				}
			}
			status_more+="</div>";
			document.getElementById("status_more").innerHTML = status_more;

			if( maxtdiff < 60000 ){
				document.getElementById("contact").innerHTML = '<i style="color:green;" class="fa fa-check-circle"></i>';
				document.getElementById("contact_more").innerHTML = "<div class='emo-status-menu-entry'><strong style='color:green;'>" +
					"Network connection established: </strong> Most recent status " +
					"check-in: " + Math.round(maxtdiff / 1000).toString() + " seconds ago.</div>";
			}
			else {
				document.getElementById("contact").innerHTML = '<i style="color:red;" class="fa fa-exclamation-circle"></i>';
				document.getElementById("contact_more").innerHTML = "<div class='emo-status-menu-entry'><strong style='color:red;'>" +
					"No connection to the DAQ database: </strong> Most recent status " +
					"check-in: " + Math.round(maxtdiff / 1000).toString() + " seconds ago.</div>";
				document.getElementById("status").innerHTML = '<i style="color:#AAAAAA;" class="fa fa-question-circle"></i>';
				document.getElementById("status_more").innerHTML = "<div class='emo-status-menu-entry'><strong style='color:red;'>" +
					"We can't connect: </strong> So we don't really know what the status is. Consider logging into the DAQ cluster " +
						"directly.</div>";

			}
		        if( data["issues"] == false ){
			    document.getElementById("alerts").innerHTML = '<i style="color:green;" class="fa fa-check-circle"></i>';
			    document.getElementById("alerts_more").innerHTML = "<div class='emo-status-menu-entry'><strong style='color:green;'>" +
			    		"No open alerts: </strong> All systems go.</div>";
		            global_can_start_runs = true;
		        }
                        else{
                            document.getElementById("alerts").innerHTML = '<i style="color:red;" class="fa fa-exclamation"></i>';
		            document.getElementById("alerts_more").innerHTML = "<div class='emo-status-menu-entry'><strong sty\
le='color:red;'>" + "Open alerts! </strong> Close them on the <a href='/log?priority=-2'>log page</log></div>";
			    global_can_start_runs = false;
                        }
		});
	        
	        setTimeout(function() {
                    DoUpdate( Url );
                }, 15000 );
	}
$(function(){
        var UpdateUrl = "/control/get_status_update";
				       if($(window).width()<=450){
          $(".sidebar.left").trigger("sidebar:toggle");
          $("#content").toggleClass('emo-sidebar-show');
          $("#content").toggleClass('emo-sidebar-hide');
          window.dispatchEvent(new Event('resize'));
							      }
	$(".sidebar-links div a").on('click', function(){
	  if($(this).closest('div').hasClass("selected"))
	    $(".sidebar-links div").removeClass("selected");
          else{
	    $(".sidebar-links div").removeClass("selected");
            $(this).closest('div').addClass("selected");
	  }
         });
   DoUpdate(UpdateUrl);
});

</script>

</html>
