{% load staticfiles %}
<script src="{% static "js/highcharts.4.2.5.js" %}" type="text/javascript"></script>
<script src="{% static "js/highcharts.4.2.5.exporting.js" %}" type="text/javascript"></script>
<script src="{% static "js/highcharts.4.2.5.offline-exporting.js" %}" type="text/javascript"></script>

<script src="{% static "jquery/js/jquery_timeago.js" %}"></script>
<style>
.Water {
pointer-events:none;      

position:   fixed;
z-index:    100;
bottom:        0;
left:       0;
height:     0%;
width:      100%;
/*background: rgba(89,146,194,.55);
      opacity: 0.8;*/
  }
.bluewater{
background: rgba(89,146,194,.55);
opacity: 0.8;
position:absolute;
#bottom:0;
height:97%;
width:10px;
margin-top:3%;
-webkit-animation-name: wave;
-webkit-animation-duration: 3s;
-webkit-animation-iteration-count: infinite;
-webkit-transition-timing-function: ease-in-out;
}
@-webkit-keyframes wave{
0%{
height:97%;
margin-top:3%;
}
50%{
height:100%;
margin-top:0%;
}
100%{
height:97%;
margin-top:3%;
}}

.calbox{
background-color: white;
border-width: 1px;
border-color: #D5D5D5; /*#5992c2w;*/
border-style: solid;
#width:100%;
min-height:500px;
margin-top: 5px;
margin-bottom: 5px;
/*box-shadow: 10px 10px 5px #888888;*/
padding-top:10px;
}
.lrow{
padding-top:14px;
padding-bottom:10px;
min-height:50px;
border-bottom: solid;
border-color: #AAAAAA;
border-width:1px;

}
.withbutton{
width: calc(100% - 150px);
}
</style>
<div id="water" class="Water"></div>
<h3 style="margin-top:10px">Welcome back <span id="username_span">{{ user.username }}</span> &nbsp;<span id="watertext" style="color:white;background-color:red"></span></h3>
{% if user.username == "acolijn" %}
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <script type="text/javascript" src="https://www.windfinder.com/widget/forecast/js/zandvoort_aan_zee?unit_wave=m&unit_rain=mm&unit_temperature=c&unit_wind=kts&columns=3&days=4&show_day=1"></script><noscript><a href='https://www.windfinder.com/forecast/zandvoort_aan_zee?utm_source=forecast&utm_medium=web&utm_campaign=homepageweather&utm_content=noscript-forecast'>Wind forecast for Zandvoort aan Zee</a> provided by <a href='https://www.windfinder.com?utm_source=forecast&utm_medium=web&utm_campaign=homepageweather&utm_content=noscript-logo'>windfinder.com</a></noscript>
  </div>
  <div class="col-xs-12 col-sm-6">
    <img src="https://media.giphy.com/media/sUCS1kxgkWBnG/giphy.gif" style="width:100%"/>
  </div>
</div>
<hr>
{% endif %}
{% if user.username == "tunnelll" %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?list=FLaIRNaoirM9sfcsl5fiUwgA;autoplay=1" frameborder="0" allowfullscreen></iframe>

{% else %}
<div class="row" style="margin:10px;">
    <div class="calbox col-xs-12 col-sm-8" style="padding-top:0;">
      <div class="row lrow" style="padding-left:10px;padding-top:4px;color:#eee;background-color:#5992c2;font-weight:bold;font-size:x-large;">
	<h3>Overview <span class="pull-right" style="font-size:14px;padding-top:10px;padding-right:5px">Current DAQ Controller: <span id="superman"></span></span>
      </h5> </h3>
    </div>

      <h4 style="padding-left:3px;margin-bottom:0;margin-left:-15px;"><strong>Latest Data</strong></h4>
      <div class="row lrow" style="border-width:0">
	<div class="col-sm-2 col-xs-12" style="background-color:#e5e5e5;color:#555;"><strong>TPC</strong></div>
	<div class="col-sm-7 col-xs-12" id="tpc_run_string"></div>	
	<div class="col-sm-3 col-xs-12" id="tpc_run_link"></div>
      </div>
      <div class="row lrow">
	<div class="col-sm-2 col-xs-12" style="background-color:#e5e5e5;color:#555"><strong>Muon Veto</strong></div>
	<div class="col-sm-7 col-xs-12" id="mv_run_string"></div>
	<div class="col-sm-3 col-xs-12" id="mv_run_link"></div>
      </div>
      <h4 style="padding-left:3px;margin-bottom:0;margin-left:-15px;"><strong>Current shifters</strong></h4>      
      
      <div class="row" style="margin-top:10px;">
	<div class="col-xs-12 col-sm-4">
          <div class="col-xs-12 col-sm-10" 
	       style="background-color:#e5e5e5;color:#555">
	    <strong>Shifter</strong>
	  </div>
          <div class="col-xs-12" id="resp_name"></div>
	  <div class="col-xs-12">
	    <i class="fa fa-envelope"></i>&nbsp;<span id="resp_email"></span>
	  </div>
	  <div class="col-xs-12">
	    <i class="fa fa-phone"></i>&nbsp;<span id="resp_phone"></span>
	  </div>      
	  <div class="col-xs-12">
	    <i class="fa fa-skype"></i>&nbsp;<span id="resp_skype"></span>
	  </div>
	  <div class="col-xs-12">
	    <i class="fa fa-github"></i>&nbsp;<span id="resp_github"></span>
	  </div>	
	</div>
	<div class="col-xs-12 col-sm-4">
          <div class="col-sm-10 col-xs-12" 
	       style="background-color:#e5e5e5;color:#555">
	    <strong>Shifter</strong>
	  </div>
	     <div class="col-xs-12" id="shifter_name"></div>
	     <div class="col-xs-12">
	    <i class="fa fa-envelope"></i>&nbsp;<span id="shifter_email"></span>
	  </div>
	  <div class="col-xs-12">
	    <i class="fa fa-phone"></i>&nbsp;<span id="shifter_phone"></span>
	  </div>
	  <div class="col-xs-12">
	    <i class="fa fa-skype"></i>&nbsp;<span id="shifter_skype"></span>
	  </div>
	  <div class="col-xs-12">
	    <i class="fa fa-github"></i>&nbsp;<span id="shifter_github"></span>
	  </div>	  
	  </div>
	  <div class="col-xs-12 col-sm-4">
          <div class="col-sm-10 col-xs-12"
               style="background-color:#e5e5e5;color:#555">
            <strong>Run Coordinator</strong>
          </div>
          <div class="col-xs-12" id="rc_name"></div>
          <div class="col-xs-12">
            <i class="fa fa-envelope"></i>&nbsp;<span id="rc_email"></span>
          </div>
          <div class="col-xs-12">
            <i class="fa fa-phone"></i>&nbsp;<span id="rc_phone"></span>
          </div>
          <div class="col-xs-12">
            <i class="fa fa-skype"></i>&nbsp;<span id="rc_skype"></span>
          </div>
          <div class="col-xs-12">
            <i class="fa fa-github"></i>&nbsp;<span id="rc_github"></span>
          </div>
        </div>

      </div>
      <div class="row">
	<hr style="width:100%;border-color:#AAAAAA">
      </div>
      <div class="row">
	<h4 style="padding-left:10px">Recent Log Entries</h4>	
      </div>
      <div class="row">
	<div class="col-xs-12" id="message_wrapper">
	  <form id="new_log_entry" action="/log/new_log_entry" method='post'>{% csrf_token %}
	    <p style="margin-bottom:0">
              <input type='text' id='new_comment_text' name='message' class='form-control withbutton'  placeholder='Make a log entry...' style="display:inline-block;"></input>
              <input class='btn btn-info btn-lg' style="display:inline-block;width:120px;margin-bottom:0;background-color:#5992c2" type=submit value='New log entry'/>
	    </p>
	    <input type="hidden" name="redirect" value="none"/>
	  </form>
	  
	  <div class="col-xs-12" id="message_panel" style="height:200px;margin-top:5px;overflow-y:scroll;margin-bottom:5px;">
	    <div class="fadeout"></div>
	  </div>
	</div>
      </div>      
    </div>
    <div class="calbox col-xs-12 col-sm-4" style="padding-top:0;min-height:250px;">
      <div style="position:relative;top:0;left:0;"><strong>TPC DAQ uptime this month</strong></div>
      <div class="row" style="height:250px" id="plot_div"></div>
      <div class="row lrow" style="padding-left:10px;padding-top:4px;color:#fff;background-color:#5992c2;font-weight:bold;font-size:x-large;">
      <h4>My Activity</h4>
    </div>
    <div class="row lrow">
      <div class="col-xs-6"><strong>Next shift:</strong></div>
      <div class="col-xs-6" id="next_shift_div">None scheduled</div>
    </div>
    <div class="row lrow">
      <div class="col-xs-6"><strong>Shift days (year):</strong></div>
      <div class="col-xs-6" id="shifts_year_div">0</div>
    </div>
    <div class="row lrow">
      <div class="col-xs-6"><strong>Shift days (all time):</strong></div>
      <div class="col-xs-6" id="shifts_ever_div">0</div>
    </div>
    <div class="row lrow">
      <div class="col-xs-6"><strong>My Affiliation:</strong></div>
      <div class="col-xs-6" id="inst_name_div"><a href="/profile">Set in profile</a></div>
    </div>
    <!--<div class="row lrow">
      <div class="col-xs-6"><strong>Institute shifts (done/total):</strong></div>
      <div class="col-xs-6" id="inst_shift_div">0</div>
    </div>-->
    <div class="row lrow">
      <div class="col-xs-6"><strong>Runs started:</strong></div>
      <div class="col-xs-6" id="runs_started_div"></div>
    </div>
    <!--<div class="row lrow">
      <div class="col-xs-6"><strong>Last visit (CET):</strong></div>
      <div class="col-xs-6" id="last_login_div">{{ user.last_login }}</div>
    </div>-->
    </div>    

</div>

<script>
  var userURL="/get_user_doc";
  var runURL = "/runs/last_run_per_det";
  var supermanURL = "/supermanrequest";
  var logURL = "/log/get_dispatcher_log";
  var startedURL = "/runs/runs_started";
  var uptimeURL = "/monitor/runstats_uptime/?this_month=true";
  var shiftHistoryURL = "/management/shift_history";

  function get_water_level(){ return;
                                                   console.log("water1");
wavecount= Math.floor(window.innerWidth/10);
docFrag = document.createDocumentFragment();
var offset = $("#content").offset()['left'];
offset=0;
//console.log(offset);
//console.log("offset");
for(var i=0; i<wavecount; i+=1){
var wave =document.createElement("div");
wave.className += "bluewater";
docFrag.appendChild(wave);
wave.style.left = (offset+i*10)+"px";
wave.style.webkitAnimationDelay = (i/100)+"s";
}
document.getElementById("water").appendChild(docFrag);
     $.getJSON("/slow_control/get_water_level", function(data){
       console.log("Water");
       console.log(data['value']);
       pct = (Math.floor(100*(data['value']/10))).toString();
console.log(pct);
console.log(window.innerHeight);
windowheight = window.innerHeight;
  pct = (Math.floor(windowheight*(data['value']/9))).toString();

divheight = $("#content").innerHeight();
console.log(divheight);
bottomstr = (divheight-windowheight).toString()+"px";
console.log(bottomstr);
//$('#water').css("bottom", bottomstr);
       $('#water').animate({

        height: pct+"px"
    }, 5000, function(){document.getElementById("watertext").innerHTML="Water level is already " + data['value'].toFixed(2) + " meters!";})
     });


  }

  function toHashtagUrl(hashtag) {
return "#";
//  return "http://myservice.com?q=" + hashtag;
}

  function DrawLogWindow( logdiv, Url ) {
  $.getJSON(Url, function(data){
  var html_string = "<table class='table table-striped table-condensed borderless'><tbody>";
      for ( x=0; x<data.length; x+=1 ){				
	html_string += "<tr><td style='width:200px'>" + (new Date(data[x]['time']['$date'])).toISOString().slice(0,16) + "</td>" +
                                "<td style='width:200px'><strong>" + data[x]['sender'] + "</strong></td>" +
                                "<td class='hashes'>" + data[x]['message'] + "</td></tr>";
				}
				html_string += "</tbody></table>"
				document.getElementById( logdiv).innerHTML = html_string;
				$(".hashes").linkify(toHashtagUrl);
				
				});
  }

  $( function() {
				get_water_level();
	$.getJSON(startedURL, function(data){	
   document.getElementById("runs_started_div").innerHTML = data['mine'] + " (out of "+ data['total'] + " total)";
  });
	$.getJSON(shiftHistoryURL, function(data){
             console.log("Shifts");
             console.log(data);
	    document.getElementById("next_shift_div").innerHTML = new Date(data['next_shift']['$date']).toDateString();
	    document.getElementById("shifts_ever_div").innerHTML = data['shifts_total'];
	document.getElementById("shifts_year_div").innerHTML = data['shifts_thisyear'];

        });
        $.getJSON(uptimeURL, function(data){
				tot=1.;
				series=[];				

				for(var key in data){
				series.push({"name": key, "y": data[key]});
				tot=tot-data[key];
				}
				if(tot>0.) series.push({"name":"Idle", "y": tot});

	Highcharts.setOptions({
 colors: ['#49dcb1', '#ef767a', '#eeb868', '#3A3335', '#3A4F41', '#5992c2', '#0D1B1E', '#456990']
});

		$('#plot_div').highcharts({
	credits: {enabled: false},

				chart: {type: 'pie', height:250,spacingTop: 0,
            spacingLeft: 2,
	   spacingRight: 2,
            spacingBottom: 2,
},exporting: { enabled: false },
				title: {text: ''},
				plotOptions: {
				   series: {animation:false,
             				dataLabels: {
	                                  enabled: true,
                                          formatter: function(){
 console.log(this);
                                            var ret;
                                            if(this.key=="Idle")
                                               ret = "Idle: ";
                                            else if(this.key=="None")
                                               ret = "No source: ";
                                            else
                                               ret = this.key + ": ";
                                           ret += Highcharts.numberFormat(this.y, 2);
                                           return ret;
                                          },
//                  			format: '{point.name}: {point.y:.1f}'
		         		}
			           }
				},
                                tooltip: {
                                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
                                 },
                                series: [{ name:'Uptime', data:series,}]});
				console.log("UPTIME");
				console.log(data);
});

      $.getJSON(userURL, function(data){

          if("nickname" in data['user'])
              document.getElementById("username_span").innerHTML = data['user']['nickname'];
              document.getElementById("inst_name_div").innerHTML = data['user']['institute'];
      });
        $.getJSON(runURL, function(data){
console.log(data);
           var url = "/runs/?startdate=&enddate=&mode=All&custom=%7B%22name%22%3A+%22" + data['tpc']['name'] + "%22%7D&submit=";
           document.getElementById("tpc_run_string").innerHTML = 
               "<strong>" + data['tpc']['user'] + 
               "</strong> started run <strong>" + data['tpc']['number'] + 
               " </strong> " + 
               jQuery.timeago(new Date(data['tpc']['date']['$date']));
 
  document.getElementById("mv_run_string").innerHTML = "<strong>" 
             + data['muon_veto']['user'] + "</strong> started run <strong>" 
             + data['muon_veto']['name'] + " </strong> " 
             + jQuery.timeago(new Date(data['muon_veto']['date']['$date']));
         var url = "/runs/?startdate=&enddate=&mode=All&custom=%7B%22name%22%3A+%22" + data['tpc']['name'] + "%22%7D&submit=";

         document.getElementById("tpc_run_link").innerHTML = "<a class='btn btn-info' style='background-color:#e5e5e5;color:#555;' href='" + url + "'>See in runs DB</a>";
         url = "/runs/?startdate=&enddate=&mode=All&custom=%7B%22name%22%3A+%22" + data['muon_veto']['name'] + "%22%7D&submit=";

  document.getElementById("mv_run_link").innerHTML = "<a class='btn btn-info' style='background-color:#e5e5e5;color:#555;' href='" +url + "'>See in runs DB</a>";

  console.log(data);
});

function set_shifter_att(prefix, data){
document.getElementById(prefix+"_name").innerHTML = data['user']['first_name'] + " " + data['user']['last_name'];
       var email = data['user']['email'];
       if(email == null)
         email = "-";     
        document.getElementById(prefix+"_email").innerHTML = email;
	 var cell = data['user']['cell'];
	if(cell == null)
	  cell = "-";
        document.getElementById(prefix+"_phone").innerHTML = cell;
        var skype = data['user']['skype_id'];
	if(skype == null)
	  skype = "-";
	document.getElementById(prefix+"_skype").innerHTML = skype;
	var github = data['user']['github_id'];
	if(github == null)
	  github = "-";
        document.getElementById(prefix+"_github").innerHTML = github;
}

  $.getJSON(supermanURL, function(data){
   document.getElementById("superman").innerHTML = data['starting_user'];
  });
  
  // Shifter section. Right now we choose two poor guys and hardcode them
	
  var shifturl = "/management/get_current_shifters";
  $.getJSON(shifturl, function(shiftdata){
     var shifters = shiftdata['shifters'];

     if(shifters.length >=1){
        var url = userURL + "/?user_name=" + shifters[0];
        $.getJSON(url, function(data){     
	   prefix = "resp";
	   set_shifter_att(prefix, data);
         });  
     }
     if(shifters.length >=2){
        var url = userURL + "/?user_name=" + shifters[1];
       $.getJSON(url, function(data){
	prefix = "shifter";
           set_shifter_att(prefix, data);
        });
     }
     if(shiftdata['run_coordinator'].length!=0){
       var url = userURL + "/?user_name=" + shiftdata['run_coordinator'][0];
       $.getJSON(url, function(data){
        prefix = "rc";
	set_shifter_att(prefix, data);
       });
     }
});

var frm = $('#new_log_entry');
     frm.submit(function(){
        if(document.getElementById("new_comment_text").value == "")
                return false;
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
           success: function(data)
           {
               DrawLogWindow("message_panel", logURL);
           }
         });
        document.getElementById("new_comment_text").value="";
        return false;
     });
      DrawLogWindow( "message_panel", logURL );

 });
</script>

{% endif %}
