{% extends "base.html" %}
{% block content2 %}
{% load staticfiles %}


<div class="col-sm-12" style="margin-top:50px;">
   <h2>Login</h2>
   <p>You need to log in to view the site. This is your normal lab user/password.</p>
</div>

<br>
<div class="col-sm-12">
  <form action="{% url "login" %}" method="post" accept-charset="utf-8">
    {% csrf_token %}
    {{ form }}
    <input type="hidden" name="next" value="{{ next }}" />
    <br>
    <input class="btn btn-success" style="margin-top:10px;" type="submit" value="Login" />
  </form>
</div>

{% endblock %}
