{% extends "base.html" %}
{% load staticfiles %}
{% load log_extras %}
{% block content %}
<script src="{% static "jquery-ui-1.11.1/jquery-ui.js"%}"></script>
<script src="{% static "js/summernote.min.js"%}"></script>
<link href="{% static "jquery-ui-1.11.1/jquery-ui.css" %}" rel="stylesheet">
<link href="{% static "emo/css/emo_logstyle.css" %}" rel="stylesheet">
<link href="{% static "css/summernote.css" %}" rel="stylesheet">
<script src="{% static "DataTables-1.10.7/media/js/jquery.dataTables.min.js"%}"></script>
<link href="{% static "DataTables-1.10.7/media/css/jquery.dataTables.min.css"%}" rel="stylesheet" />

  <script type="text/javascript">
    $(function() {
	$( "#id_startdate" ).datepicker({
	    changeMonth: true,
	    changeYear: true
	});
    });
  $(function() {
      $( "#id_enddate" ).datepicker({
	  changeMonth: true,
	  changeYear: true
      });
  });
  </script>

<style type="text/css">
    #id_start_date, #id_end_date, #id_priority, #id_custom, #id_user, #id_detector, #id_run_name{
        height: 20px;
        width: 70%;
        margin-top:10px;
    }
    #t_user{
       background-color:blue;
       color:white;
    }
    #t_warning{
       background-color: yellow;
    }
    #t_error{
       background-color: red;
       color: white;
    }
    td.details-control {
     background: url('{%static "img/details_open.png" %}') no-repeat center center;
     cursor: pointer;
    }
    tr.shown td.details-control {
       background: url('{%static "img/details_close.png" %}') no-repeat center center;
    }
</style>

<div class="col-xs-12 emo-search-bar">
    <form method="GET" action="/log/">
        <div class="row">
            <div class="col-sm-1" style="line-height:40px;"><strong>Filter:</strong></div>
            <div class="col-sm-2">From: {{form.start_date}} </div>
            <div class="col-sm-2">To: {{form.end_date}} </div>
            <div class="col-sm-2">Priority: {{ form.priority }}</div>
            <div class="col-sm-2">User: {{ form.user }}</div>
            <div class="col-sm-3">Run: {{ form.run_name }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1">Detector: {{  form.detector }}</div>
            <div class="col-sm-5">MongoDB Query: {{ form.custom }} </div>
            <div class="col-sm-2 col-sm-offset-1">
                <button class="btn btn-info btn-sm" style="margin:8px;" type="submit" name="submit" style="height:30%;">Filter</button>
            </div>
        </div>
    </form>
</div>

<div class="row" style="margin-top:110px;">
<div class="col-xs-3 col-sm-3">
    <h3>DAQ Logbook</h3>
</div>
<div class="col-xs-1 col-sm-1 col-xs-offset-8">
  <button onclick="NewComment()" class="btn btn-info pull-right" style="margin-top:10px;">+ NewEntry </a>
</div>
</div>

<table class="display" id="logtable"> 
  <thead>
    <tr>
      <th>Expand</th>
      <th> Time (UTC)</th>
      <th> Sender </th>
      <th> Message </th>
      <th>Comments</th>
      <th>Flag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="width:10px" class="details-control"></td>
      <td style="color:black;"></td>
      <td style="color:black;"></td>
      <td style="color:black;"></td>
      <td style="pull-right"> <span class="glyphicon glyphicon-comment">&nbsp</span></td>
      <td></td>
    </tr>
  </tbody>
</table>

<script>
function format ( d ) {
    // `d` is the original data object for the row
    var ret =
   '<table cellpadding="5" cellspacing="0" border="0" style="width:100%;margin-bottom:10px;">';
 
      if(d.comments != null){
      for( x=0; x<d.comments.length; x+=1){
          var m = new Date(d.comments[x].date['$date']);
             var dateString = m.getUTCFullYear() +
                 "/"+ (m.getUTCMonth()+1) +"/"+ m.getUTCDate() + " " +
                m.getUTCHours() + ":" + m.getUTCMinutes() + ":" + m.getUTCSeconds();

        ret += '<tr style="border-width:1px;border-color:#EEEEEE;border-style:solid;">'+
          '<td style="width:15%">'+dateString+'</td>'+
          '<td style="width:10%">'+d.comments[x].user+'</td>'+
          '<td style="min-width:60%">'+ d.comments[x].text+ '</td>'+
        '</tr>';
     }}
ret += '</table>';
     console.log(d);
     ret += "<form action='/log/new_comment/' method='post'>" +
				     "{% csrf_token %}" +     
            '<textarea id="' + d._id['$oid'] + '_formtext" style="width:100%" name="content"></textarea>' +  
             '<br>' +                                                            
             '<input style="margin-top:10px;" type="hidden" name="redirect_url" value="{{ request.get_full_path }}"/>' +  
             '<button class="btn btn-info" type="submit" value="' + d._id['$oid'] + '" name="log_id" style="margin-bottom:15px;">New comment</button>';
     if(d.priority == 2 || d.priority ==3 || d.priority ==4 ){
             ret += '&nbsp;<input type="checkbox" name="close_issue">Close Issue</input>';
     }
      ret +=  '</form>';
     return ret;
}

$(document).ready(function(){

   var thedata = {{ log_list|safe }};
	var table = $('#logtable').DataTable({
	  "data": thedata,
          "columns": [
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },
            { "data": "time", "width": "15%", "render": function (data) {
	      var m = new Date(data['$date']);
	     var dateString = m.getUTCFullYear() +
		 "/"+ (m.getUTCMonth()+1) +"/"+ m.getUTCDate() + " " + 
		m.getUTCHours() + ":" + m.getUTCMinutes() + ":" + m.getUTCSeconds();
	     return dateString;
    } },
            { "data": "sender" },
            { "data": "message", "width": "60%" },
            { "data": "comments", "render":function(data){if(data==null) return 0; return data.length} },
            { "data": "priority",
              "render": function(data){
                  if(data==1)
		    return "info";
                  else if(data == 0)
                    return "user";
                  else if(data==2)
                    return "open warning";
                  else if(data==7)
                    return "closed warning";
                  else if(data == 3)
                    return "open error";
		  else if(data==8)
	            return "closed error";
                  else if(data == 4)
                    return "open fatal";
                  else if(data==9)
                    return "closed fatal";
                  else if(data==5)
                    return "command";
                  else { console.log(data); return "";}
          }},],
          
          "order": [[ 1, "desc" ]],
          "iDisplayLength": 50,
          "createdRow": function ( row, data, index ) {				  
            $('td', row).eq(5).css('font-weight', 'bold');
            if ( data['priority'] == 2 || data['priority']==7) {
                $('td', row).eq(5).css('background-color', '#ffd800');
            }
            else if(data['priority'] == 3 || data['priority']==4 || data['priority'] == 8 || data['priority']==9){
                $('td', row).eq(5).css('background-color', '#e86850');
                $('td', row).eq(5).css('color', 'white');
            }
            else if(data['priority'] == 0){
                $('td', row).eq(5).css('background-color', '#587498');
                $('td', row).eq(5).css('color', 'white');

            }
            else if(data['priority'] == 5){
                $('td', row).eq(5).css('background-color', '#587058');
                $('td', row).eq(5).css('color', 'white');
            }
        }
     });

 // Add event listener for opening and closing details
    $('#logtable tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
});




//$(document).ready(function(){
var summernoteform = function (name) {
formname = '#' + name + '_formtext';
console.log(formname);
//formname = '.summernotediv';
$(formname).summernote({
  height: 200,
//  focus: true,                 // set focus to editable area after initializing summernote
/*toolbar: [
    //[groupname, [button list]]

    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']],
  ],*/
});
};

function NewComment(){
    title = "New Log Entry";
    message = "<form action='/log/new_log_entry' method='post'>{% csrf_token %}<textarea type='text' id='new_comment_text' \
        name='message' class='form-control'  placeholder \
        ='New comment...' ></textarea><hr><input class='btn btn-info btn-lg' type=submit value='New comment'/></form>";
 $("#new_comment_text").summernote({height:200});
 BootstrapDialog.show({
     			title: title,
     		//	top: 40px;
            message: message,
  });

};
</script>




{% endblock %}
