{% extends "base.html" %}
{% load staticfiles %}
{% load log_extras %}
{% block content %}
<script src="{% static "jquery-ui-1.11.1/jquery-ui.js"%}"></script>
<script src="{% static "js/summernote.min.js"%}"></script>
<script src="{% static "js/Ply.min.js" %}" type="text/javascript"></script>
<link href="{% static "jquery-ui-1.11.1/jquery-ui.css" %}" rel="stylesheet">
<link href="{% static "emo/css/emo_logstyle.css" %}" rel="stylesheet">

<link href="{% static "css/summernote.css" %}" rel="stylesheet">
<script src="{% static "js/summernote.min.js" %}" type="text/javascript"></script>
<!--<script src="{% static "DataTables-1.10.7/media/js/jquery.dataTables.min.js"%}"></script>
<link href="{% static "DataTables-1.10.7/media/css/jquery.dataTables.min.css"%}" rel="stylesheet" />-->
<!-- Quill for markup -->
<link href="{% static "quill/quill.snow.css" %}" rel="stylesheet">
<script src="{% static "quill/quill.min.js" %}" type="text/javascript"></script>


<script src="{% static "DataTables-1.10.9/media/js/jquery.dataTables.min.js"%}"></script>
<script src="{% static "DataTables-1.10.9/media/js/dataTables.bootstrap.min.js"%}"></script>
<link href="{% static "DataTables-1.10.9/media/css/dataTables.bootstrap.min.css"%}" rel="stylesheet" />
<link href="{% static "css/ply.css" %}" rel="stylesheet">


  <script type="text/javascript">
    $(function() {
	$( "#id_startdate" ).datepicker({
	    changeMonth: true,
	    changeYear: true
	});
    });
  $(function() {
      $( "#id_enddate" ).datepicker({
	  changeMonth: true,
	  changeYear: true
      });
  });
  </script>

<style type="text/css">
    #id_start_date, #id_end_date, #id_priority, #id_custom, #id_user, #id_detector, #id_run_name{
        height: 20px;
        width: 70%;
        margin-top:10px;
    }
    #t_user{
       background-color:blue;
       color:white;
    }
    #t_warning{
       background-color: yellow;
    }
    #t_error{
       background-color: red;
       color: white;
    }
    td.details-control {
     background: url('{%static "img/details_open.png" %}') no-repeat center center;
     background-color: white;
     cursor: pointer;
    }
    tr.shown td.details-control {
       background: url('{%static "img/details_close.png" %}') no-repeat center center;
       background-color: white;
       cursor: pointer;
    }
</style>

<div class="col-xs-12 emo-search-bar">
    <form method="GET" action="/log/">
        <div class="row">
            <div class="col-sm-1" style="line-height:40px;"><strong>Filter:</strong></div>
            <div class="col-sm-2">From: {{form.start_date}} </div>
            <div class="col-sm-2">To: {{form.end_date}} </div>
            <div class="col-sm-2">Priority: {{ form.priority }}</div>
            <div class="col-sm-2">User: {{ form.user }}</div>
            <div class="col-sm-3">Run: {{ form.run_name }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1">Detector: {{  form.detector }}</div>
            <div class="col-sm-5">MongoDB Query: {{ form.custom }} </div>
            <div class="col-sm-2 col-sm-offset-1">
                <button class="btn btn-info btn-sm" style="margin:8px;" type="submit" name="submit" style="height:30%;">Filter</button>
            </div>
        </div>
    </form>
</div>

<div class="row" style="margin-top:110px;">
  <div class="col-xs-3 col-sm-3">
    <h3>DAQ Logbook</h3>
  </div>
  <div class="col-xs-1 col-sm-1 col-xs-offset-8">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#logModal">+ New Entry</button>
  </div>
</div>

<table class="table emo-disjointed-table" id="logtable" width="100%"> 
  <thead class="emo-disjointed-table-head">
    <tr>
      <th>Expand</th>
      <th> Time (UTC)</th>
      <th> Sender </th>
      <th> Message </th>
      <th>Comments</th>
      <th>Flag</th>
    </tr>
  </thead>
  <tbody class="emo-disjointed-table-body">
    <tr class="emo-disjointed-table-row">
      <td style="width:10px" class="details-control"></td>
      <td style="color:black;"></td>
      <td style="color:black;"></td>
      <td style="color:black;"></td>
      <td style="pull-right"> <span class="glyphicon glyphicon-comment">&nbsp</span></td>
      <td></td>
    </tr>
  </tbody>
</table>


<!-- New Entry Modal -->
<div id="logModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Log Entry</h4>
      </div>
      <div class="modal-body">
        <form id='new_comment_form' action='/log/new_log_entry' method='post'>
	  {% csrf_token %}
	  <textarea type='text' id='new_comment_text' name='message' 
		    class='form-control'  placeholder='New comment...' 
		    style='width:80%;height:70%'>New comment...</textarea><hr> 
          <input class='btn btn-info btn-lg' type=submit value='New comment'/>
	</form>
      </div>
    </div>    
  </div>
</div>

<script>
function format ( d ) {
    // `d` is the original data object for the row
    var ret =
   '<div class="slider" style="background-color:#eeeeee;padding-left:0;padding-right:0;"><table cellpadding="5" cellspacing="0" border="0" style="background-color:white;width:100%;margin-bottom:10px;">';
 
      if(d.comments != null){
      for( x=0; x<d.comments.length; x+=1){
          var m = new Date(d.comments[x].date['$date']);
             var dateString = m.getUTCFullYear() +
                 "/"+ ("0"+m.getUTCMonth()+1).slice(-2) +"/"+ 
				     ("0"+m.getUTCDate()).slice(-2) + " " +
                ("0"+m.getUTCHours()).slice(-2) + ":" + 
				     ("0"+m.getUTCMinutes()).slice(-2) + ":" + 
				     ("0"+m.getUTCSeconds()).slice(-2);

        ret += '<tr style="border-width:1px;border-color:#999999;border-style:solid;border-left:0;border-right:0;">'+
          '<td valign="top" style="width:15%;padding:5px;">'+dateString+'</td>'+
          '<td valign="top" style="width:10%;padding:5px;"><stong>'+d.comments[x].user+'</strong></td>'+
          '<td style="min-width:60%;background-color:white;padding:5px;" class="hashes">'+ d.comments[x].text+ '</td>'+
        '</tr>';
     }}
ret += '</table>';
     console.log(d);
     ret += "<form onsubmit='if(!OKtoSubmit) event.preventDefault();' id='comment_form' action='/log/new_comment/' style='width:100%;' method='post'>" +
				     "{% csrf_token %}" +     
            '<textarea id="' + d._id['$oid'] + '_formtext" name="content" placeholder="New threaded comment..." style="width:100%;border-left:0;border-right:0">New threaded comment...</textarea>' +  
             '<br>' +                                                            
             '<input style="margin-top:10px;" type="hidden" name="redirect_url" value="{{ request.get_full_path }}"/>' +  
             '<button class="btn btn-info" type="submit" value="' + d._id['$oid'] + '" name="log_id" style="margin-bottom:15px;margin-left:15px" onclick="SubmitComment()">New comment</button>' + 
		'<input type="hidden" name="log_id" value="' + d._id['$oid'] + '"/>';
     if(d.priority == 2 || d.priority ==3 || d.priority ==4 ){
		ret += '&nbsp;<button class="btn btn-warning" onclick="ConfirmClose()">Submit and Close Issue</button>';
            ret += '&nbsp;<input class="hidden" type="checkbox" name="close_issue" onclick="ConfirmClose()"></input>';
     }
      ret +=  '</form></div>';

     return ret;
}
var OKtoSubmit = false;
function SubmitComment(){
	OKtoSubmit=true;
	$("#comment_form").submit();
        OKtoSubmit=false;

}
function ConfirmClose(){

Ply.dialog("confirm", "You're closing this alert. This means you understand what the alert means and know the problem has now been solved. You may confirm this by clicking OK. If you need help please contact the DAQ group.")
    .done(function(ui){ 
$("[name=close_issue]").attr("checked", true); 
SubmitComment();
$("[name=close_issue]").attr("checked", false);

});

}
function toHashtagUrl(hashtag) {
return "#";
//  return "http://myservice.com?q=" + hashtag;
}


$(document).ready(function(){

 $("#new_comment_text").summernote({height:200,
toolbar: [
    // [groupName, [list of button]]
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']],
    ['insert', ['table', 'hr']]
  ],
                        "disableDragAndDrop": true,
});

   var thedata = {{ log_list|safe }};
	var table = $('#logtable').DataTable({
	  "data": thedata,
 "drawCallback": function( settings ) {
$(".hashes").linkify(toHashtagUrl);

    },
"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
  nRow.className += " emo-disjointed-table-row";
  return nRow;
},
          "columns": [
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },
            { "data": "time", "width": "15%", "render": function (data) {
	      var m = new Date(data['$date']);
	     var dateString = m.getUTCFullYear() +
		 "/"+ (m.getUTCMonth()+1) +"/"+ m.getUTCDate() + " " + 
		m.getUTCHours() + ":" + m.getUTCMinutes() + ":" + m.getUTCSeconds();
	     return dateString;
    } },
            { "data": "sender", "render": function(data){
                  return "<strong>"+data+"</strong>"; }},
            { "data": "message", "width": "60%", className: "hashes" },
            { "data": "comments", "render":function(data){if(data==null) return 0; return data.length} },
            { "data": "priority",
              "render": function(data){
                  if(data==1)
		    return "info";
                  else if(data == 0)
                    return "user";
                  else if(data==2)
                    return "open warning";
                  else if(data==7)
                    return "closed warning";
                  else if(data == 3)
                    return "open error";
		  else if(data==8)
	            return "closed error";
                  else if(data == 4)
                    return "open fatal";
                  else if(data==9)
                    return "closed fatal";
                  else if(data==5)		 
                    return "command";
                  else if(data==10)
                    return "SC alarm";
                  else { console.log(data); return "";}
          }},],
          
          "order": [[ 1, "desc" ]],
          "iDisplayLength": 50,
          "createdRow": function ( row, data, index ) {				  
            $('td', row).eq(5).css('font-weight', 'bold');
            if ( data['priority'] == 2 || data['priority']==7) {
                $('td', row).eq(5).css('background-color', '#ffd800');
            }
            else if(data['priority'] == 10){
                 $('td', row).eq(5).css('background-color', '#ff6600');
                $('td', row).eq(5).css('color', 'white');
            }
            else if(data['priority'] == 3 || data['priority']==4 || data['priority'] == 8 || data['priority']==9){
                $('td', row).eq(5).css('background-color', '#e86850');
                $('td', row).eq(5).css('color', 'white');
            }
            else if(data['priority'] == 0){
                $('td', row).eq(5).css('background-color', '#587498');
                $('td', row).eq(5).css('color', 'white');

            }
            else if(data['priority'] == 5){
                $('td', row).eq(5).css('background-color', '#587058');
                $('td', row).eq(5).css('color', 'white');
            }
        }
     });

 // Add event listener for opening and closing details
    $('#logtable tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            $('div.slider', row.child()).slideUp( function () {
               row.child.hide();
               tr.removeClass('shown');
            });
        }
        else {
            // Open this row

            row.child( format(row.data()), 'no-padding'  ).show();
	    tr.addClass('shown', 250, 'linear', 
            function(){
                 $("#"+row.data()['_id']['$oid']+"_formtext").summernote({
                     "height": 150,
			"disableDragAndDrop": true,
		      toolbar: [
                      
                         ['style', ['bold', 'italic', 'underline', 'clear']],
                         ['font', ['strikethrough', 'superscript', 'subscript']],
                         ['fontsize', ['fontsize']],
                         ['color', ['color']],
                         ['para', ['ul', 'ol', 'paragraph']],
                         ['height', ['height']],
                         ['insert', ['table', 'hr']]
                      ]

                 });
                  console.log("BABA");
                  console.log(row.data()['_id']['$oid']);
               });
		$('div.slider', row.child()).slideDown();
        }
	$(".hashes").linkify(toHashtagUrl);

    } );
});








</script>




{% endblock %}
